In [1]:
import numpy as np
import pandas as pd

In [69]:
fornr17=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
seoul18=pd.read_csv('경찰 외국인 18.csv',encoding='cp949')
seoul19=pd.read_csv('경찰 외국인 19.csv',encoding='cp949')

In [71]:
fornr.head()

  행정구역(읍면동)별(1) 행정구역(읍면동)별(2)    시점     합계
0         서울특별시           강동구  2017   8196
1         서울특별시           강북구  2017   6487
2         서울특별시           강서구  2017  12532
3         서울특별시           관악구  2017  29335
4         서울특별시           광진구  2017  21216

In [72]:
fornr17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seoul18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seoul19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [73]:
fornr17.at[0,'행정구역(읍면동)별(2)'] = '서울강동경찰서' 
fornr17.at[1,'행정구역(읍면동)별(2)'] = '서울강북경찰서' 
fornr17.at[2,'행정구역(읍면동)별(2)'] = '서울강서경찰서' 
fornr17.at[3,'행정구역(읍면동)별(2)'] = '서울관악경찰서' 
fornr17.at[4,'행정구역(읍면동)별(2)'] = '서울광진경찰서' 
fornr17.at[5,'행정구역(읍면동)별(2)'] = '서울구로경찰서' 
fornr17.at[6,'행정구역(읍면동)별(2)'] = '서울금천경찰서' 
fornr17.at[7,'행정구역(읍면동)별(2)'] = '서울노원경찰서' 
fornr17.at[8,'행정구역(읍면동)별(2)'] = '서울도봉경찰서' 
fornr17.at[9,'행정구역(읍면동)별(2)'] = '서울동대문경찰서' 
fornr17.at[10,'행정구역(읍면동)별(2)'] = '서울동작경찰서' 
fornr17.at[11,'행정구역(읍면동)별(2)'] = '서울마포경찰서' 
fornr17.at[12,'행정구역(읍면동)별(2)'] = '서울서대문경찰서' 
fornr17.at[13,'행정구역(읍면동)별(2)'] = '서울성동경찰서' 
fornr17.at[14,'행정구역(읍면동)별(2)'] = '서울송파경찰서' 
fornr17.at[15,'행정구역(읍면동)별(2)'] = '서울양천경찰서' 
fornr17.at[16,'행정구역(읍면동)별(2)'] = '서울영등포경찰서' 
fornr17.at[17,'행정구역(읍면동)별(2)'] = '서울용산경찰서' 
fornr17.at[18,'행정구역(읍면동)별(2)'] = '서울중랑경찰서'

In [74]:
fornr17.drop(19, inplace=True)

KeyError: '[19] not found in axis'

In [75]:
fornr17

   행정구역(읍면동)별(2)    시점     합계
0        서울강동경찰서  2017   8196
1        서울강북경찰서  2017   6487
2        서울강서경찰서  2017  12532
3        서울관악경찰서  2017  29335
4        서울광진경찰서  2017  21216
5        서울구로경찰서  2017  49996
6        서울금천경찰서  2017  30317
7        서울노원경찰서  2017   6539
8        서울도봉경찰서  2017   4145
9       서울동대문경찰서  2017  20374
10       서울동작경찰서  2017  18592
11       서울마포경찰서  2017  13842
12      서울서대문경찰서  2017  14763
13       서울성동경찰서  2017  12604
14       서울송파경찰서  2017  12233
15       서울양천경찰서  2017   8152
16      서울영등포경찰서  2017  54145
17       서울용산경찰서  2017  17629
18       서울중랑경찰서  2017   8475

In [76]:
seoul18

   행정구역(읍면동)별(2)    시점     합계
0            강동구  2018   8764
1            강북구  2018   7015
2            강서구  2018  13192
3            관악구  2018  30267
4            광진구  2018  22554
5            구로구  2018  54089
6            금천구  2018  32556
7            노원구  2018   7697
8            도봉구  2018   4560
9           동대문구  2018  22318
10           동작구  2018  19970
11           마포구  2018  14746
12          서대문구  2018  16065
13           성동구  2018  13555
14           송파구  2018  13112
15           양천구  2018   8418
16          영등포구  2018  56483
17           용산구  2018  20841
18           중랑구  2018   9132

In [77]:
seoul18.at[0,'행정구역(읍면동)별(2)'] = '서울강동경찰서' 
seoul18.at[1,'행정구역(읍면동)별(2)'] = '서울강북경찰서' 
seoul18.at[2,'행정구역(읍면동)별(2)'] = '서울강서경찰서' 
seoul18.at[3,'행정구역(읍면동)별(2)'] = '서울관악경찰서' 
seoul18.at[4,'행정구역(읍면동)별(2)'] = '서울광진경찰서' 
seoul18.at[5,'행정구역(읍면동)별(2)'] = '서울구로경찰서' 
seoul18.at[6,'행정구역(읍면동)별(2)'] = '서울금천경찰서' 
seoul18.at[7,'행정구역(읍면동)별(2)'] = '서울노원경찰서' 
seoul18.at[8,'행정구역(읍면동)별(2)'] = '서울도봉경찰서' 
seoul18.at[9,'행정구역(읍면동)별(2)'] = '서울동대문경찰서' 
seoul18.at[10,'행정구역(읍면동)별(2)'] = '서울동작경찰서' 
seoul18.at[11,'행정구역(읍면동)별(2)'] = '서울마포경찰서' 
seoul18.at[12,'행정구역(읍면동)별(2)'] = '서울서대문경찰서' 
seoul18.at[13,'행정구역(읍면동)별(2)'] = '서울성동경찰서' 
seoul18.at[14,'행정구역(읍면동)별(2)'] = '서울송파경찰서' 
seoul18.at[15,'행정구역(읍면동)별(2)'] = '서울양천경찰서' 
seoul18.at[16,'행정구역(읍면동)별(2)'] = '서울영등포경찰서' 
seoul18.at[17,'행정구역(읍면동)별(2)'] = '서울용산경찰서' 
seoul18.at[18,'행정구역(읍면동)별(2)'] = '서울중랑경찰서'

In [78]:
seoul18

   행정구역(읍면동)별(2)    시점     합계
0        서울강동경찰서  2018   8764
1        서울강북경찰서  2018   7015
2        서울강서경찰서  2018  13192
3        서울관악경찰서  2018  30267
4        서울광진경찰서  2018  22554
5        서울구로경찰서  2018  54089
6        서울금천경찰서  2018  32556
7        서울노원경찰서  2018   7697
8        서울도봉경찰서  2018   4560
9       서울동대문경찰서  2018  22318
10       서울동작경찰서  2018  19970
11       서울마포경찰서  2018  14746
12      서울서대문경찰서  2018  16065
13       서울성동경찰서  2018  13555
14       서울송파경찰서  2018  13112
15       서울양천경찰서  2018   8418
16      서울영등포경찰서  2018  56483
17       서울용산경찰서  2018  20841
18       서울중랑경찰서  2018   9132

In [79]:
seoul19.at[0,'행정구역(읍면동)별(2)'] = '서울강동경찰서' 
seoul19.at[1,'행정구역(읍면동)별(2)'] = '서울강북경찰서' 
seoul19.at[2,'행정구역(읍면동)별(2)'] = '서울강서경찰서' 
seoul19.at[3,'행정구역(읍면동)별(2)'] = '서울관악경찰서' 
seoul19.at[4,'행정구역(읍면동)별(2)'] = '서울광진경찰서' 
seoul19.at[5,'행정구역(읍면동)별(2)'] = '서울구로경찰서' 
seoul19.at[6,'행정구역(읍면동)별(2)'] = '서울금천경찰서' 
seoul19.at[7,'행정구역(읍면동)별(2)'] = '서울노원경찰서' 
seoul19.at[8,'행정구역(읍면동)별(2)'] = '서울도봉경찰서' 
seoul19.at[9,'행정구역(읍면동)별(2)'] = '서울동대문경찰서' 
seoul19.at[10,'행정구역(읍면동)별(2)'] = '서울동작경찰서' 
seoul19.at[11,'행정구역(읍면동)별(2)'] = '서울마포경찰서' 
seoul19.at[12,'행정구역(읍면동)별(2)'] = '서울서대문경찰서' 
seoul19.at[13,'행정구역(읍면동)별(2)'] = '서울성동경찰서' 
seoul19.at[14,'행정구역(읍면동)별(2)'] = '서울송파경찰서' 
seoul19.at[15,'행정구역(읍면동)별(2)'] = '서울양천경찰서' 
seoul19.at[16,'행정구역(읍면동)별(2)'] = '서울영등포경찰서' 
seoul19.at[17,'행정구역(읍면동)별(2)'] = '서울용산경찰서' 
seoul19.at[18,'행정구역(읍면동)별(2)'] = '서울중랑경찰서'

In [80]:
seocho17=pd.read_csv('서초 17.csv',encoding='cp949')
seocho18=pd.read_csv('서초 18.csv',encoding='cp949')
seocho19=pd.read_csv('서초 19.csv',encoding='cp949')

In [81]:
seocho17

   행정구역(읍면동)별(1) 행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점   합계
0          서울특별시           서초구          서초1동  2017  400
1          서울특별시           서초구          서초2동  2017  625
2          서울특별시           서초구          서초3동  2017  617
3          서울특별시           서초구          서초4동  2017  549
4          서울특별시           서초구           잠원동  2017  477
5          서울특별시           서초구          반포1동  2017  608
6          서울특별시           서초구          반포3동  2017  170
7          서울특별시           서초구          반포4동  2017  645
8          서울특별시           서초구          양재1동  2017  829
9          서울특별시           서초구          양재2동  2017  457
10         서울특별시           서초구           내곡동  2017  244

In [84]:
seocho17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seocho18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seocho19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [85]:
seocho17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
seocho18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
seocho19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)

KeyError: "['행정구역(읍면동)별(2)'] not found in axis"

In [86]:
print(seocho17['합계'].sum())
print(seocho18['합계'].sum())
print(seocho19['합계'].sum())

5621
6224
6923

In [87]:
seocho17.head()

  행정구역(읍면동)별(3)    시점   합계
0          서초1동  2017  400
1          서초2동  2017  625
2          서초3동  2017  617
3          서초4동  2017  549
4           잠원동  2017  477

In [88]:
seocho17.loc['total']=['서울서초경찰서','2017','5621']###########################
seocho18.loc['total']=['서울서초경찰서','2018','6224']
seocho19.loc['total']=['서울서초경찰서','2019','6923']

In [90]:
seocho17=seocho17.loc['total']

In [ ]:
seocho18=seocho18.loc['total']
seocho19=seocho19.loc['total']

In [128]:

seocho18=pd.DataFrame(seocho18.loc['total']).T
seocho19=pd.DataFrame(seocho18.loc['total']).T

In [5]:
jinju=pd.read_csv('진주.csv',encoding='cp949')
masandong=pd.read_excel('마산동부.xlsx')
masanjung17=pd.read_excel('마산중부17.xlsx')
masanjung18=pd.read_excel('마산중부18.xlsx')
masanjung19=pd.read_excel('마산중부19.xlsx')
jinhae=pd.read_excel('창원진해.xlsx',)
changjung17=pd.read_csv('창원중부 17.csv',encoding='cp949')
changjung18=pd.read_csv('창원중부18.csv',encoding='cp949')
changjung19=pd.read_csv('창원중부19.csv',encoding='cp949')
changseo17=pd.read_csv('창원서부17.csv',encoding='cp949')
changseo18=pd.read_csv('창원서부18.csv',encoding='cp949')
changseo19=pd.read_csv('창원서부 19.csv',encoding='cp949')
sejong=pd.read_csv('세종.csv',encoding='cp949')

In [13]:
jinju.at[0,'행정구역(읍면동)별(2)'] = '경남진주경찰서' 
jinju.at[1,'행정구역(읍면동)별(2)'] = '경남진주경찰서' 
jinju.at[2,'행정구역(읍면동)별(2)'] = '경남진주경찰서'

In [21]:
jinju.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [23]:
jinju17=jinju.loc[0]

In [133]:
jinju17=pd.DataFrame(jinju.loc[0]).T
jinju18=pd.DataFrame(jinju.loc[1]).T
jinju19=pd.DataFrame(jinju.loc[2]).T
jinju19        ###########

  행정구역(읍면동)별(2)    시점    합계
2       경남진주경찰서  2019  9741

In [30]:

masandong.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
masanjung17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
masanjung18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
masanjung19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
jinhae.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changjung17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changjung18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changjung19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changseo17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changseo18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changseo19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
sejong.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [31]:
masandong

  행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점    합계
0     창원시 마산합포구           산호동  2017   255
1           NaN           NaN  2018   267
2           NaN           NaN  2019   295
3     창원시 마산회원구            소계  2017  3929
4           NaN           NaN  2018  3967
5           NaN           NaN  2019  4136

In [32]:
masandong = masandong.reindex(index=[0,3,1,4,2,5])

In [34]:
masandong.drop('행정구역(읍면동)별(3)',axis=1,inplace=True)
masandong.at[0,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[1,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[2,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[3,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[4,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[5,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서'

In [60]:

masandong17.loc['4']=['경남마산동부경찰서','2017','4184']
masandong18.loc['9']=['경남마산동부경찰서','2018','4234']
masandong19.loc['7']=['경남마산동부경찰서','2019','4431']
mas

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [64]:
masandong17=masandong17.drop([masandong17.index[0],masandong17.index[1]])
masandong17

  행정구역(읍면동)별(2)    시점    합계
0     경남마산동부경찰서  2017  4184

In [65]:
masandong18=masandong18.drop([masandong18.index[0],masandong18.index[1]])
masandong19=masandong19.drop([masandong19.index[0],masandong19.index[1]])

In [ ]:
masanjung17=pd.read_excel('마산중부17.xlsx')
masanjung18=pd.read_excel('마산중부18.xlsx')
masanjung19=pd.read_excel('마산중부19.xlsx')
jinhae=pd.read_excel('창원진해.xlsx',)
changjung17=pd.read_csv('창원중부 17.csv',encoding='cp949')
changjung18=pd.read_csv('창원중부18.csv',encoding='cp949')
changjung19=pd.read_csv('창원중부19.csv',encoding='cp949')
changseo17=pd.read_csv('창원서부17.csv',encoding='cp949')
changseo18=pd.read_csv('창원서부18.csv',encoding='cp949')
changseo19=pd.read_csv('창원서부 19.csv',encoding='cp949')
sejong=pd.read_csv('세종.csv',encoding='cp949')

In [99]:
masanjung17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
masanjung18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
masanjung19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changjung17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changjung18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changjung19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changseo17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changseo18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changseo19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)

In [67]:
print(masanjung17['합계'].sum())
print(masanjung18['합계'].sum())
print(masanjung19['합계'].sum())
print(changjung17['합계'].sum())
print(changjung18['합계'].sum())
print(changjung19['합계'].sum())
print(changseo17['합계'].sum())
print(changseo18['합계'].sum())
print(changseo19['합계'].sum())

3268
3580
3897
8214
8536
8720
4264
4523
4670

In [100]:
masanjung17.loc['total']=['경남마산중부경찰서','2017','3268']###########################
masanjung18.loc['total']=['경남마산중부경찰서','2018','3580']
masanjung19.loc['total']=['경남마산중부경찰서','2019','3897']
changjung17.loc['total']=['경남창원중부경찰서','2017','8214']###########################
changjung18.loc['total']=['경남창원중부경찰서','2018','8536']
changjung19.loc['total']=['경남창원중부경찰서','2019','8720']
changseo17.loc['total']=['경남창원서부경찰서','2017','4264']###########################
changseo18.loc['total']=['경남창원서부경찰서','2018','4523']
changseo19.loc['total']=['경남창원서부경찰서','2019','4670']
masanjung17=pd.DataFrame(masanjung17.loc['total']).T
masanjung18=pd.DataFrame(masanjung18.loc['total']).T
masanjung19=pd.DataFrame(masanjung19.loc['total']).T
changjung17=pd.DataFrame(changjung17.loc['total']).T
changjung18=pd.DataFrame(changjung18.loc['total']).T
changjung19=pd.DataFrame(changjung19.loc['total']).T
changseo17=pd.DataFrame(changseo17.loc['total']).T
changseo18=pd.DataFrame(changseo18.loc['total']).T
changseo19=pd.DataFrame(changseo19.loc['total']).T

In [108]:
sejong.insert(0,"행정구역(읍면동)별(2)",['충남세종경찰서','충남세종경찰서','충남세종경찰서'],True)
sejong

  행정구역(읍면동)별(2)    시점    합계
0       충남세종경찰서  2017  6761
1       충남세종경찰서  2018  8187
2       충남세종경찰서  2019  9814

In [110]:
jinhae.at[0,'행정구역(읍면동)별(2)'] = '경남진해경찰서' 
jinhae.at[1,'행정구역(읍면동)별(2)'] = '경남진해경찰서' 
jinhae.at[2,'행정구역(읍면동)별(2)'] = '경남진해경찰서' 
jinhae17=pd.DataFrame(jinhae.loc[0]).T
jinhae18=pd.DataFrame(jinhae.loc[1]).T
jinhae19=pd.DataFrame(jinhae.loc[2]).T
sejong17=pd.DataFrame(sejong.loc[0]).T
sejong18=pd.DataFrame(sejong.loc[1]).T
sejong19=pd.DataFrame(sejong.loc[2]).T

In [111]:
jinhae17  #######################################################경남 , 충남, 서울, 서초 끝

  행정구역(읍면동)별(2)    시점    합계
0       경남진해경찰서  2017  5558

In [112]:
#####서울 중복

gangnam17=pd.read_csv('강남 17.csv',encoding='cp949')
gangnam18=pd.read_csv('강남 18.csv',encoding='cp949')
gangnam19=pd.read_csv('강남 19.csv',encoding='cp949')
nam17=pd.read_csv('남대문 17.csv',encoding='cp949')
nam18=pd.read_csv('남대문 18.csv',encoding='cp949')
nam19=pd.read_csv('남대문 19.csv',encoding='cp949')
bang17=pd.read_csv('방배 17.csv',encoding='cp949')
bang18=pd.read_csv('방배 18.csv',encoding='cp949')
bang19=pd.read_csv('방배 19.csv',encoding='cp949')
seobu17=pd.read_csv('서부 17.csv',encoding='cp949')
seobu18=pd.read_csv('서부 18.csv',encoding='cp949')
seobu19=pd.read_csv('서부19.csv',encoding='cp949')
songbuk17=pd.read_csv('성북 17.csv',encoding='cp949')
songbuk18=pd.read_csv('성북 18.csv',encoding='cp949')
songbuk19=pd.read_csv('성북 19.csv',encoding='cp949')
sue17=pd.read_csv('수서17.csv',encoding='cp949')
sue18=pd.read_csv('수서18.csv',encoding='cp949')
sue19=pd.read_csv('수서 19.csv',encoding='cp949')
eun17=pd.read_csv('은평 17.csv',encoding='cp949')
eun18=pd.read_csv('은평 18.csv',encoding='cp949')
eun19=pd.read_csv('은평 19.csv',encoding='cp949')
jongro17=pd.read_csv('종로경찰서 2017.csv',encoding='cp949')
jongro18=pd.read_csv('종로경찰서 2018.csv',encoding='cp949')
jongro19=pd.read_csv('종로경찰서 2019.csv',encoding='cp949')
jongarm17=pd.read_csv('종암 17.csv',encoding='cp949')
jongarm18=pd.read_csv('종암 18.csv',encoding='cp949')
jongarm19=pd.read_csv('종암 19.csv',encoding='cp949')
jungbu17=pd.read_csv('중부 17.csv',encoding='cp949')
jungbu18=pd.read_csv('중부 18.csv',encoding='cp949')
jungbu19=pd.read_csv('중부 19.csv',encoding='cp949')
hye17=pd.read_csv('혜화2017.csv',encoding='cp949')
hye18=pd.read_csv('혜화 2018.csv',encoding='cp949')
hye19=pd.read_csv('혜화 2019.csv',encoding='cp949')

#########################경기도 
kyungjung17=pd.read_csv('수원중부 17.csv',encoding='cp949')
kyungjung18=pd.read_csv('수원중부 18.csv',encoding='cp949')
kyungjung19=pd.read_csv('수원 중부 19.csv',encoding='cp949')
kyungseo17=pd.read_csv('수원서부 17.csv',encoding='cp949')
kyungseo18=pd.read_csv('수원서부 18.csv',encoding='cp949')
kyungseo19=pd.read_csv('수원서부 19.csv',encoding='cp949')
kyungnam17=pd.read_csv('수원남부17.csv',encoding='cp949')
kyungnam18=pd.read_csv('수원남부18.csv',encoding='cp949')
kyungnam19=pd.read_csv('수원남부 19.csv',encoding='cp949')

In [113]:
gangnam17
gangnam18
gangnam19
nam17
nam18
nam19
bang17
bang18
bang19
seobu17
seobu18
seobu19
songbuk17
songbuk18
songbuk19
sue17
sue18
sue19
eun17
eun18
eun19
jongro17
jongro18
jongro19
jongarm17
jongarm18
jongarm19
jungbu17
jungbu18
jungbu19
hye17
hye18
hye19

#########################경기도 
kyungjung17
kyungjung18
kyungjung19
kyungseo17
kyungseo18
kyungseo19
kyungnam17
kyungnam18
kyungnam19

   행정구역(읍면동)별(1) 행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점    합계
0            경기도       수원시 권선구          권선1동  2017   993
1            경기도       수원시 권선구           곡선동  2017   857
2            경기도       수원시 권선구          권선2동  2017   495
3            경기도       수원시 팔달구           인계동  2017  3006
4            경기도       수원시 영통구          매탄1동  2017  1020
5            경기도       수원시 영통구          매탄2동  2017   780
6            경기도       수원시 영통구          매탄3동  2017  1331
7            경기도       수원시 영통구          매탄4동  2017   536
8            경기도       수원시 영통구           태장동  2017   850
9            경기도       수원시 영통구           원천동  2017  1406
10           경기도       수원시 영통구          광교1동  2017   838
11           경기도       수원시 영통구          광교2동  2017   326
12           경기도       수원시 영통구          영통1동  2017  1942
13           경기도       수원시 영통구          영통2동  2017   915

In [114]:
gangnam17

   행정구역(읍면동)별(1) 행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점    합계
0          서울특별시           강남구           신사동  2017   473
1          서울특별시           강남구          논현1동  2017   789
2          서울특별시           강남구          논현2동  2017   541
3          서울특별시           강남구          삼성1동  2017   390
4          서울특별시           강남구          삼성2동  2017   508
5          서울특별시           강남구          대치1동  2017   170
6          서울특별시           강남구          대치4동  2017   480
7          서울특별시           강남구          역삼1동  2017  1262
8          서울특별시           강남구          역삼2동  2017   607
9          서울특별시           강남구          압구정동  2017   518
10         서울특별시           강남구           청담동  2017   619
11         서울특별시           강남구          대치2동  2017   366

In [115]:
gangnam17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
gangnam18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
gangnam19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
nam17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
nam18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
nam19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
bang17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
bang18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
bang19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
seobu17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
seobu18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
seobu19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
songbuk17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
songbuk18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
songbuk19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
sue17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
sue18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
sue19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
eun17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
eun18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
eun19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongro17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongro18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongro19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongarm17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongarm18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongarm19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jungbu17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jungbu18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jungbu19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
hye17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
hye18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
hye19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)

#########################경기도 
kyungjung17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungjung18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungjung19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungseo17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungseo18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungseo19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungnam17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungnam18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungnam19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)

In [116]:
print(gangnam17['합계'].sum())
print(gangnam18['합계'].sum())
print(gangnam19['합계'].sum())
print(nam17['합계'].sum())
print(nam18['합계'].sum())
print(nam19['합계'].sum())
print(bang17['합계'].sum())
print(bang18['합계'].sum())
print(bang19['합계'].sum())
print(seobu17['합계'].sum())
print(seobu18['합계'].sum())
print(seobu19['합계'].sum())
print(songbuk17['합계'].sum())
print(songbuk18['합계'].sum())
print(songbuk19['합계'].sum())
print(sue17['합계'].sum())
print(sue18['합계'].sum())
print(sue19['합계'].sum())
print(eun17['합계'].sum())
print(eun18['합계'].sum())
print(eun19['합계'].sum())
print(jongro17['합계'].sum())
print(jongro18['합계'].sum())
print(jongro19['합계'].sum())
print(jongarm17['합계'].sum())
print(jongarm18['합계'].sum())
print(jongarm19['합계'].sum())
print(jungbu17['합계'].sum())
print(jungbu18['합계'].sum())
print(jungbu19['합계'].sum())
print(hye17['합계'].sum())
print(hye18['합계'].sum())
print(hye19['합계'].sum())

#########################경기도 
print(kyungjung17['합계'].sum())
print(kyungjung18['합계'].sum())
print(kyungjung19['합계'].sum())
print(kyungseo17['합계'].sum())
print(kyungseo18['합계'].sum())
print(kyungseo19['합계'].sum())
print(kyungnam17['합계'].sum())
print(kyungnam18['합계'].sum())
print(kyungnam19['합계'].sum())

6723
7760
8561
1948
2405
2300
2364
2488
2832
3345
3559
3875
9006
10021
10865
2622
2846
3174
5068
5336
5626
3191
3395
3554
6332
6752
7111
9434
10736
11496
8717
9617
10641
18967
21525
22453
24040
26522
27419
15295
15884
16482

In [117]:
gangnam17.loc['total']=['서울강남경찰서','2017','6723']
gangnam18.loc['total']=['서울강남경찰서','2018','7760']
gangnam19.loc['total']=['서울강남경찰서','2019','8561']
nam17.loc['total']=['서울남대문경찰서','2017','1948']
nam18.loc['total']=['서울남대문경찰서','2018','2450']
nam19.loc['total']=['서울남대문경찰서','2019','2300']
bang17.loc['total']=['서울방배경찰서','2017','2364']
bang18.loc['total']=['서울방배경찰서','2018','2488']
bang19.loc['total']=['서울방배경찰서','2019','2832']
seobu17.loc['total']=['서울서부경찰서','2017','3345']
seobu18.loc['total']=['서울서부경찰서','2018','3559']
seobu19.loc['total']=['서울서부경찰서','2019','3875']
songbuk17.loc['total']=['서울성북경찰서','2017','9006']
songbuk18.loc['total']=['서울성북경찰서','2018','10021']
songbuk19.loc['total']=['서울성북경찰서','2019','10865']
sue17.loc['total']=['서울수서경찰서','2017','2622']
sue18.loc['total']=['서울수서경찰서','2018','2846']
sue19.loc['total']=['서울수서경찰서','2019','3174']
eun17.loc['total']=['서울은평경찰서','2017','5068']
eun18.loc['total']=['서울은평경찰서','2018','5338']
eun19.loc['total']=['서울은평경찰서','2019','5626']
jongro17.loc['total']=['서울종로경찰서','2017','3191']
jongro18.loc['total']=['서울종로경찰서','2018','3395']
jongro19.loc['total']=['서울종로경찰서','2019','3554']
jongarm17.loc['total']=['서울종암경찰서','2017','6332']
jongarm18.loc['total']=['서울종암경찰서','2018','6752']
jongarm19.loc['total']=['서울종암경찰서','2019','7111']
jungbu17.loc['total']=['서울중부경찰서','2017','9434']
jungbu18.loc['total']=['서울중부경찰서','2018','10736']
jungbu19.loc['total']=['서울중부경찰서','2019','11496']
hye17.loc['total']=['서울혜화경찰서','2017','8717']
hye18.loc['total']=['서울혜화경찰서','2018','9617']
hye19.loc['total']=['서울혜화경찰서','2019','10641']

#########################경기도 
kyungjung17.loc['total']=['경기수원중부경찰서','2017','18967']
kyungjung18.loc['total']=['경기수원중부경찰서','2018','21525']
kyungjung19.loc['total']=['경기수원중부경찰서','2019','22453']
kyungseo17.loc['total']=['경기수원서부경찰서','2017','24040']
kyungseo18.loc['total']=['경기수원서부경찰서','2018','26522']
kyungseo19.loc['total']=['경기수원서부경찰서','2019','27419']
kyungnam17.loc['total']=['경기수원남부경찰서','2017','15295']
kyungnam18.loc['total']=['경기수원남부경찰서','2018','15884']
kyungnam19.loc['total']=['경기수원남부경찰서','2019','16482']

In [119]:
gangnam17=pd.DataFrame(gangnam17.loc['total']).T
gangnam18=pd.DataFrame(gangnam18.loc['total']).T
gangnam19=pd.DataFrame(gangnam19.loc['total']).T
nam17=pd.DataFrame(nam17.loc['total']).T
nam18=pd.DataFrame(nam18.loc['total']).T
nam19=pd.DataFrame(nam19.loc['total']).T
bang17=pd.DataFrame(bang17.loc['total']).T
bang18=pd.DataFrame(bang18.loc['total']).T
bang19=pd.DataFrame(bang19.loc['total']).T
seobu17=pd.DataFrame(seobu17.loc['total']).T
seobu18=pd.DataFrame(seobu18.loc['total']).T
seobu19=pd.DataFrame(seobu19.loc['total']).T
songbuk17=pd.DataFrame(songbuk17.loc['total']).T
songbuk18=pd.DataFrame(songbuk18.loc['total']).T
songbuk19=pd.DataFrame(songbuk19.loc['total']).T
sue17=pd.DataFrame(sue17.loc['total']).T
sue18=pd.DataFrame(sue18.loc['total']).T
sue19=pd.DataFrame(sue19.loc['total']).T
eun17=pd.DataFrame(eun17.loc['total']).T
eun18=pd.DataFrame(eun18.loc['total']).T
eun19=pd.DataFrame(eun19.loc['total']).T
jongro17=pd.DataFrame(jongro17.loc['total']).T
jongro18=pd.DataFrame(jongro18.loc['total']).T
jongro19=pd.DataFrame(jongro19.loc['total']).T
jongarm17=pd.DataFrame(jongarm17.loc['total']).T
jongarm18=pd.DataFrame(jongarm18.loc['total']).T
jongarm19=pd.DataFrame(jongarm19.loc['total']).T
jungbu17=pd.DataFrame(jungbu17.loc['total']).T
jungbu18=pd.DataFrame(jungbu18.loc['total']).T
jungbu19=pd.DataFrame(jungbu19.loc['total']).T
hye17=pd.DataFrame(hye17.loc['total']).T
hye18=pd.DataFrame(hye18.loc['total']).T
hye19=pd.DataFrame(hye19.loc['total']).T

#########################경기도 
kyungjung17=pd.DataFrame(kyungjung17.loc['total']).T
kyungjung18=pd.DataFrame(kyungjung18.loc['total']).T
kyungjung19=pd.DataFrame(kyungjung19.loc['total']).T
kyungseo17=pd.DataFrame(kyungseo17.loc['total']).T
kyungseo18=pd.DataFrame(kyungseo18.loc['total']).T
kyungseo19=pd.DataFrame(kyungseo19.loc['total']).T
kyungnam17=pd.DataFrame(kyungnam17.loc['total']).T
kyungnam18=pd.DataFrame(kyungnam18.loc['total']).T
kyungnam19=pd.DataFrame(kyungnam19.loc['total']).T

In [ ]:
gangnam17
gangnam18
gangnam19
nam17
nam18
nam19
bang17
bang18
bang19
seobu17
seobu18
seobu19
songbuk17
songbuk18
songbuk19
sue17
sue18
sue19
eun17
eun18
eun19
jongro17
jongro18
jongro19
jongarm17
jongarm18
jongarm19
jungbu17
jungbu18
jungbu19
hye17
hye18
hye19
seocho17
seocho18
seocho19
fornr17
seoul18
seoul19
#########################경기도 
kyungjung17
kyungjung18
kyungjung19
kyungseo17
kyungseo18
kyungseo19
kyungnam17
kyungnam18
kyungnam19

###############충남,경남
jinhae17
jinhae18
jinhae19
sejong17
sejong18
sejong19
masanjung17
masanjung18
masanjung19
changjung17
changjung18
changjung19
changseo17
changseo18
changseo19
masandong17
masandong18
masandong19
jinju17
jinju18
jinju19

In [ ]:
gangnam17,nam17,bang17,seobu17,songbuk17,sue17,eun17,jongro17,jongarm17,jungbu17,
hye17,seocho17,fornr17,kyungjung17,kyungseo17,kyungnam17,jinhae17,sejong17,masanjung17,changjung17,changseo17,masandong17,jinju17

In [127]:
seocho17

       jur_stn    연도  외국인수
total  서울서초경찰서  2017  5621

In [135]:
gangnam17.columns = ['jur_stn','연도','외국인수']
gangnam18.columns = ['jur_stn','연도','외국인수']
gangnam19.columns = ['jur_stn','연도','외국인수']
nam17.columns = ['jur_stn','연도','외국인수']
nam18.columns = ['jur_stn','연도','외국인수']
nam19.columns = ['jur_stn','연도','외국인수']
bang17.columns = ['jur_stn','연도','외국인수']
bang18.columns = ['jur_stn','연도','외국인수']
bang19.columns = ['jur_stn','연도','외국인수']
seobu17.columns = ['jur_stn','연도','외국인수']
seobu18.columns = ['jur_stn','연도','외국인수']
seobu19.columns = ['jur_stn','연도','외국인수']
songbuk17.columns = ['jur_stn','연도','외국인수']
songbuk18.columns = ['jur_stn','연도','외국인수']
songbuk19.columns = ['jur_stn','연도','외국인수']
sue17.columns = ['jur_stn','연도','외국인수']
sue18.columns = ['jur_stn','연도','외국인수']
sue19.columns = ['jur_stn','연도','외국인수']
eun17.columns = ['jur_stn','연도','외국인수']
eun18.columns = ['jur_stn','연도','외국인수']
eun19.columns = ['jur_stn','연도','외국인수']
jongro17.columns = ['jur_stn','연도','외국인수']
jongro18.columns = ['jur_stn','연도','외국인수']
jongro19.columns = ['jur_stn','연도','외국인수']
jongarm17.columns = ['jur_stn','연도','외국인수']
jongarm18.columns = ['jur_stn','연도','외국인수']
jongarm19.columns = ['jur_stn','연도','외국인수']
jungbu17.columns = ['jur_stn','연도','외국인수']
jungbu18.columns = ['jur_stn','연도','외국인수']
jungbu19.columns = ['jur_stn','연도','외국인수']
hye17.columns = ['jur_stn','연도','외국인수']
hye18.columns = ['jur_stn','연도','외국인수']
hye19.columns = ['jur_stn','연도','외국인수']
seocho17.columns = ['jur_stn','연도','외국인수']
seocho18.columns = ['jur_stn','연도','외국인수']
seocho19.columns = ['jur_stn','연도','외국인수']
fornr17.columns = ['jur_stn','연도','외국인수']
seoul18.columns = ['jur_stn','연도','외국인수']
seoul19.columns = ['jur_stn','연도','외국인수']
#########################경기도 
kyungjung17.columns = ['jur_stn','연도','외국인수']
kyungjung18.columns = ['jur_stn','연도','외국인수']
kyungjung19.columns = ['jur_stn','연도','외국인수']
kyungseo17.columns = ['jur_stn','연도','외국인수']
kyungseo18.columns = ['jur_stn','연도','외국인수']
kyungseo19.columns = ['jur_stn','연도','외국인수']
kyungnam17.columns = ['jur_stn','연도','외국인수']
kyungnam18.columns = ['jur_stn','연도','외국인수']
kyungnam19.columns = ['jur_stn','연도','외국인수']

###############충남,경남
jinhae17.columns = ['jur_stn','연도','외국인수']
jinhae18.columns = ['jur_stn','연도','외국인수']
jinhae19.columns = ['jur_stn','연도','외국인수']
sejong17.columns = ['jur_stn','연도','외국인수']
sejong18.columns = ['jur_stn','연도','외국인수']
sejong19.columns = ['jur_stn','연도','외국인수']
masanjung17.columns = ['jur_stn','연도','외국인수']
masanjung18.columns = ['jur_stn','연도','외국인수']
masanjung19.columns = ['jur_stn','연도','외국인수']
changjung17.columns = ['jur_stn','연도','외국인수']
changjung18.columns = ['jur_stn','연도','외국인수']
changjung19.columns = ['jur_stn','연도','외국인수']
changseo17.columns = ['jur_stn','연도','외국인수']
changseo18.columns = ['jur_stn','연도','외국인수']
changseo19.columns = ['jur_stn','연도','외국인수']
masandong17.columns = ['jur_stn','연도','외국인수']
masandong18.columns = ['jur_stn','연도','외국인수']
masandong19.columns = ['jur_stn','연도','외국인수']
jinju17.columns = ['jur_stn','연도','외국인수']
jinju18.columns = ['jur_stn','연도','외국인수']
jinju19.columns = ['jur_stn','연도','외국인수']

In [139]:
##### 2017 묶기
weguk2017 = pd.concat([gangnam17,nam17,bang17,seobu17,songbuk17,sue17,eun17,jongro17,jongarm17,jungbu17,
hye17,seocho17,fornr17,kyungjung17,kyungseo17,kyungnam17,jinhae17,sejong17,masanjung17,changjung17,changseo17,masandong17,jinju17], ignore_index=True)
weguk2018= pd.concat([gangnam18,nam18,bang18,seobu18,songbuk18,sue18,eun18,jongro18,jongarm18,jungbu18,
hye18,seocho18,seoul18,kyungjung18,kyungseo18,kyungnam18,jinhae18,sejong18,masanjung18,changjung18,changseo18,masandong18,jinju18], ignore_index=True)
weguk2019= pd.concat([gangnam19,nam19,bang19,seobu19,songbuk19,sue19,eun19,jongro19,jongarm19,jungbu19,
hye19,seocho19,seoul19,kyungjung19,kyungseo19,kyungnam19,jinhae19,sejong19,masanjung19,changjung19,changseo19,masandong19,jinju19], ignore_index=True)

In [148]:
weguk2017.sort_values(by=['jur_stn'], axis=0,inplace=True)
weguk2017

      jur_stn    연도   외국인수
33  경기수원남부경찰서  2017  15295
32  경기수원서부경찰서  2017  24040
31  경기수원중부경찰서  2017  18967
39  경남마산동부경찰서  2017   4184
36  경남마산중부경찰서  2017   3268
40    경남진주경찰서  2017   7875
34    경남진해경찰서  2017   5558
38  경남창원서부경찰서  2017   4264
37  경남창원중부경찰서  2017   8214
0     서울강남경찰서  2017   6723
12    서울강동경찰서  2017   8196
13    서울강북경찰서  2017   6487
14    서울강서경찰서  2017  12532
15    서울관악경찰서  2017  29335
16    서울광진경찰서  2017  21216
17    서울구로경찰서  2017  49996
18    서울금천경찰서  2017  30317
1    서울남대문경찰서  2017   1948
19    서울노원경찰서  2017   6539
20    서울도봉경찰서  2017   4145
21   서울동대문경찰서  2017  20374
22    서울동작경찰서  2017  18592
23    서울마포경찰서  2017  13842
2     서울방배경찰서  2017   2364
24   서울서대문경찰서  2017  14763
3     서울서부경찰서  2017   3345
11    서울서초경찰서  2017   5621
25    서울성동경찰서  2017  12604
4     서울성북경찰서  2017   9006
26    서울송파경찰서  2017  12233
5     서울수서경찰서  2017   2622
27    서울양천경찰서  2017   8152
28   서울영등포경찰서  2017  54145
29    서울용산경찰서  2017  17629
6     서울은평경찰서  2017   5068
7     서울종로경찰서  2017   3191
8     서울종암경찰서  2017   6332
30    서울중랑경찰서  2017   8475
9     서울중부경찰서  2017   9434
10    서울혜화경찰서  2017   8717
35    충남세종경찰서  2017   6761

In [149]:
weguk2018.sort_values(by=['jur_stn'], axis=0,inplace=True)
weguk2019.sort_values(by=['jur_stn'], axis=0,inplace=True)
weguk = pd.concat([weguk2017,weguk2018,weguk2019], ignore_index=True)
weguk

       jur_stn    연도   외국인수
0    경기수원남부경찰서  2017  15295
1    경기수원서부경찰서  2017  24040
2    경기수원중부경찰서  2017  18967
3    경남마산동부경찰서  2017   4184
4    경남마산중부경찰서  2017   3268
..         ...   ...    ...
118    서울종암경찰서  2019   7111
119    서울중랑경찰서  2019   9785
120    서울중부경찰서  2019  11496
121    서울혜화경찰서  2019  10641
122    충남세종경찰서  2019   9814

[123 rows x 3 columns]

In [150]:
weguk.to_csv('외국인끝.csv',index=False, encoding='cp949')

# 2020년도 외국인

In [129]:
### ########################## 20년도 데이터
############################# 서울  관할서
seoul=pd.read_csv('서울 구 20.csv',encoding='cp949')
seoul

   자치구(1) 행정동(1) 성별(1) 연령별(1)   2020
0     용산구     소계     계      계  14605
1     성동구     소계     계      계   6949
2     광진구     소계     계      계  13427
3    동대문구     소계     계      계  14177
4     중랑구     소계     계      계   4860
5     강북구     소계     계      계   3514
6     도봉구     소계     계      계   2104
7     노원구     소계     계      계   3995
8    서대문구     소계     계      계  10779
9     마포구     소계     계      계   9968
10    양천구     소계     계      계   3530
11    강서구     소계     계      계   5716
12    구로구     소계     계      계  28080
13    금천구     소계     계      계  16102
14   영등포구     소계     계      계  27887
15    동작구     소계     계      계  10352
16    관악구     소계     계      계  14743
17    송파구     소계     계      계   5966
18    강동구     소계     계      계   4028

In [130]:
a = seoul.drop(seoul.columns[[1,2,3]],axis=1)
a

   자치구(1)   2020
0     용산구  14605
1     성동구   6949
2     광진구  13427
3    동대문구  14177
4     중랑구   4860
5     강북구   3514
6     도봉구   2104
7     노원구   3995
8    서대문구  10779
9     마포구   9968
10    양천구   3530
11    강서구   5716
12    구로구  28080
13    금천구  16102
14   영등포구  27887
15    동작구  10352
16    관악구  14743
17    송파구   5966
18    강동구   4028

In [131]:
seoul.drop(seoul.columns[[1,2,3]],axis=1, inplace = True)
seoul.sort_values(by=['자치구(1)'], axis=0,inplace=True)
seoul.at[0,'자치구(1)'] = '서울강동경찰서' 
seoul.at[1,'자치구(1)'] = '서울강북경찰서' 
seoul.at[2,'자치구(1)'] = '서울강서경찰서' 
seoul.at[3,'자치구(1)'] = '서울관악경찰서' 
seoul.at[4,'자치구(1)'] = '서울광진경찰서' 
seoul.at[5,'자치구(1)'] = '서울구로경찰서' 
seoul.at[6,'자치구(1)'] = '서울금천경찰서' 
seoul.at[7,'자치구(1)'] = '서울노원경찰서' 
seoul.at[8,'자치구(1)'] = '서울도봉경찰서' 
seoul.at[9,'자치구(1)'] = '서울동대문경찰서' 
seoul.at[10,'자치구(1)'] = '서울동작경찰서' 
seoul.at[11,'자치구(1)'] = '서울마포경찰서' 
seoul.at[12,'자치구(1)'] = '서울서대문경찰서' 
seoul.at[13,'자치구(1)'] = '서울성동경찰서' 
seoul.at[14,'자치구(1)'] = '서울송파경찰서' 
seoul.at[15,'자치구(1)'] = '서울양천경찰서' 
seoul.at[16,'자치구(1)'] = '서울영등포경찰서' 
seoul.at[17,'자치구(1)'] = '서울용산경찰서' 
seoul.at[18,'자치구(1)'] = '서울중랑경찰서' 

seoul

      자치구(1)   2020
18   서울중랑경찰서   4028
5    서울구로경찰서   3514
11   서울마포경찰서   5716
16  서울영등포경찰서  14743
2    서울강서경찰서  13427
12  서울서대문경찰서  28080
13   서울성동경찰서  16102
7    서울노원경찰서   3995
6    서울금천경찰서   2104
3    서울관악경찰서  14177
15   서울양천경찰서  10352
9   서울동대문경찰서   9968
8    서울도봉경찰서  10779
1    서울강북경찰서   6949
17   서울용산경찰서   5966
10   서울동작경찰서   3530
14   서울송파경찰서  27887
0    서울강동경찰서  14605
4    서울광진경찰서   4860

In [132]:
seoul.sort_values(by=['자치구(1)'], axis=0,inplace=True)
seoul

      자치구(1)   2020
0    서울강동경찰서  14605
1    서울강북경찰서   6949
2    서울강서경찰서  13427
3    서울관악경찰서  14177
4    서울광진경찰서   4860
5    서울구로경찰서   3514
6    서울금천경찰서   2104
7    서울노원경찰서   3995
8    서울도봉경찰서  10779
9   서울동대문경찰서   9968
10   서울동작경찰서   3530
11   서울마포경찰서   5716
12  서울서대문경찰서  28080
13   서울성동경찰서  16102
14   서울송파경찰서  27887
15   서울양천경찰서  10352
16  서울영등포경찰서  14743
17   서울용산경찰서   5966
18   서울중랑경찰서   4028

In [133]:
seoul.loc[:,'연도'] = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020]
seoul

      자치구(1)   2020    연도
0    서울강동경찰서  14605  2020
1    서울강북경찰서   6949  2020
2    서울강서경찰서  13427  2020
3    서울관악경찰서  14177  2020
4    서울광진경찰서   4860  2020
5    서울구로경찰서   3514  2020
6    서울금천경찰서   2104  2020
7    서울노원경찰서   3995  2020
8    서울도봉경찰서  10779  2020
9   서울동대문경찰서   9968  2020
10   서울동작경찰서   3530  2020
11   서울마포경찰서   5716  2020
12  서울서대문경찰서  28080  2020
13   서울성동경찰서  16102  2020
14   서울송파경찰서  27887  2020
15   서울양천경찰서  10352  2020
16  서울영등포경찰서  14743  2020
17   서울용산경찰서   5966  2020
18   서울중랑경찰서   4028  2020

In [134]:
seoul.rename(columns={'2020': '외국인수','자치구(1)':'jur_stn'},inplace=True)
seoul=seoul.reindex(columns=['jur_stn','연도','외국인수'])
seoul###########################################################################################

     jur_stn    연도   외국인수
0    서울강동경찰서  2020  14605
1    서울강북경찰서  2020   6949
2    서울강서경찰서  2020  13427
3    서울관악경찰서  2020  14177
4    서울광진경찰서  2020   4860
5    서울구로경찰서  2020   3514
6    서울금천경찰서  2020   2104
7    서울노원경찰서  2020   3995
8    서울도봉경찰서  2020  10779
9   서울동대문경찰서  2020   9968
10   서울동작경찰서  2020   3530
11   서울마포경찰서  2020   5716
12  서울서대문경찰서  2020  28080
13   서울성동경찰서  2020  16102
14   서울송파경찰서  2020  27887
15   서울양천경찰서  2020  10352
16  서울영등포경찰서  2020  14743
17   서울용산경찰서  2020   5966
18   서울중랑경찰서  2020   4028

In [135]:
############################################################### 서울 중복 관할서
seoul20=pd.read_csv('서울 외국인 20.csv',encoding='cp949')
seoul20

    자치구(1) 행정동(1) 성별(1) 연령별(1)  2020
0      종로구    사직동     계      계   280
1      종로구    삼청동     계      계   269
2      종로구    부암동     계      계   311
3      종로구    평창동     계      계   191
4      종로구    무악동     계      계    46
..     ...    ...   ...    ...   ...
100    강남구    세곡동     계      계   183
101    강남구   압구정동     계      계   170
102    강남구    청담동     계      계   237
103    강남구   대치2동     계      계   152
104    강남구   개포2동     계      계    62

[105 rows x 5 columns]

In [136]:
seoul20.drop(seoul20.columns[[0,2,3]],axis=1, inplace = True)
seoul20.head(20)

         행정동(1)  2020
0           사직동   280
1           삼청동   269
2           부암동   311
3           평창동   191
4           무악동    46
5           교남동   157
6           가회동    93
7   종로1.2.3.4가동  1192
8       종로5·6가동   414
9           이화동   523
10         창신1동   835
11         창신2동  1185
12         창신3동   182
13         숭인1동   310
14         숭인2동   487
15        청운효자동   202
16          혜화동  2935
17          소공동   942
18          회현동   621
19           명동   771

In [137]:
seoul20.set_index('행정동(1)', inplace=True)
seoul20

        2020
행정동(1)
사직동      280
삼청동      269
부암동      311
평창동      191
무악동       46
...      ...
세곡동      183
압구정동     170
청담동      237
대치2동     152
개포2동      62

[105 rows x 1 columns]

In [138]:
seoul20.head(50)

             2020
행정동(1)
사직동           280
삼청동           269
부암동           311
평창동           191
무악동            46
교남동           157
가회동            93
종로1.2.3.4가동  1192
종로5·6가동       414
이화동           523
창신1동          835
창신2동         1185
창신3동          182
숭인1동          310
숭인2동          487
청운효자동         202
혜화동          2935
소공동           942
회현동           621
명동            771
필동            720
장충동           804
광희동          1192
을지로동          151
신당5동          340
황학동           948
중림동           303
신당동          1499
다산동           482
약수동           226
청구동           225
동화동           171
돈암1동           87
돈암2동           97
안암동          1487
보문동           355
정릉1동          252
정릉2동          235
정릉3동         1306
정릉4동          384
길음1동          166
길음2동          116
월곡1동          190
월곡2동          468
장위1동          181
장위2동          239
장위3동          159
종암동          1567
석관동           878
녹번동           419

In [139]:
seoul20.loc[['청운효자동','사직동','삼청동','부암동','평창동','교남동','가회동','종로1.2.3.4가동']].sum()  # 종로경찰서

2020    2695
dtype: int64

In [140]:
seoul20.loc[['반포본동','반포2동','방배본동','방배1동','방배2동','방배3동','방배4동']].sum() #방배 경찰서

2020    1075
dtype: int64

In [141]:
seoul20.loc[['불광1동','불광2동','갈현1동','갈현2동','구산동','대조동','역촌동','진관동']].sum() # 은평 경찰서

2020    2375
dtype: int64

In [142]:
seoul20.loc[['신사동','논현1동','논현2동','압구정동','청담동','삼성1동','삼성2동','대치1동','대치2동','대치4동','역삼1동','역삼2동']].sum() # 강남경찰서

2020    3828
dtype: int64

In [143]:
seoul20.loc[['무악동','종로5·6가동','이화동','혜화동','창신1동','창신2동','창신3동','숭인1동','숭인2동']].sum() #혜화

2020    6917
dtype: int64

In [144]:
seoul20.loc[['길음2동','종암동','월곡1동','월곡2동','장위1동','장위2동','장위3동','석관동']].sum() #종암

2020    3798
dtype: int64

In [145]:
seoul20.loc[['필동','장충동','광희동','을지로동','신당동','다산동','약수동','청구동','신당5동','동화동','황학동']].sum() # 중부

2020    6758
dtype: int64

In [146]:
seoul20.loc[['소공동','회현동','명동','중림동']].sum() #남대문

2020    2637
dtype: int64

In [147]:
seoul20.loc[['녹번동','응암1동','응암2동','응암3동','신사1동','신사2동','증산동','수색동']].sum() #서부

2020    1833
dtype: int64

In [148]:
seoul20.loc[['서초1동','서초2동','서초3동','서초4동','잠원동','반포1동','반포3동','반포4동','양재1동','양재2동','내곡동']].sum() #서초

2020    2824
dtype: int64

In [149]:
seoul20.loc[['도곡1동','도곡2동','개포1동','개포2동','개포4동','세곡동','일원본동','일원1동','일원2동','수서동']].sum() #수서

2020    996
dtype: int64

In [150]:
sungbuk20 = pd.read_csv('성북경찰 20.csv', encoding='cp949' )

In [151]:
sungbuk20.sum()

자치구(1)           성북구성북구성북구성북구성북구성북구성북구성북구성북구성북구성북구성북구
행정동(1)    돈암1동돈암2동안암동보문동정릉1동정릉2동정릉3동정릉4동길음1동성북동삼선동동선동
성별(1)                                    계계계계계계계계계계계계
연령별(1)                                   계계계계계계계계계계계계
2020                                             6105
dtype: object

In [152]:
trouble20=pd.DataFrame({'jur_stn':['서울종로경찰서','서울은평경찰서','서울방배경찰서','서울강남경찰서','서울혜화경찰서',
                                  '서울종암경찰서','서울중부경찰서','서울남대문경찰서','서울서부경찰서','서울서초경찰서',
                                 '서울수서경찰서','서울성북경찰서'],
                       '연도':['2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020',],
                       '외국인수':[2695,2375,1075,3828,6917,3798,6758,2637,1833,2824,996,6105]})

In [153]:
trouble20.sort_values(by=['jur_stn'], axis=0,inplace=True)
trouble20###########################################################################seoul fin

     jur_stn    연도  외국인수
3    서울강남경찰서  2020  3828
7   서울남대문경찰서  2020  2637
2    서울방배경찰서  2020  1075
8    서울서부경찰서  2020  1833
9    서울서초경찰서  2020  2824
11   서울성북경찰서  2020  6105
10   서울수서경찰서  2020   996
1    서울은평경찰서  2020  2375
0    서울종로경찰서  2020  2695
5    서울종암경찰서  2020  3798
6    서울중부경찰서  2020  6758
4    서울혜화경찰서  2020  6917

### 경기도 20년도 외국인

In [161]:
suwon20=pd.read_csv('경기도 외국인 20.csv', encoding='cp949')
suwon20

,행정구역,2020년01월_거주자 인구수,2020년01월_세대수,2020년01월_남자 인구수,2020년01월_여자 인구수,2020년02월_거주자 인구수,2020년02월_세대수,2020년02월_남자 인구수,2020년02월_여자 인구수,2020년03월_거주자 인구수,...,2020년10월_남자 인구수,2020년10월_여자 인구수,2020년11월_거주자 인구수,2020년11월_세대수,2020년11월_남자 인구수,2020년11월_여자 인구수,2020년12월_거주자 인구수,2020년12월_세대수,2020년12월_남자 인구수,2020년12월_여자 인구수
0,파장동,"23,674","10,178","11,931","11,743","23,636","10,198","11,902","11,734","23,605",...,"11,782","11,650","23,399","10,357","11,772","11,627","23,364","10,379","11,758","11,606"
1,율천동,"43,504","19,796","22,897","20,607","43,245","19,689","22,771","20,474","43,104",...,"22,810","20,300","43,074","19,820","22,780","20,294","42,910","19,720","22,648","20,262"
2,정자1동,"30,377","10,999","15,011","15,366","30,289","10,990","14,954","15,335","30,229",...,"14,607","15,060","29,660","10,938","14,616","15,044","29,636","10,961","14,599","15,037"
3,정자2동,"30,166","12,219","14,806","15,360","30,173","12,225","14,826","15,347","30,178",...,"14,688","15,261","29,859","12,330","14,646","15,213","29,817","12,333","14,629","15,188"
4,정자3동,"43,287","14,180","21,591","21,696","43,326","14,233","21,631","21,695","43,226",...,"21,430","21,435","42,765","14,244","21,370","21,395","42,663","14,237","21,323","21,340"
5,영화동,"20,189","10,139","10,272","9,917","20,188","10,186","10,291","9,897","20,129",...,"10,172","9,799","19,978","10,348","10,184","9,794","20,004","10,375","10,202","9,802"
6,송죽동,"19,751","8,567","9,849","9,902","19,713","8,570","9,836","9,877","19,723",...,"9,736","9,859","19,553","8,654","9,705","9,848","19,537","8,679","9,688","9,849"
7,조원1동,"29,049","12,526","14,594","14,455","29,013","12,521","14,580","14,433","28,903",...,"14,392","14,265","28,657","12,610","14,393","14,264","28,554","12,593","14,360","14,194"
8,조원2동,"19,436","6,520","9,389","10,047","19,397","6,520","9,390","10,007","19,346",...,"9,239","9,875","19,081","6,527","9,214","9,867","19,066","6,538","9,204","9,862"
9,연무동,"16,247","8,177","8,387","7,860","16,216","8,193","8,375","7,841","16,220",...,"8,300","7,775","16,096","8,325","8,305","7,791","16,063","8,322","8,291","7,772"
10,세류1동,"10,423","4,300","5,198","5,225","10,390","4,298","5,191","5,199","10,384",...,"5,161","5,159","10,304","4,323","5,156","5,148","10,273","4,336","5,135","5,138"
11,세류2동,"23,668","11,766","12,144","11,524","23,657","11,789","12,125","11,532","23,609",...,"12,007","11,313","23,288","11,824","12,001","11,287","23,320","11,882","12,019","11,301"
12,세류3동,"19,737","9,070","9,913","9,824","19,632","9,051","9,862","9,770","19,556",...,"9,638","9,528","19,155","9,019","9,627","9,528","19,047","8,998","9,578","9,469"
13,평동,"40,648","16,092","20,646","20,002","40,499","16,067","20,546","19,953","40,493",...,"20,679","20,119","40,827","16,379","20,688","20,139","40,796","16,403","20,667","20,129"
14,서둔동,"38,595","16,483","19,610","18,985","38,533","16,494","19,598","18,935","38,507",...,"19,356","18,689","38,047","16,571","19,342","18,705","38,012","16,603","19,322","18,690"
15,구운동,"25,082","10,418","12,663","12,419","25,023","10,439","12,624","12,399","24,978",...,"12,465","12,280","24,661","10,512","12,433","12,228","24,638","10,522","12,415","12,223"
16,금곡동,"45,780","16,678","22,662","23,118","45,826","16,731","22,667","23,159","45,802",...,"22,641","23,179","45,832","17,074","22,675","23,157","45,760","17,093","22,633","23,127"
17,호매실동,"45,857","16,634","22,791","23,066","45,965","16,698","22,845","23,120","46,022",...,"23,069","23,242","46,402","16,966","23,096","23,306","46,385","16,997","23,091","23,294"
18,권선1동,"24,639","12,270","12,524","12,115","24,708","12,347","12,540","12,168","24,703",...,"12,535","12,129","24,671","12,673","12,551","12,120","24,652","12,684","12,528","12,124"
19,권선2동,"50,113","17,053","24,721","25,392","50,084","17,091","24,691","25,393","50,010",...,"24,459","25,208","49,552","17,208","24,378","25,174","49,431","17,210","24,299","25,132"
20,곡선동,"27,486","14,011","14,657","12,829","27,467","14,029","14,658","12,809","27,504",...,"14,655","12,685","27,274","14,168","14,618","12,656","27,219","14,159","14,581","12,638"
21,입북동,"17,077","6,087","8,621","8,456","17,029","6,089","8,601","8,428","17,002",...,"8,545","8,335","16,889","6,152","8,558","8,331","16,854","6,154","8,541","8,313"
22,매교동,"5,699","3,109","3,013","2,686","5,739","3,121","3,048","2,691","5,617",...,"3,005","2,722","5,724","3,131","3,011","2,713","5,713","3,112","2,995","2,718"
23,매산동,"10,405","5,824","5,469","4,936","10,411","5,839","5,467","4,944","10,408",...,"5,566","4,921","10,480","6,003","5,567","4,913","10,435","5,978","5,541","4,894"
24,고등동,"8,885","4,516","4,512","4,373","8,912","4,522","4,532","4,380","8,883",...,"4,484","4,297","8,818","4,600","4,510","4,308","8,875","4,663","4,530","4,345"
25,화서1동,"23,274","9,685","11,300","11,974","23,204","9,695","11,265","11,939","23,199",...,"11,169","11,840","23,007","9,790","11,175","11,832","22,955","9,781","11,131","11,824"
26,화서2동,"27,091","9,609","13,314","13,777","27,043","9,618","13,303","13,740","27,013",...,"13,168","13,595","26,751","9,664","13,164","13,587","26,693","9,670","13,145","13,548"
27,지동,"11,581","5,802","5,869","5,712","11,527","5,796","5,860","5,667","11,457",...,"5,654","5,508","11,127","5,703","5,639","5,488","11,098","5,716","5,629","5,469"
28,우만1동,"20,761","10,558","10,330","10,431","20,738","10,579","10,330","10,408","20,736",...,"10,113","10,267","20,311","10,588","10,083","10,228","20,263","10,599","10,071","10,192"
29,우만2동,"17,297","7,280","8,622","8,675","17,319","7,322","8,615","8,704","17,343",...,"8,601","8,622","17,200","7,496","8,603","8,597","17,138","7,492","8,567","8,571"
30,인계동,"37,267","19,232","18,777","18,490","37,387","19,376","18,835","18,552","37,388",...,"19,031","18,789","37,991","20,278","19,129","18,862","38,399","20,513","19,341","19,058"
31,행궁동,"10,562","6,293","5,590","4,972","10,515","6,277","5,561","4,954","10,525",...,"5,649","4,949","10,572","6,435","5,642","4,930","10,543","6,443","5,630","4,913"
32,매탄1동,"18,797","7,688","9,436","9,361","18,741","7,698","9,417","9,324","18,669",...,"9,280","9,128","18,338","7,689","9,232","9,106","18,219","7,670","9,183","9,036"
33,매탄2동,"15,284","6,325","7,590","7,694","15,285","6,357","7,593","7,692","15,273",...,"7,506","7,610","15,072","6,431","7,492","7,580","15,063","6,453","7,491","7,572"
34,매탄3동,"36,361","15,289","18,937","17,424","36,391","15,312","18,930","17,461","36,416",...,"18,790","17,458","36,164","15,322","18,725","17,439","36,100","15,343","18,691","17,409"
35,매탄4동,"22,315","9,257","11,016","11,299","22,278","9,287","11,000","11,278","22,227",...,"10,771","11,134","21,896","9,359","10,756","11,140","21,871","9,373","10,730","11,141"
36,원천동,"38,638","17,566","19,652","18,986","38,815","17,632","19,741","19,074","38,959",...,"19,732","19,236","39,022","17,753","19,750","19,272","38,960","17,803","19,697","19,263"
37,영통1동,"36,347","12,488","17,927","18,420","36,314","12,531","17,929","18,385","36,245",...,"17,754","18,219","35,882","12,597","17,690","18,192","35,767","12,593","17,646","18,121"
38,영통2동,"26,466","12,828","14,005","12,461","26,475","12,865","14,008","12,467","26,472",...,"14,142","12,646","26,711","13,141","14,101","12,610","26,640","13,121","14,070","12,570"
39,영통3동,"32,867","12,905","16,730","16,137","32,907","12,976","16,740","16,167","32,905",...,"16,756","16,132","32,840","13,130","16,741","16,099","32,811","13,158","16,756","16,055"
40,망포1동,"31,909","10,833","16,015","15,894","31,890","10,837","16,017","15,873","31,923",...,"15,949","15,752","31,706","10,912","15,962","15,744","31,646","10,903","15,943","15,703"
41,망포2동,"28,229","9,400","14,062","14,167","28,266","9,410","14,091","14,175","28,302",...,"14,140","14,156","28,257","9,467","14,115","14,142","28,257","9,467","14,114","14,143"
42,광교1동,"52,100","20,615","25,496","26,604","52,236","20,740","25,567","26,669","52,430",...,"25,975","27,208","53,153","21,676","25,971","27,182","53,043","21,644","25,944","27,099"
43,광교2동,"27,997","10,723","13,540","14,457","28,068","10,772","13,576","14,492","28,103",...,"13,623","14,569","28,606","11,189","13,818","14,788","28,955","11,368","14,015","14,940"

In [162]:
a = suwon20.drop(suwon20.columns[1:45],axis=1,inplace=True)

In [163]:
a = suwon20.drop(suwon20.columns[2:4],axis=1,inplace=True)

In [164]:
suwon20.drop(suwon20.columns[2],axis=1,inplace=True)
suwon20

    행정구역 2020년12월_거주자 인구수
0    파장동           23,364
1    율천동           42,910
2   정자1동           29,636
3   정자2동           29,817
4   정자3동           42,663
5    영화동           20,004
6    송죽동           19,537
7   조원1동           28,554
8   조원2동           19,066
9    연무동           16,063
10  세류1동           10,273
11  세류2동           23,320
12  세류3동           19,047
13    평동           40,796
14   서둔동           38,012
15   구운동           24,638
16   금곡동           45,760
17  호매실동           46,385
18  권선1동           24,652
19  권선2동           49,431
20   곡선동           27,219
21   입북동           16,854
22   매교동            5,713
23   매산동           10,435
24   고등동            8,875
25  화서1동           22,955
26  화서2동           26,693
27    지동           11,098
28  우만1동           20,263
29  우만2동           17,138
30   인계동           38,399
31   행궁동           10,543
32  매탄1동           18,219
33  매탄2동           15,063
34  매탄3동           36,100
35  매탄4동           21,871
36   원천동           38,960
37  영통1동           35,767
38  영통2동           26,640
39  영통3동           32,811
40  망포1동           31,646
41  망포2동           28,257
42  광교1동           53,043
43  광교2동           28,955

In [167]:
suwon20.set_index('행정구역', inplace=True)
suwon20.loc[['파장동','율천동','정자1동','정자2동','정자3동','영화동','송죽동','조원1동','조원2동','연무동','화서1동','화서2동','우만1동','우만2동','행궁동','지동']].sum()

KeyError: "None of ['행정구역'] are in the columns"

In [214]:
suwon20

행정구역
파장동     23364
율천동     42910
정자1동    29636
정자2동    29817
정자3동    42663
영화동     20004
송죽동     19537
조원1동    28554
조원2동    19066
연무동     16063
세류1동    10273
세류2동    23320
세류3동    19047
평동      40796
서둔동     38012
구운동     24638
금곡동     45760
호매실동    46385
권선1동    24652
권선2동    49431
곡선동     27219
입북동     16854
매교동      5713
매산동     10435
고등동      8875
화서1동    22955
화서2동    26693
지동      11098
우만1동    20263
우만2동    17138
인계동     38399
행궁동     10543
매탄1동    18219
매탄2동    15063
매탄3동    36100
매탄4동    21871
원천동     38960
영통1동    35767
영통2동    26640
영통3동    32811
망포1동    31646
망포2동    28257
광교1동    53043
광교2동    28955
Name: 2020년12월_거주자 인구수, dtype: int64

In [201]:
# 콤마제거
suwon20=suwon20['2020년12월_거주자 인구수'].str.replace(",", "")
suwon20

행정구역
파장동     23364
율천동     42910
정자1동    29636
정자2동    29817
정자3동    42663
영화동     20004
송죽동     19537
조원1동    28554
조원2동    19066
연무동     16063
세류1동    10273
세류2동    23320
세류3동    19047
평동      40796
서둔동     38012
구운동     24638
금곡동     45760
호매실동    46385
권선1동    24652
권선2동    49431
곡선동     27219
입북동     16854
매교동      5713
매산동     10435
고등동      8875
화서1동    22955
화서2동    26693
지동      11098
우만1동    20263
우만2동    17138
인계동     38399
행궁동     10543
매탄1동    18219
매탄2동    15063
매탄3동    36100
매탄4동    21871
원천동     38960
영통1동    35767
영통2동    26640
영통3동    32811
망포1동    31646
망포2동    28257
광교1동    53043
광교2동    28955
Name: 2020년12월_거주자 인구수, dtype: object

In [203]:
suwon20.astype(int)

행정구역
파장동     23364
율천동     42910
정자1동    29636
정자2동    29817
정자3동    42663
영화동     20004
송죽동     19537
조원1동    28554
조원2동    19066
연무동     16063
세류1동    10273
세류2동    23320
세류3동    19047
평동      40796
서둔동     38012
구운동     24638
금곡동     45760
호매실동    46385
권선1동    24652
권선2동    49431
곡선동     27219
입북동     16854
매교동      5713
매산동     10435
고등동      8875
화서1동    22955
화서2동    26693
지동      11098
우만1동    20263
우만2동    17138
인계동     38399
행궁동     10543
매탄1동    18219
매탄2동    15063
매탄3동    36100
매탄4동    21871
원천동     38960
영통1동    35767
영통2동    26640
영통3동    32811
망포1동    31646
망포2동    28257
광교1동    53043
광교2동    28955
Name: 2020년12월_거주자 인구수, dtype: int32

In [206]:
suwon20=pd.DataFrame(suwon20)

In [210]:
suwon20=pd.to_numeric(suwon20['2020년12월_거주자 인구수'])

In [211]:
suwon20.loc[['파장동','율천동','정자1동','정자2동','정자3동','영화동','송죽동','조원1동','조원2동','연무동',
             '화서1동','화서2동','우만1동','우만2동','행궁동','지동']].sum() #수원 중부

380304

In [215]:
suwon20.loc[['매탄1동','매탄2동','매탄3동','매탄4동','원천동','영통1동','영통2동','영통3동',
             '광교1동','광교2동','권선1동','권선2동','곡선동','인계동']].sum() #수원 남부

447130

In [216]:
suwon20.loc[['세류1동','세류2동','세류3동','평동','서둔동','구운동','금곡동'
             ,'호매실동','입북동','매교동','매산동','고등동']].sum() #수원 서부

290108

In [217]:
suwon=pd.DataFrame({'jur_stn':['수원중부경찰서','수원남부경찰서','수원서부경찰서'],
                       '연도':['2020','2020','2020'],
                       '외국인수':[380304,447130,290108]})
suwon.sort_values(by=['jur_stn'], axis=0,inplace=True)
suwon

   jur_stn    연도    외국인수
1  수원남부경찰서  2020  447130
2  수원서부경찰서  2020  290108
0  수원중부경찰서  2020  380304

# 경남 가즈아

In [218]:
sejong20=pd.read_csv('세종 외국인 20.csv',encoding='cp949')
sejong20

   행정구역별(시군구)  2020
0  행정구역별(시군구)   외국인
1     세종특별자치시  7244

In [219]:
sejong20.drop(index=[0],inplace=True)
sejong20.loc[:,'연도'] = [2020]
sejong20.rename(columns={'2020': '외국인수','행정구역별(시군구)':'jur_stn'},inplace=True)
sejong=sejong20.reindex(columns=['jur_stn','연도','외국인수'])
sejong

   jur_stn    연도  외국인수
1  세종특별자치시  2020  7244

In [294]:
sejong.at[1,'jur_stn'] = '충남세종경찰서'
sejong

   jur_stn    연도  외국인수
1  충남세종경찰서  2020  7244

In [222]:
ssangdo20=pd.read_csv('경남 20 .csv',encoding='cp949')
ssangdo20

    읍면동별(1)  읍면동별(2)  읍면동별(3)    2020 1/2    2020 2/2
0   읍면동별(1)  읍면동별(2)  읍면동별(3)  외국인(계) (명)  외국인(계) (명)
1       창원시      의창구       동읍         184         176
2       창원시      의창구       북면         263         244
3       창원시      의창구      대산면         339         304
4       창원시      의창구      의창동         236         228
5       창원시      의창구      팔룡동         996         937
6       창원시      의창구      명곡동         633         597
7       창원시      의창구      봉림동         553         524
8       창원시      의창구      용지동         299         284
9       창원시      성산구      반송동         247         226
10      창원시      성산구      중앙동        1020         973
11      창원시      성산구      상남동         201         187
12      창원시      성산구      사파동         292         272
13      창원시      성산구     가음정동         299         289
14      창원시      성산구      성주동         436         391
15      창원시      성산구      웅남동         941         831
16      창원시    마산합포구      구산면         203         196
17      창원시    마산합포구      진동면         185         185
18      창원시    마산합포구      진북면         387         341
19      창원시    마산합포구      진전면         113         114
20      창원시    마산합포구       현동         113         105
21      창원시    마산합포구      가포동          29          33
22      창원시    마산합포구      월영동         319         414
23      창원시    마산합포구      문화동         131         162
24      창원시    마산합포구    반월중앙동          67          69
25      창원시    마산합포구      완월동          40          35
26      창원시    마산합포구      자산동          88          43
27      창원시    마산합포구      교방동          52          50
28      창원시    마산합포구      노산동           -           -
29      창원시    마산합포구      오동동          96         131
30      창원시    마산합포구      합포동          44          36
31      창원시    마산합포구      산호동         128         128
32      창원시    마산회원구       소계        1971        1841
33      창원시      진해구       소계        3300        3123
34      진주시       소계       소계        4906        4658

In [224]:
ssangdo20.drop(index=[0],inplace=True)
ssangdo20.drop(columns=[0,1,3],inplace=True)
ssangdo20

KeyError: '[0 1 3] not found in axis'

In [230]:
ssangdo20.drop(ssangdo20.columns[0],axis=1,inplace=True)
ssangdo20.drop(ssangdo20.columns[2],axis=1,inplace=True)
ssangdo20

   읍면동별(3) 2020 1/2
1       동읍      184
2       북면      263
3      대산면      339
4      의창동      236
5      팔룡동      996
6      명곡동      633
7      봉림동      553
8      용지동      299
9      반송동      247
10     중앙동     1020
11     상남동      201
12     사파동      292
13    가음정동      299
14     성주동      436
15     웅남동      941
16     구산면      203
17     진동면      185
18     진북면      387
19     진전면      113
20      현동      113
21     가포동       29
22     월영동      319
23     문화동      131
24   반월중앙동       67
25     완월동       40
26     자산동       88
27     교방동       52
28     노산동        -
29     오동동       96
30     합포동       44
31     산호동      128
32      소계     1971
33      소계     3300
34      소계     4906

In [231]:
ssangdo20.at[32,'읍면동별(3)'] = '마산회원구' 
ssangdo20.at[33,'읍면동별(3)'] = '경남진해경찰서' 
ssangdo20.at[34,'읍면동별(3)'] = '경남진주경찰서' 
ssangdo20

    읍면동별(3) 2020 1/2
1        동읍      184
2        북면      263
3       대산면      339
4       의창동      236
5       팔룡동      996
6       명곡동      633
7       봉림동      553
8       용지동      299
9       반송동      247
10      중앙동     1020
11      상남동      201
12      사파동      292
13     가음정동      299
14      성주동      436
15      웅남동      941
16      구산면      203
17      진동면      185
18      진북면      387
19      진전면      113
20       현동      113
21      가포동       29
22      월영동      319
23      문화동      131
24    반월중앙동       67
25      완월동       40
26      자산동       88
27      교방동       52
28      노산동        -
29      오동동       96
30      합포동       44
31      산호동      128
32    마산회원구     1971
33  경남진해경찰서     3300
34  경남진주경찰서     4906

In [233]:
ssangdo20.set_index('읍면동별(3)', inplace=True)
ssangdo20.loc[['팔룡동','용지동','반송동','중앙동','상남동','사파동','가음정동','성주동','웅남동']].sum() #창원중부

2020 1/2    9.962992e+27
dtype: float64

In [236]:
ssangdo20.drop(index=['노산동'],inplace=True)
ssangdo20=pd.to_numeric(ssangdo20['2020 1/2'])

In [237]:
ssangdo20.loc[['팔룡동','용지동','반송동','중앙동','상남동','사파동','가음정동','성주동','웅남동']].sum() #창원중부

4731

In [238]:
ssangdo20.loc[['동읍','북면','대산면','의창동','명곡동','봉림동']].sum() #창원서부

2208

In [239]:
ssangdo20.loc[['마산회원구','산호동']].sum() #마산동부

2099

In [241]:
ssangdo20.loc[['구산면','진동면','진북면','진전면','현동','가포동','월영동','문화동','반월중앙동','완월동',
               '자산동','교방동','오동동','합포동']].sum() #마산중부

1867

In [243]:
ssangdo20.loc['경남창원중부경찰서']=[4731]
ssangdo20.loc['경남창원서부경찰서']=[2208]
ssangdo20.loc['경남마산동부경찰서']=[2099]
ssangdo20.loc['경남마산중부경찰서']=[1867]
ssangdo20

읍면동별(3)
동읍                         184
북면                         263
대산면                        339
의창동                        236
팔룡동                        996
명곡동                        633
봉림동                        553
용지동                        299
반송동                        247
중앙동                       1020
상남동                        201
사파동                        292
가음정동                       299
성주동                        436
웅남동                        941
구산면                        203
진동면                        185
진북면                        387
진전면                        113
현동                         113
가포동                         29
월영동                        319
문화동                        131
반월중앙동                       67
완월동                         40
자산동                         88
교방동                         52
오동동                         96
합포동                         44
산호동                        128
마산회원구                     1971
경남진해경찰서                   3300
경남진주경찰서                   4906
35           [경남창원중부경찰서, 4731]
36           [경남창원서부경찰서, 2208]
37           [경남마산동부경찰서, 2099]
38           [경남마산중부경찰서, 1867]
경남창원중부경찰서               [4731]
경남창원서부경찰서               [2208]
경남마산동부경찰서               [2099]
경남마산중부경찰서               [1867]
Name: 2020 1/2, dtype: object

In [249]:
ssangdo20=pd.DataFrame(ssangdo20)
ssangdo20.reset_index()
ssangdo20

                    2020 1/2
읍면동별(3)
동읍                       184
북면                       263
대산면                      339
의창동                      236
팔룡동                      996
명곡동                      633
봉림동                      553
용지동                      299
반송동                      247
중앙동                     1020
상남동                      201
사파동                      292
가음정동                     299
성주동                      436
웅남동                      941
구산면                      203
진동면                      185
진북면                      387
진전면                      113
현동                       113
가포동                       29
월영동                      319
문화동                      131
반월중앙동                     67
완월동                       40
자산동                       88
교방동                       52
오동동                       96
합포동                       44
산호동                      128
마산회원구                   1971
경남진해경찰서                 3300
경남진주경찰서                 4906
35         [경남창원중부경찰서, 4731]
36         [경남창원서부경찰서, 2208]
37         [경남마산동부경찰서, 2099]
38         [경남마산중부경찰서, 1867]
경남창원중부경찰서             [4731]
경남창원서부경찰서             [2208]
경남마산동부경찰서             [2099]
경남마산중부경찰서             [1867]

In [251]:
ssangdo20.drop(index=['동읍','북면','대산면','의창동','팔룡동','명곡동','봉림동','용지동','반송동',
                      '중앙동','상남동','사파동','가음정동','성주동','웅남동','구산면','진동면',
                      '진북면','진전면','현동','가포동','월영동','문화동','반월중앙동','완월동',
                      '자산동','교방동','오동동','합포동','산호동','마산회원구',35,36,37,38],inplace=True)

In [253]:
ssangdo20.loc['경남창원중부경찰서']=4731
ssangdo20.loc['경남창원서부경찰서']=2208
ssangdo20.loc['경남마산동부경찰서']=2099
ssangdo20.loc['경남마산중부경찰서']=1867

In [256]:
ssangdo20.reset_index(inplace=True)

In [257]:
ssangdo20

     읍면동별(3) 2020 1/2
0    경남진해경찰서     3300
1    경남진주경찰서     4906
2  경남창원중부경찰서     4731
3  경남창원서부경찰서     2208
4  경남마산동부경찰서     2099
5  경남마산중부경찰서     1867

In [259]:
for i in range(6):
    ssangdo20.loc[i,'연도'] = [2020]
ssangdo20

     읍면동별(3) 2020 1/2      연도
0    경남진해경찰서     3300  2020.0
1    경남진주경찰서     4906  2020.0
2  경남창원중부경찰서     4731  2020.0
3  경남창원서부경찰서     2208  2020.0
4  경남마산동부경찰서     2099  2020.0
5  경남마산중부경찰서     1867  2020.0

In [269]:
ssangdo20.rename(columns={'2020 1/2': '외국인수','읍면동별(3)':'jur_stn'},inplace=True)
ssangdo=ssangdo20.reindex(columns=['jur_stn','연도','외국인수'])

In [287]:
df2=pd.DataFrame(ssangdo['연도'].astype(int))
df=ssangdo[['jur_stn','외국인수']]
df=pd.DataFrame(df)

In [289]:
ssangdo = pd.concat([df,df2],axis=1, ignore_index=True)
ssangdo

           0     1     2
0    경남진해경찰서  3300  2020
1    경남진주경찰서  4906  2020
2  경남창원중부경찰서  4731  2020
3  경남창원서부경찰서  2208  2020
4  경남마산동부경찰서  2099  2020
5  경남마산중부경찰서  1867  2020

In [291]:
ssangdo.rename(columns={2:'연도',1: '외국인수',0:'jur_stn'},inplace=True)
ssangdo

     jur_stn  외국인수    연도
0    경남진해경찰서  3300  2020
1    경남진주경찰서  4906  2020
2  경남창원중부경찰서  4731  2020
3  경남창원서부경찰서  2208  2020
4  경남마산동부경찰서  2099  2020
5  경남마산중부경찰서  1867  2020

In [292]:
ssangdo=ssangdo.reindex(columns=['jur_stn','연도','외국인수'])

In [293]:
ssangdo

     jur_stn    연도  외국인수
0    경남진해경찰서  2020  3300
1    경남진주경찰서  2020  4906
2  경남창원중부경찰서  2020  4731
3  경남창원서부경찰서  2020  2208
4  경남마산동부경찰서  2020  2099
5  경남마산중부경찰서  2020  1867

In [295]:
foriener20 = pd.concat([seoul, trouble20, suwon,sejong,ssangdo], ignore_index=True)
foriener20.sort_values(by=['jur_stn'], axis=0,inplace=True)
foriener20

      jur_stn    연도    외국인수
39  경남마산동부경찰서  2020    2099
40  경남마산중부경찰서  2020    1867
36    경남진주경찰서  2020    4906
35    경남진해경찰서  2020    3300
38  경남창원서부경찰서  2020    2208
37  경남창원중부경찰서  2020    4731
19    서울강남경찰서  2020    3828
0     서울강동경찰서  2020   14605
1     서울강북경찰서  2020    6949
2     서울강서경찰서  2020   13427
3     서울관악경찰서  2020   14177
4     서울광진경찰서  2020    4860
5     서울구로경찰서  2020    3514
6     서울금천경찰서  2020    2104
20   서울남대문경찰서  2020    2637
7     서울노원경찰서  2020    3995
8     서울도봉경찰서  2020   10779
9    서울동대문경찰서  2020    9968
10    서울동작경찰서  2020    3530
11    서울마포경찰서  2020    5716
21    서울방배경찰서  2020    1075
12   서울서대문경찰서  2020   28080
22    서울서부경찰서  2020    1833
23    서울서초경찰서  2020    2824
13    서울성동경찰서  2020   16102
24    서울성북경찰서  2020    6105
14    서울송파경찰서  2020   27887
25    서울수서경찰서  2020     996
15    서울양천경찰서  2020   10352
16   서울영등포경찰서  2020   14743
17    서울용산경찰서  2020    5966
26    서울은평경찰서  2020    2375
27    서울종로경찰서  2020    2695
28    서울종암경찰서  2020    3798
18    서울중랑경찰서  2020    4028
29    서울중부경찰서  2020    6758
30    서울혜화경찰서  2020    6917
31    수원남부경찰서  2020  447130
32    수원서부경찰서  2020  290108
33    수원중부경찰서  2020  380304
34    충남세종경찰서  2020    7244

In [296]:
foriener20.to_csv('외국인20끝.csv',index=False, encoding='cp949')

In [298]:
weguk=pd.read_csv('외국인끝.csv',encoding='cp949')
weguk

       jur_stn    연도   외국인수
0    경기수원남부경찰서  2017  15295
1    경기수원서부경찰서  2017  24040
2    경기수원중부경찰서  2017  18967
3    경남마산동부경찰서  2017   4184
4    경남마산중부경찰서  2017   3268
..         ...   ...    ...
118    서울종암경찰서  2019   7111
119    서울중랑경찰서  2019   9785
120    서울중부경찰서  2019  11496
121    서울혜화경찰서  2019  10641
122    충남세종경찰서  2019   9814

[123 rows x 3 columns]

In [299]:
foriener20 = pd.concat([weguk,foriener20], ignore_index=True)

In [302]:
foriener20.to_csv('외국인17-20까지다.csv',index=False, encoding='cp949')