In [3]:
import numpy as np
import pandas as pd

In [69]:
fornr17=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
seoul18=pd.read_csv('경찰 외국인 18.csv',encoding='cp949')
seoul19=pd.read_csv('경찰 외국인 19.csv',encoding='cp949')

In [70]:
ornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')
fornr=pd.read_csv('경찰 외국인 17.csv',encoding='cp949')

In [71]:
fornr.head()

  행정구역(읍면동)별(1) 행정구역(읍면동)별(2)    시점     합계
0         서울특별시           강동구  2017   8196
1         서울특별시           강북구  2017   6487
2         서울특별시           강서구  2017  12532
3         서울특별시           관악구  2017  29335
4         서울특별시           광진구  2017  21216

In [72]:
fornr17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seoul18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seoul19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [73]:
fornr17.at[0,'행정구역(읍면동)별(2)'] = '서울강동경찰서' 
fornr17.at[1,'행정구역(읍면동)별(2)'] = '서울강북경찰서' 
fornr17.at[2,'행정구역(읍면동)별(2)'] = '서울강서경찰서' 
fornr17.at[3,'행정구역(읍면동)별(2)'] = '서울관악경찰서' 
fornr17.at[4,'행정구역(읍면동)별(2)'] = '서울광진경찰서' 
fornr17.at[5,'행정구역(읍면동)별(2)'] = '서울구로경찰서' 
fornr17.at[6,'행정구역(읍면동)별(2)'] = '서울금천경찰서' 
fornr17.at[7,'행정구역(읍면동)별(2)'] = '서울노원경찰서' 
fornr17.at[8,'행정구역(읍면동)별(2)'] = '서울도봉경찰서' 
fornr17.at[9,'행정구역(읍면동)별(2)'] = '서울동대문경찰서' 
fornr17.at[10,'행정구역(읍면동)별(2)'] = '서울동작경찰서' 
fornr17.at[11,'행정구역(읍면동)별(2)'] = '서울마포경찰서' 
fornr17.at[12,'행정구역(읍면동)별(2)'] = '서울서대문경찰서' 
fornr17.at[13,'행정구역(읍면동)별(2)'] = '서울성동경찰서' 
fornr17.at[14,'행정구역(읍면동)별(2)'] = '서울송파경찰서' 
fornr17.at[15,'행정구역(읍면동)별(2)'] = '서울양천경찰서' 
fornr17.at[16,'행정구역(읍면동)별(2)'] = '서울영등포경찰서' 
fornr17.at[17,'행정구역(읍면동)별(2)'] = '서울용산경찰서' 
fornr17.at[18,'행정구역(읍면동)별(2)'] = '서울중랑경찰서'

In [74]:
fornr17.drop(19, inplace=True)

KeyError: '[19] not found in axis'

In [75]:
fornr17

   행정구역(읍면동)별(2)    시점     합계
0        서울강동경찰서  2017   8196
1        서울강북경찰서  2017   6487
2        서울강서경찰서  2017  12532
3        서울관악경찰서  2017  29335
4        서울광진경찰서  2017  21216
5        서울구로경찰서  2017  49996
6        서울금천경찰서  2017  30317
7        서울노원경찰서  2017   6539
8        서울도봉경찰서  2017   4145
9       서울동대문경찰서  2017  20374
10       서울동작경찰서  2017  18592
11       서울마포경찰서  2017  13842
12      서울서대문경찰서  2017  14763
13       서울성동경찰서  2017  12604
14       서울송파경찰서  2017  12233
15       서울양천경찰서  2017   8152
16      서울영등포경찰서  2017  54145
17       서울용산경찰서  2017  17629
18       서울중랑경찰서  2017   8475

In [76]:
seoul18

   행정구역(읍면동)별(2)    시점     합계
0            강동구  2018   8764
1            강북구  2018   7015
2            강서구  2018  13192
3            관악구  2018  30267
4            광진구  2018  22554
5            구로구  2018  54089
6            금천구  2018  32556
7            노원구  2018   7697
8            도봉구  2018   4560
9           동대문구  2018  22318
10           동작구  2018  19970
11           마포구  2018  14746
12          서대문구  2018  16065
13           성동구  2018  13555
14           송파구  2018  13112
15           양천구  2018   8418
16          영등포구  2018  56483
17           용산구  2018  20841
18           중랑구  2018   9132

In [77]:
seoul18.at[0,'행정구역(읍면동)별(2)'] = '서울강동경찰서' 
seoul18.at[1,'행정구역(읍면동)별(2)'] = '서울강북경찰서' 
seoul18.at[2,'행정구역(읍면동)별(2)'] = '서울강서경찰서' 
seoul18.at[3,'행정구역(읍면동)별(2)'] = '서울관악경찰서' 
seoul18.at[4,'행정구역(읍면동)별(2)'] = '서울광진경찰서' 
seoul18.at[5,'행정구역(읍면동)별(2)'] = '서울구로경찰서' 
seoul18.at[6,'행정구역(읍면동)별(2)'] = '서울금천경찰서' 
seoul18.at[7,'행정구역(읍면동)별(2)'] = '서울노원경찰서' 
seoul18.at[8,'행정구역(읍면동)별(2)'] = '서울도봉경찰서' 
seoul18.at[9,'행정구역(읍면동)별(2)'] = '서울동대문경찰서' 
seoul18.at[10,'행정구역(읍면동)별(2)'] = '서울동작경찰서' 
seoul18.at[11,'행정구역(읍면동)별(2)'] = '서울마포경찰서' 
seoul18.at[12,'행정구역(읍면동)별(2)'] = '서울서대문경찰서' 
seoul18.at[13,'행정구역(읍면동)별(2)'] = '서울성동경찰서' 
seoul18.at[14,'행정구역(읍면동)별(2)'] = '서울송파경찰서' 
seoul18.at[15,'행정구역(읍면동)별(2)'] = '서울양천경찰서' 
seoul18.at[16,'행정구역(읍면동)별(2)'] = '서울영등포경찰서' 
seoul18.at[17,'행정구역(읍면동)별(2)'] = '서울용산경찰서' 
seoul18.at[18,'행정구역(읍면동)별(2)'] = '서울중랑경찰서'

In [78]:
seoul18

   행정구역(읍면동)별(2)    시점     합계
0        서울강동경찰서  2018   8764
1        서울강북경찰서  2018   7015
2        서울강서경찰서  2018  13192
3        서울관악경찰서  2018  30267
4        서울광진경찰서  2018  22554
5        서울구로경찰서  2018  54089
6        서울금천경찰서  2018  32556
7        서울노원경찰서  2018   7697
8        서울도봉경찰서  2018   4560
9       서울동대문경찰서  2018  22318
10       서울동작경찰서  2018  19970
11       서울마포경찰서  2018  14746
12      서울서대문경찰서  2018  16065
13       서울성동경찰서  2018  13555
14       서울송파경찰서  2018  13112
15       서울양천경찰서  2018   8418
16      서울영등포경찰서  2018  56483
17       서울용산경찰서  2018  20841
18       서울중랑경찰서  2018   9132

In [79]:
seoul19.at[0,'행정구역(읍면동)별(2)'] = '서울강동경찰서' 
seoul19.at[1,'행정구역(읍면동)별(2)'] = '서울강북경찰서' 
seoul19.at[2,'행정구역(읍면동)별(2)'] = '서울강서경찰서' 
seoul19.at[3,'행정구역(읍면동)별(2)'] = '서울관악경찰서' 
seoul19.at[4,'행정구역(읍면동)별(2)'] = '서울광진경찰서' 
seoul19.at[5,'행정구역(읍면동)별(2)'] = '서울구로경찰서' 
seoul19.at[6,'행정구역(읍면동)별(2)'] = '서울금천경찰서' 
seoul19.at[7,'행정구역(읍면동)별(2)'] = '서울노원경찰서' 
seoul19.at[8,'행정구역(읍면동)별(2)'] = '서울도봉경찰서' 
seoul19.at[9,'행정구역(읍면동)별(2)'] = '서울동대문경찰서' 
seoul19.at[10,'행정구역(읍면동)별(2)'] = '서울동작경찰서' 
seoul19.at[11,'행정구역(읍면동)별(2)'] = '서울마포경찰서' 
seoul19.at[12,'행정구역(읍면동)별(2)'] = '서울서대문경찰서' 
seoul19.at[13,'행정구역(읍면동)별(2)'] = '서울성동경찰서' 
seoul19.at[14,'행정구역(읍면동)별(2)'] = '서울송파경찰서' 
seoul19.at[15,'행정구역(읍면동)별(2)'] = '서울양천경찰서' 
seoul19.at[16,'행정구역(읍면동)별(2)'] = '서울영등포경찰서' 
seoul19.at[17,'행정구역(읍면동)별(2)'] = '서울용산경찰서' 
seoul19.at[18,'행정구역(읍면동)별(2)'] = '서울중랑경찰서'

In [80]:
seocho17=pd.read_csv('서초 17.csv',encoding='cp949')
seocho18=pd.read_csv('서초 18.csv',encoding='cp949')
seocho19=pd.read_csv('서초 19.csv',encoding='cp949')

In [81]:
seocho17

   행정구역(읍면동)별(1) 행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점   합계
0          서울특별시           서초구          서초1동  2017  400
1          서울특별시           서초구          서초2동  2017  625
2          서울특별시           서초구          서초3동  2017  617
3          서울특별시           서초구          서초4동  2017  549
4          서울특별시           서초구           잠원동  2017  477
5          서울특별시           서초구          반포1동  2017  608
6          서울특별시           서초구          반포3동  2017  170
7          서울특별시           서초구          반포4동  2017  645
8          서울특별시           서초구          양재1동  2017  829
9          서울특별시           서초구          양재2동  2017  457
10         서울특별시           서초구           내곡동  2017  244

In [84]:
seocho17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seocho18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
seocho19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [85]:
seocho17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
seocho18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
seocho19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)

KeyError: "['행정구역(읍면동)별(2)'] not found in axis"

In [86]:
print(seocho17['합계'].sum())
print(seocho18['합계'].sum())
print(seocho19['합계'].sum())

5621
6224
6923

In [87]:
seocho17.head()

  행정구역(읍면동)별(3)    시점   합계
0          서초1동  2017  400
1          서초2동  2017  625
2          서초3동  2017  617
3          서초4동  2017  549
4           잠원동  2017  477

In [88]:
seocho17.loc['total']=['서울서초경찰서','2017','5621']###########################
seocho18.loc['total']=['서울서초경찰서','2018','6224']
seocho19.loc['total']=['서울서초경찰서','2019','6923']

In [90]:
seocho17=seocho17.loc['total']

In [ ]:
seocho18=seocho18.loc['total']
seocho19=seocho19.loc['total']

In [128]:

seocho18=pd.DataFrame(seocho18.loc['total']).T
seocho19=pd.DataFrame(seocho18.loc['total']).T

In [5]:
jinju=pd.read_csv('진주.csv',encoding='cp949')
masandong=pd.read_excel('마산동부.xlsx')
masanjung17=pd.read_excel('마산중부17.xlsx')
masanjung18=pd.read_excel('마산중부18.xlsx')
masanjung19=pd.read_excel('마산중부19.xlsx')
jinhae=pd.read_excel('창원진해.xlsx',)
changjung17=pd.read_csv('창원중부 17.csv',encoding='cp949')
changjung18=pd.read_csv('창원중부18.csv',encoding='cp949')
changjung19=pd.read_csv('창원중부19.csv',encoding='cp949')
changseo17=pd.read_csv('창원서부17.csv',encoding='cp949')
changseo18=pd.read_csv('창원서부18.csv',encoding='cp949')
changseo19=pd.read_csv('창원서부 19.csv',encoding='cp949')
sejong=pd.read_csv('세종.csv',encoding='cp949')

In [13]:
jinju.at[0,'행정구역(읍면동)별(2)'] = '경남진주경찰서' 
jinju.at[1,'행정구역(읍면동)별(2)'] = '경남진주경찰서' 
jinju.at[2,'행정구역(읍면동)별(2)'] = '경남진주경찰서'

In [21]:
jinju.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [23]:
jinju17=jinju.loc[0]

In [133]:
jinju17=pd.DataFrame(jinju.loc[0]).T
jinju18=pd.DataFrame(jinju.loc[1]).T
jinju19=pd.DataFrame(jinju.loc[2]).T
jinju19        ###########

  행정구역(읍면동)별(2)    시점    합계
2       경남진주경찰서  2019  9741

In [30]:

masandong.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
masanjung17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
masanjung18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
masanjung19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
jinhae.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changjung17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changjung18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changjung19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changseo17.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changseo18.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
changseo19.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)
sejong.drop('행정구역(읍면동)별(1)',axis=1,inplace=True)

In [31]:
masandong

  행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점    합계
0     창원시 마산합포구           산호동  2017   255
1           NaN           NaN  2018   267
2           NaN           NaN  2019   295
3     창원시 마산회원구            소계  2017  3929
4           NaN           NaN  2018  3967
5           NaN           NaN  2019  4136

In [32]:
masandong = masandong.reindex(index=[0,3,1,4,2,5])

In [34]:
masandong.drop('행정구역(읍면동)별(3)',axis=1,inplace=True)
masandong.at[0,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[1,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[2,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[3,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[4,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서' 
masandong.at[5,'행정구역(읍면동)별(2)'] = '경남마산동부경찰서'

In [60]:

masandong17.loc['4']=['경남마산동부경찰서','2017','4184']
masandong18.loc['9']=['경남마산동부경찰서','2018','4234']
masandong19.loc['7']=['경남마산동부경찰서','2019','4431']
mas

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [64]:
masandong17=masandong17.drop([masandong17.index[0],masandong17.index[1]])
masandong17

  행정구역(읍면동)별(2)    시점    합계
0     경남마산동부경찰서  2017  4184

In [65]:
masandong18=masandong18.drop([masandong18.index[0],masandong18.index[1]])
masandong19=masandong19.drop([masandong19.index[0],masandong19.index[1]])

In [ ]:
masanjung17=pd.read_excel('마산중부17.xlsx')
masanjung18=pd.read_excel('마산중부18.xlsx')
masanjung19=pd.read_excel('마산중부19.xlsx')
jinhae=pd.read_excel('창원진해.xlsx',)
changjung17=pd.read_csv('창원중부 17.csv',encoding='cp949')
changjung18=pd.read_csv('창원중부18.csv',encoding='cp949')
changjung19=pd.read_csv('창원중부19.csv',encoding='cp949')
changseo17=pd.read_csv('창원서부17.csv',encoding='cp949')
changseo18=pd.read_csv('창원서부18.csv',encoding='cp949')
changseo19=pd.read_csv('창원서부 19.csv',encoding='cp949')
sejong=pd.read_csv('세종.csv',encoding='cp949')

In [99]:
masanjung17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
masanjung18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
masanjung19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changjung17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changjung18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changjung19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changseo17.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changseo18.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)
changseo19.drop('행정구역(읍면동)별(2)',axis=1,inplace=True)

In [67]:
print(masanjung17['합계'].sum())
print(masanjung18['합계'].sum())
print(masanjung19['합계'].sum())
print(changjung17['합계'].sum())
print(changjung18['합계'].sum())
print(changjung19['합계'].sum())
print(changseo17['합계'].sum())
print(changseo18['합계'].sum())
print(changseo19['합계'].sum())

3268
3580
3897
8214
8536
8720
4264
4523
4670

In [100]:
masanjung17.loc['total']=['경남마산중부경찰서','2017','3268']###########################
masanjung18.loc['total']=['경남마산중부경찰서','2018','3580']
masanjung19.loc['total']=['경남마산중부경찰서','2019','3897']
changjung17.loc['total']=['경남창원중부경찰서','2017','8214']###########################
changjung18.loc['total']=['경남창원중부경찰서','2018','8536']
changjung19.loc['total']=['경남창원중부경찰서','2019','8720']
changseo17.loc['total']=['경남창원서부경찰서','2017','4264']###########################
changseo18.loc['total']=['경남창원서부경찰서','2018','4523']
changseo19.loc['total']=['경남창원서부경찰서','2019','4670']
masanjung17=pd.DataFrame(masanjung17.loc['total']).T
masanjung18=pd.DataFrame(masanjung18.loc['total']).T
masanjung19=pd.DataFrame(masanjung19.loc['total']).T
changjung17=pd.DataFrame(changjung17.loc['total']).T
changjung18=pd.DataFrame(changjung18.loc['total']).T
changjung19=pd.DataFrame(changjung19.loc['total']).T
changseo17=pd.DataFrame(changseo17.loc['total']).T
changseo18=pd.DataFrame(changseo18.loc['total']).T
changseo19=pd.DataFrame(changseo19.loc['total']).T

In [108]:
sejong.insert(0,"행정구역(읍면동)별(2)",['충남세종경찰서','충남세종경찰서','충남세종경찰서'],True)
sejong

  행정구역(읍면동)별(2)    시점    합계
0       충남세종경찰서  2017  6761
1       충남세종경찰서  2018  8187
2       충남세종경찰서  2019  9814

In [110]:
jinhae.at[0,'행정구역(읍면동)별(2)'] = '경남진해경찰서' 
jinhae.at[1,'행정구역(읍면동)별(2)'] = '경남진해경찰서' 
jinhae.at[2,'행정구역(읍면동)별(2)'] = '경남진해경찰서' 
jinhae17=pd.DataFrame(jinhae.loc[0]).T
jinhae18=pd.DataFrame(jinhae.loc[1]).T
jinhae19=pd.DataFrame(jinhae.loc[2]).T
sejong17=pd.DataFrame(sejong.loc[0]).T
sejong18=pd.DataFrame(sejong.loc[1]).T
sejong19=pd.DataFrame(sejong.loc[2]).T

In [111]:
jinhae17  #######################################################경남 , 충남, 서울, 서초 끝

  행정구역(읍면동)별(2)    시점    합계
0       경남진해경찰서  2017  5558

In [112]:
#####서울 중복

gangnam17=pd.read_csv('강남 17.csv',encoding='cp949')
gangnam18=pd.read_csv('강남 18.csv',encoding='cp949')
gangnam19=pd.read_csv('강남 19.csv',encoding='cp949')
nam17=pd.read_csv('남대문 17.csv',encoding='cp949')
nam18=pd.read_csv('남대문 18.csv',encoding='cp949')
nam19=pd.read_csv('남대문 19.csv',encoding='cp949')
bang17=pd.read_csv('방배 17.csv',encoding='cp949')
bang18=pd.read_csv('방배 18.csv',encoding='cp949')
bang19=pd.read_csv('방배 19.csv',encoding='cp949')
seobu17=pd.read_csv('서부 17.csv',encoding='cp949')
seobu18=pd.read_csv('서부 18.csv',encoding='cp949')
seobu19=pd.read_csv('서부19.csv',encoding='cp949')
songbuk17=pd.read_csv('성북 17.csv',encoding='cp949')
songbuk18=pd.read_csv('성북 18.csv',encoding='cp949')
songbuk19=pd.read_csv('성북 19.csv',encoding='cp949')
sue17=pd.read_csv('수서17.csv',encoding='cp949')
sue18=pd.read_csv('수서18.csv',encoding='cp949')
sue19=pd.read_csv('수서 19.csv',encoding='cp949')
eun17=pd.read_csv('은평 17.csv',encoding='cp949')
eun18=pd.read_csv('은평 18.csv',encoding='cp949')
eun19=pd.read_csv('은평 19.csv',encoding='cp949')
jongro17=pd.read_csv('종로경찰서 2017.csv',encoding='cp949')
jongro18=pd.read_csv('종로경찰서 2018.csv',encoding='cp949')
jongro19=pd.read_csv('종로경찰서 2019.csv',encoding='cp949')
jongarm17=pd.read_csv('종암 17.csv',encoding='cp949')
jongarm18=pd.read_csv('종암 18.csv',encoding='cp949')
jongarm19=pd.read_csv('종암 19.csv',encoding='cp949')
jungbu17=pd.read_csv('중부 17.csv',encoding='cp949')
jungbu18=pd.read_csv('중부 18.csv',encoding='cp949')
jungbu19=pd.read_csv('중부 19.csv',encoding='cp949')
hye17=pd.read_csv('혜화2017.csv',encoding='cp949')
hye18=pd.read_csv('혜화 2018.csv',encoding='cp949')
hye19=pd.read_csv('혜화 2019.csv',encoding='cp949')

#########################경기도 
kyungjung17=pd.read_csv('수원중부 17.csv',encoding='cp949')
kyungjung18=pd.read_csv('수원중부 18.csv',encoding='cp949')
kyungjung19=pd.read_csv('수원 중부 19.csv',encoding='cp949')
kyungseo17=pd.read_csv('수원서부 17.csv',encoding='cp949')
kyungseo18=pd.read_csv('수원서부 18.csv',encoding='cp949')
kyungseo19=pd.read_csv('수원서부 19.csv',encoding='cp949')
kyungnam17=pd.read_csv('수원남부17.csv',encoding='cp949')
kyungnam18=pd.read_csv('수원남부18.csv',encoding='cp949')
kyungnam19=pd.read_csv('수원남부 19.csv',encoding='cp949')

In [113]:
gangnam17
gangnam18
gangnam19
nam17
nam18
nam19
bang17
bang18
bang19
seobu17
seobu18
seobu19
songbuk17
songbuk18
songbuk19
sue17
sue18
sue19
eun17
eun18
eun19
jongro17
jongro18
jongro19
jongarm17
jongarm18
jongarm19
jungbu17
jungbu18
jungbu19
hye17
hye18
hye19

#########################경기도 
kyungjung17
kyungjung18
kyungjung19
kyungseo17
kyungseo18
kyungseo19
kyungnam17
kyungnam18
kyungnam19

   행정구역(읍면동)별(1) 행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점    합계
0            경기도       수원시 권선구          권선1동  2017   993
1            경기도       수원시 권선구           곡선동  2017   857
2            경기도       수원시 권선구          권선2동  2017   495
3            경기도       수원시 팔달구           인계동  2017  3006
4            경기도       수원시 영통구          매탄1동  2017  1020
5            경기도       수원시 영통구          매탄2동  2017   780
6            경기도       수원시 영통구          매탄3동  2017  1331
7            경기도       수원시 영통구          매탄4동  2017   536
8            경기도       수원시 영통구           태장동  2017   850
9            경기도       수원시 영통구           원천동  2017  1406
10           경기도       수원시 영통구          광교1동  2017   838
11           경기도       수원시 영통구          광교2동  2017   326
12           경기도       수원시 영통구          영통1동  2017  1942
13           경기도       수원시 영통구          영통2동  2017   915

In [114]:
gangnam17

   행정구역(읍면동)별(1) 행정구역(읍면동)별(2) 행정구역(읍면동)별(3)    시점    합계
0          서울특별시           강남구           신사동  2017   473
1          서울특별시           강남구          논현1동  2017   789
2          서울특별시           강남구          논현2동  2017   541
3          서울특별시           강남구          삼성1동  2017   390
4          서울특별시           강남구          삼성2동  2017   508
5          서울특별시           강남구          대치1동  2017   170
6          서울특별시           강남구          대치4동  2017   480
7          서울특별시           강남구          역삼1동  2017  1262
8          서울특별시           강남구          역삼2동  2017   607
9          서울특별시           강남구          압구정동  2017   518
10         서울특별시           강남구           청담동  2017   619
11         서울특별시           강남구          대치2동  2017   366

In [115]:
gangnam17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
gangnam18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
gangnam19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
nam17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
nam18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
nam19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
bang17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
bang18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
bang19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
seobu17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
seobu18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
seobu19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
songbuk17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
songbuk18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
songbuk19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
sue17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
sue18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
sue19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
eun17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
eun18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
eun19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongro17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongro18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongro19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongarm17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongarm18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jongarm19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jungbu17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jungbu18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
jungbu19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
hye17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
hye18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
hye19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)

#########################경기도 
kyungjung17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungjung18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungjung19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungseo17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungseo18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungseo19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungnam17.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungnam18.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)
kyungnam19.drop(['행정구역(읍면동)별(1)','행정구역(읍면동)별(2)'],axis=1,inplace=True)

In [116]:
print(gangnam17['합계'].sum())
print(gangnam18['합계'].sum())
print(gangnam19['합계'].sum())
print(nam17['합계'].sum())
print(nam18['합계'].sum())
print(nam19['합계'].sum())
print(bang17['합계'].sum())
print(bang18['합계'].sum())
print(bang19['합계'].sum())
print(seobu17['합계'].sum())
print(seobu18['합계'].sum())
print(seobu19['합계'].sum())
print(songbuk17['합계'].sum())
print(songbuk18['합계'].sum())
print(songbuk19['합계'].sum())
print(sue17['합계'].sum())
print(sue18['합계'].sum())
print(sue19['합계'].sum())
print(eun17['합계'].sum())
print(eun18['합계'].sum())
print(eun19['합계'].sum())
print(jongro17['합계'].sum())
print(jongro18['합계'].sum())
print(jongro19['합계'].sum())
print(jongarm17['합계'].sum())
print(jongarm18['합계'].sum())
print(jongarm19['합계'].sum())
print(jungbu17['합계'].sum())
print(jungbu18['합계'].sum())
print(jungbu19['합계'].sum())
print(hye17['합계'].sum())
print(hye18['합계'].sum())
print(hye19['합계'].sum())

#########################경기도 
print(kyungjung17['합계'].sum())
print(kyungjung18['합계'].sum())
print(kyungjung19['합계'].sum())
print(kyungseo17['합계'].sum())
print(kyungseo18['합계'].sum())
print(kyungseo19['합계'].sum())
print(kyungnam17['합계'].sum())
print(kyungnam18['합계'].sum())
print(kyungnam19['합계'].sum())

6723
7760
8561
1948
2405
2300
2364
2488
2832
3345
3559
3875
9006
10021
10865
2622
2846
3174
5068
5336
5626
3191
3395
3554
6332
6752
7111
9434
10736
11496
8717
9617
10641
18967
21525
22453
24040
26522
27419
15295
15884
16482

In [117]:
gangnam17.loc['total']=['서울강남경찰서','2017','6723']
gangnam18.loc['total']=['서울강남경찰서','2018','7760']
gangnam19.loc['total']=['서울강남경찰서','2019','8561']
nam17.loc['total']=['서울남대문경찰서','2017','1948']
nam18.loc['total']=['서울남대문경찰서','2018','2450']
nam19.loc['total']=['서울남대문경찰서','2019','2300']
bang17.loc['total']=['서울방배경찰서','2017','2364']
bang18.loc['total']=['서울방배경찰서','2018','2488']
bang19.loc['total']=['서울방배경찰서','2019','2832']
seobu17.loc['total']=['서울서부경찰서','2017','3345']
seobu18.loc['total']=['서울서부경찰서','2018','3559']
seobu19.loc['total']=['서울서부경찰서','2019','3875']
songbuk17.loc['total']=['서울성북경찰서','2017','9006']
songbuk18.loc['total']=['서울성북경찰서','2018','10021']
songbuk19.loc['total']=['서울성북경찰서','2019','10865']
sue17.loc['total']=['서울수서경찰서','2017','2622']
sue18.loc['total']=['서울수서경찰서','2018','2846']
sue19.loc['total']=['서울수서경찰서','2019','3174']
eun17.loc['total']=['서울은평경찰서','2017','5068']
eun18.loc['total']=['서울은평경찰서','2018','5338']
eun19.loc['total']=['서울은평경찰서','2019','5626']
jongro17.loc['total']=['서울종로경찰서','2017','3191']
jongro18.loc['total']=['서울종로경찰서','2018','3395']
jongro19.loc['total']=['서울종로경찰서','2019','3554']
jongarm17.loc['total']=['서울종암경찰서','2017','6332']
jongarm18.loc['total']=['서울종암경찰서','2018','6752']
jongarm19.loc['total']=['서울종암경찰서','2019','7111']
jungbu17.loc['total']=['서울중부경찰서','2017','9434']
jungbu18.loc['total']=['서울중부경찰서','2018','10736']
jungbu19.loc['total']=['서울중부경찰서','2019','11496']
hye17.loc['total']=['서울혜화경찰서','2017','8717']
hye18.loc['total']=['서울혜화경찰서','2018','9617']
hye19.loc['total']=['서울혜화경찰서','2019','10641']

#########################경기도 
kyungjung17.loc['total']=['경기수원중부경찰서','2017','18967']
kyungjung18.loc['total']=['경기수원중부경찰서','2018','21525']
kyungjung19.loc['total']=['경기수원중부경찰서','2019','22453']
kyungseo17.loc['total']=['경기수원서부경찰서','2017','24040']
kyungseo18.loc['total']=['경기수원서부경찰서','2018','26522']
kyungseo19.loc['total']=['경기수원서부경찰서','2019','27419']
kyungnam17.loc['total']=['경기수원남부경찰서','2017','15295']
kyungnam18.loc['total']=['경기수원남부경찰서','2018','15884']
kyungnam19.loc['total']=['경기수원남부경찰서','2019','16482']

In [119]:
gangnam17=pd.DataFrame(gangnam17.loc['total']).T
gangnam18=pd.DataFrame(gangnam18.loc['total']).T
gangnam19=pd.DataFrame(gangnam19.loc['total']).T
nam17=pd.DataFrame(nam17.loc['total']).T
nam18=pd.DataFrame(nam18.loc['total']).T
nam19=pd.DataFrame(nam19.loc['total']).T
bang17=pd.DataFrame(bang17.loc['total']).T
bang18=pd.DataFrame(bang18.loc['total']).T
bang19=pd.DataFrame(bang19.loc['total']).T
seobu17=pd.DataFrame(seobu17.loc['total']).T
seobu18=pd.DataFrame(seobu18.loc['total']).T
seobu19=pd.DataFrame(seobu19.loc['total']).T
songbuk17=pd.DataFrame(songbuk17.loc['total']).T
songbuk18=pd.DataFrame(songbuk18.loc['total']).T
songbuk19=pd.DataFrame(songbuk19.loc['total']).T
sue17=pd.DataFrame(sue17.loc['total']).T
sue18=pd.DataFrame(sue18.loc['total']).T
sue19=pd.DataFrame(sue19.loc['total']).T
eun17=pd.DataFrame(eun17.loc['total']).T
eun18=pd.DataFrame(eun18.loc['total']).T
eun19=pd.DataFrame(eun19.loc['total']).T
jongro17=pd.DataFrame(jongro17.loc['total']).T
jongro18=pd.DataFrame(jongro18.loc['total']).T
jongro19=pd.DataFrame(jongro19.loc['total']).T
jongarm17=pd.DataFrame(jongarm17.loc['total']).T
jongarm18=pd.DataFrame(jongarm18.loc['total']).T
jongarm19=pd.DataFrame(jongarm19.loc['total']).T
jungbu17=pd.DataFrame(jungbu17.loc['total']).T
jungbu18=pd.DataFrame(jungbu18.loc['total']).T
jungbu19=pd.DataFrame(jungbu19.loc['total']).T
hye17=pd.DataFrame(hye17.loc['total']).T
hye18=pd.DataFrame(hye18.loc['total']).T
hye19=pd.DataFrame(hye19.loc['total']).T

#########################경기도 
kyungjung17=pd.DataFrame(kyungjung17.loc['total']).T
kyungjung18=pd.DataFrame(kyungjung18.loc['total']).T
kyungjung19=pd.DataFrame(kyungjung19.loc['total']).T
kyungseo17=pd.DataFrame(kyungseo17.loc['total']).T
kyungseo18=pd.DataFrame(kyungseo18.loc['total']).T
kyungseo19=pd.DataFrame(kyungseo19.loc['total']).T
kyungnam17=pd.DataFrame(kyungnam17.loc['total']).T
kyungnam18=pd.DataFrame(kyungnam18.loc['total']).T
kyungnam19=pd.DataFrame(kyungnam19.loc['total']).T

In [ ]:
gangnam17
gangnam18
gangnam19
nam17
nam18
nam19
bang17
bang18
bang19
seobu17
seobu18
seobu19
songbuk17
songbuk18
songbuk19
sue17
sue18
sue19
eun17
eun18
eun19
jongro17
jongro18
jongro19
jongarm17
jongarm18
jongarm19
jungbu17
jungbu18
jungbu19
hye17
hye18
hye19
seocho17
seocho18
seocho19
fornr17
seoul18
seoul19
#########################경기도 
kyungjung17
kyungjung18
kyungjung19
kyungseo17
kyungseo18
kyungseo19
kyungnam17
kyungnam18
kyungnam19

###############충남,경남
jinhae17
jinhae18
jinhae19
sejong17
sejong18
sejong19
masanjung17
masanjung18
masanjung19
changjung17
changjung18
changjung19
changseo17
changseo18
changseo19
masandong17
masandong18
masandong19
jinju17
jinju18
jinju19

In [ ]:
gangnam17,nam17,bang17,seobu17,songbuk17,sue17,eun17,jongro17,jongarm17,jungbu17,
hye17,seocho17,fornr17,kyungjung17,kyungseo17,kyungnam17,jinhae17,sejong17,masanjung17,changjung17,changseo17,masandong17,jinju17

In [127]:
seocho17

       jur_stn    연도  외국인수
total  서울서초경찰서  2017  5621

In [135]:
gangnam17.columns = ['jur_stn','연도','외국인수']
gangnam18.columns = ['jur_stn','연도','외국인수']
gangnam19.columns = ['jur_stn','연도','외국인수']
nam17.columns = ['jur_stn','연도','외국인수']
nam18.columns = ['jur_stn','연도','외국인수']
nam19.columns = ['jur_stn','연도','외국인수']
bang17.columns = ['jur_stn','연도','외국인수']
bang18.columns = ['jur_stn','연도','외국인수']
bang19.columns = ['jur_stn','연도','외국인수']
seobu17.columns = ['jur_stn','연도','외국인수']
seobu18.columns = ['jur_stn','연도','외국인수']
seobu19.columns = ['jur_stn','연도','외국인수']
songbuk17.columns = ['jur_stn','연도','외국인수']
songbuk18.columns = ['jur_stn','연도','외국인수']
songbuk19.columns = ['jur_stn','연도','외국인수']
sue17.columns = ['jur_stn','연도','외국인수']
sue18.columns = ['jur_stn','연도','외국인수']
sue19.columns = ['jur_stn','연도','외국인수']
eun17.columns = ['jur_stn','연도','외국인수']
eun18.columns = ['jur_stn','연도','외국인수']
eun19.columns = ['jur_stn','연도','외국인수']
jongro17.columns = ['jur_stn','연도','외국인수']
jongro18.columns = ['jur_stn','연도','외국인수']
jongro19.columns = ['jur_stn','연도','외국인수']
jongarm17.columns = ['jur_stn','연도','외국인수']
jongarm18.columns = ['jur_stn','연도','외국인수']
jongarm19.columns = ['jur_stn','연도','외국인수']
jungbu17.columns = ['jur_stn','연도','외국인수']
jungbu18.columns = ['jur_stn','연도','외국인수']
jungbu19.columns = ['jur_stn','연도','외국인수']
hye17.columns = ['jur_stn','연도','외국인수']
hye18.columns = ['jur_stn','연도','외국인수']
hye19.columns = ['jur_stn','연도','외국인수']
seocho17.columns = ['jur_stn','연도','외국인수']
seocho18.columns = ['jur_stn','연도','외국인수']
seocho19.columns = ['jur_stn','연도','외국인수']
fornr17.columns = ['jur_stn','연도','외국인수']
seoul18.columns = ['jur_stn','연도','외국인수']
seoul19.columns = ['jur_stn','연도','외국인수']
#########################경기도 
kyungjung17.columns = ['jur_stn','연도','외국인수']
kyungjung18.columns = ['jur_stn','연도','외국인수']
kyungjung19.columns = ['jur_stn','연도','외국인수']
kyungseo17.columns = ['jur_stn','연도','외국인수']
kyungseo18.columns = ['jur_stn','연도','외국인수']
kyungseo19.columns = ['jur_stn','연도','외국인수']
kyungnam17.columns = ['jur_stn','연도','외국인수']
kyungnam18.columns = ['jur_stn','연도','외국인수']
kyungnam19.columns = ['jur_stn','연도','외국인수']

###############충남,경남
jinhae17.columns = ['jur_stn','연도','외국인수']
jinhae18.columns = ['jur_stn','연도','외국인수']
jinhae19.columns = ['jur_stn','연도','외국인수']
sejong17.columns = ['jur_stn','연도','외국인수']
sejong18.columns = ['jur_stn','연도','외국인수']
sejong19.columns = ['jur_stn','연도','외국인수']
masanjung17.columns = ['jur_stn','연도','외국인수']
masanjung18.columns = ['jur_stn','연도','외국인수']
masanjung19.columns = ['jur_stn','연도','외국인수']
changjung17.columns = ['jur_stn','연도','외국인수']
changjung18.columns = ['jur_stn','연도','외국인수']
changjung19.columns = ['jur_stn','연도','외국인수']
changseo17.columns = ['jur_stn','연도','외국인수']
changseo18.columns = ['jur_stn','연도','외국인수']
changseo19.columns = ['jur_stn','연도','외국인수']
masandong17.columns = ['jur_stn','연도','외국인수']
masandong18.columns = ['jur_stn','연도','외국인수']
masandong19.columns = ['jur_stn','연도','외국인수']
jinju17.columns = ['jur_stn','연도','외국인수']
jinju18.columns = ['jur_stn','연도','외국인수']
jinju19.columns = ['jur_stn','연도','외국인수']

In [139]:
##### 2017 묶기
weguk2017 = pd.concat([gangnam17,nam17,bang17,seobu17,songbuk17,sue17,eun17,jongro17,jongarm17,jungbu17,
hye17,seocho17,fornr17,kyungjung17,kyungseo17,kyungnam17,jinhae17,sejong17,masanjung17,changjung17,changseo17,masandong17,jinju17], ignore_index=True)
weguk2018= pd.concat([gangnam18,nam18,bang18,seobu18,songbuk18,sue18,eun18,jongro18,jongarm18,jungbu18,
hye18,seocho18,seoul18,kyungjung18,kyungseo18,kyungnam18,jinhae18,sejong18,masanjung18,changjung18,changseo18,masandong18,jinju18], ignore_index=True)
weguk2019= pd.concat([gangnam19,nam19,bang19,seobu19,songbuk19,sue19,eun19,jongro19,jongarm19,jungbu19,
hye19,seocho19,seoul19,kyungjung19,kyungseo19,kyungnam19,jinhae19,sejong19,masanjung19,changjung19,changseo19,masandong19,jinju19], ignore_index=True)

In [148]:
weguk2017.sort_values(by=['jur_stn'], axis=0,inplace=True)
weguk2017

      jur_stn    연도   외국인수
33  경기수원남부경찰서  2017  15295
32  경기수원서부경찰서  2017  24040
31  경기수원중부경찰서  2017  18967
39  경남마산동부경찰서  2017   4184
36  경남마산중부경찰서  2017   3268
40    경남진주경찰서  2017   7875
34    경남진해경찰서  2017   5558
38  경남창원서부경찰서  2017   4264
37  경남창원중부경찰서  2017   8214
0     서울강남경찰서  2017   6723
12    서울강동경찰서  2017   8196
13    서울강북경찰서  2017   6487
14    서울강서경찰서  2017  12532
15    서울관악경찰서  2017  29335
16    서울광진경찰서  2017  21216
17    서울구로경찰서  2017  49996
18    서울금천경찰서  2017  30317
1    서울남대문경찰서  2017   1948
19    서울노원경찰서  2017   6539
20    서울도봉경찰서  2017   4145
21   서울동대문경찰서  2017  20374
22    서울동작경찰서  2017  18592
23    서울마포경찰서  2017  13842
2     서울방배경찰서  2017   2364
24   서울서대문경찰서  2017  14763
3     서울서부경찰서  2017   3345
11    서울서초경찰서  2017   5621
25    서울성동경찰서  2017  12604
4     서울성북경찰서  2017   9006
26    서울송파경찰서  2017  12233
5     서울수서경찰서  2017   2622
27    서울양천경찰서  2017   8152
28   서울영등포경찰서  2017  54145
29    서울용산경찰서  2017  17629
6     서울은평경찰서  2017   5068
7     서울종로경찰서  2017   3191
8     서울종암경찰서  2017   6332
30    서울중랑경찰서  2017   8475
9     서울중부경찰서  2017   9434
10    서울혜화경찰서  2017   8717
35    충남세종경찰서  2017   6761

In [149]:
weguk2018.sort_values(by=['jur_stn'], axis=0,inplace=True)
weguk2019.sort_values(by=['jur_stn'], axis=0,inplace=True)
weguk = pd.concat([weguk2017,weguk2018,weguk2019], ignore_index=True)
weguk

       jur_stn    연도   외국인수
0    경기수원남부경찰서  2017  15295
1    경기수원서부경찰서  2017  24040
2    경기수원중부경찰서  2017  18967
3    경남마산동부경찰서  2017   4184
4    경남마산중부경찰서  2017   3268
..         ...   ...    ...
118    서울종암경찰서  2019   7111
119    서울중랑경찰서  2019   9785
120    서울중부경찰서  2019  11496
121    서울혜화경찰서  2019  10641
122    충남세종경찰서  2019   9814

[123 rows x 3 columns]

In [150]:
weguk.to_csv('외국인끝.csv',index=False, encoding='cp949')