In [1]:
import numpy as np
import pandas as pd
import math

### 1) 교통사고 현황

In [37]:
df_acc = pd.read_csv('11.5개시도_교통사고현황.csv')

In [38]:
df_acc

             date      acc_case ofn_sx ofn_age vic_sx vic_age jur_stn
0        2018년 1월    차대차 - 측면충돌      남     20대      남     50대    서울중부
1        2018년 1월    차대차 - 측면충돌      여     50대      남     70대    서울중부
2        2018년 1월    차대차 - 측면충돌      남     40대      남     50대    서울중부
3        2018년 1월      차대차 - 기타   기타불명     미분류      여     40대    서울중부
4        2018년 1월      차대차 - 기타      남     60대      남     50대    서울중부
...           ...           ...    ...     ...    ...     ...     ...
140949   2019년 8월    차대사람 - 횡단중      남     40대      여  90대 이상    마산중부
140950  2020년 12월  차대사람 - 차도통행중      여     40대      여  90대 이상    창원중부
140951   2019년 4월    차대사람 - 횡단중      남     60대      남  90대 이상   진해경찰서
140952   2019년 5월  차대사람 - 차도통행중      남     20대      남  90대 이상   진해경찰서
140953   2020년 9월      차대차 - 기타      여     40대      남  90대 이상   진해경찰서

[140954 rows x 7 columns]

In [39]:
jungbu = df_acc[df_acc['jur_stn'] == '서울중부']
jongro = df_acc[df_acc['jur_stn'] == '서울종로']
namdae = df_acc[df_acc['jur_stn'] == '서울남대문']
seodae = df_acc[df_acc['jur_stn'] == '서울서대문']
hyewha = df_acc[df_acc['jur_stn'] == '서울혜화']
yongsan = df_acc[df_acc['jur_stn'] == '서울용산']
soungbuk = df_acc[df_acc['jur_stn'] == '서울성북']
dongdae = df_acc[df_acc['jur_stn'] == '서울동대문']

In [40]:
#### 8개 관할서 교통사고 횟수 
jungbu.reset_index(drop=True, inplace = True)
jongro.reset_index(drop=True, inplace = True)
namdae.reset_index(drop=True, inplace = True)
seodae.reset_index(drop=True, inplace = True)
hyewha.reset_index(drop=True, inplace = True)
yongsan.reset_index(drop=True, inplace = True)
soungbuk.reset_index(drop=True, inplace = True)
dongdae.reset_index(drop=True, inplace = True)

In [41]:
len(jungbu)

1716

In [42]:
jungbu

           date      acc_case ofn_sx ofn_age vic_sx vic_age jur_stn
0      2018년 1월    차대차 - 측면충돌      남     20대      남     50대    서울중부
1      2018년 1월    차대차 - 측면충돌      여     50대      남     70대    서울중부
2      2018년 1월    차대차 - 측면충돌      남     40대      남     50대    서울중부
3      2018년 1월      차대차 - 기타   기타불명     미분류      여     40대    서울중부
4      2018년 1월      차대차 - 기타      남     60대      남     50대    서울중부
...         ...           ...    ...     ...    ...     ...     ...
1711   2018년 7월  차대사람 - 차도통행중      남     40대      여  90대 이상    서울중부
1712   2019년 6월     차대사람 - 기타      여     40대      여  90대 이상    서울중부
1713   2019년 6월    차대사람 - 횡단중      남     60대      남  90대 이상    서울중부
1714  2019년 12월    차대사람 - 횡단중      남     20대      남  90대 이상    서울중부
1715   2020년 8월     차대사람 - 기타      남     30대      여  90대 이상    서울중부

[1716 rows x 7 columns]

In [43]:
df_acc[df_acc['jur_stn'] == '서울중부']

             date      acc_case ofn_sx ofn_age vic_sx vic_age jur_stn
0        2018년 1월    차대차 - 측면충돌      남     20대      남     50대    서울중부
1        2018년 1월    차대차 - 측면충돌      여     50대      남     70대    서울중부
2        2018년 1월    차대차 - 측면충돌      남     40대      남     50대    서울중부
3        2018년 1월      차대차 - 기타   기타불명     미분류      여     40대    서울중부
4        2018년 1월      차대차 - 기타      남     60대      남     50대    서울중부
...           ...           ...    ...     ...    ...     ...     ...
140851   2018년 7월  차대사람 - 차도통행중      남     40대      여  90대 이상    서울중부
140852   2019년 6월     차대사람 - 기타      여     40대      여  90대 이상    서울중부
140853   2019년 6월    차대사람 - 횡단중      남     60대      남  90대 이상    서울중부
140854  2019년 12월    차대사람 - 횡단중      남     20대      남  90대 이상    서울중부
140926   2020년 8월     차대사람 - 기타      남     30대      여  90대 이상    서울중부

[1716 rows x 7 columns]

In [44]:
jongro.groupby(['jur_stn', 'date', 'acc_case']).size()

jur_stn  date       acc_case
서울종로     2018년 10월  차대사람 - 기타             2
                    차대사람 - 길가장자리구역통행중     1
                    차대사람 - 보도통행중          2
                    차대사람 - 차도통행중          3
                    차대사람 - 횡단중            9
                                         ..
         2020년 9월   차대차  - 정면충돌           2
                    차대차  - 추돌            10
                    차대차  - 측면충돌          12
                    차대차  - 후진중충돌          2
                    차량단독  - 기타            1
Length: 324, dtype: int64

### 2) 화재 현황

In [45]:
df_fire = pd.read_csv('13.5개시도_화재발생통계.csv')

In [46]:
df_fire = df_fire[df_fire['sido'] == '서울특별시']

In [47]:
df_fire.reset_index(drop=True, inplace=True)

In [48]:
df_fire.drop(['sido'], axis = 1, inplace=True)

In [49]:
df_fire.head()

,yr,sgg_nm,acc_num,dead_num,injr_num,tot_vic_num,prop_dmg,chattel_dmg,assts_dmg,dmg_per_acc
0,2018,강남구,436,0,23,23,670429,954554,1624983,3727
1,2018,강동구,324,4,15,19,236181,304444,540625,1669
2,2018,강북구,203,4,2,6,104658,112180,216838,1068
3,2018,강서구,383,2,18,20,196115,197286,393401,1027
4,2018,관악구,337,1,20,21,395475,421087,816562,2423

In [50]:
pd.options.display.max_rows = 300

df_fire.groupby(['sgg_nm', 'yr', 'acc_num']).mean()

                     dead_num  injr_num  tot_vic_num  prop_dmg  chattel_dmg  \
sgg_nm yr   acc_num
강남구    2018 436             0        23           23    670429       954554
       2019 456             1        23           24    900260       777421
       2020 387             1        18           19    923684       527872
강동구    2018 324             4        15           19    236181       304444
       2019 254             1        10           11    166909       366450
       2020 221             3        19           22    155078       208761
강북구    2018 203             4         2            6    104658       112180
       2019 167             1         9           10     76389       141416
       2020 186             1         5            6     99841       108539
강서구    2018 383             2        18           20    196115       197286
       2019 331             0        24           24    251606       414691
       2020 212             3         5            8     91566       109400
관악구    2018 337             1        20           21    395475       421087
       2019 311             3         6            9    312837       341749
       2020 219             2        15           17    249984       396165
광진구    2018 203             0         7            7    315690       342495
       2019 195             0         8            8    145574       247269
       2020 186             0         4            4    199281       167433
구로구    2018 263             2         3            5     74308       165019
       2019 247             0         7            7    157597       254232
       2020 156             2         6            8    208681       189678
금천구    2018 168             0         8            8     55351       148455
       2019 141             0         4            4    178251       493516
       2020 127             2         9           11    256259       163328
노원구    2018 229             2        10           12    105994       225006
       2019 203             0         6            6     44268       141374
       2020 172             0        11           11    133610       250312
도봉구    2018 237             0         8            8     85113       116385
       2019 179             3         8           11    424291       344157
       2020 163             0         7            7    184209       307100
동대문구   2018 203             1         3            4    179873       529614
       2019 195             5        21           26    233398       636944
       2020 152             6        17           23    543066      2849492
동작구    2018 205             4         9           13    103520       209405
       2019 208             2        10           12     86519        92724
       2020 151             0         7            7     81609       112642
마포구    2018 254             2         4            6    132459       150525
       2019 246             0        13           13    163683       229742
       2020 240             3        29           32   1349817       719232
서대문구   2018 229             4         9           13    236471      7641030
       2019 269             1        12           13    109764       111196
       2020 220             3         4            7    507160       421825
서초구    2018 242             0        15           15    201149       646918
       2019 242             2        42           44    300794       669453
       2020 240             1        10           11    234894       320455
성동구    2018 212             0        12           12    162939       453146
       2019 194             2         7            9    119319       604898
       2020 187             0         2            2    126408       381419
성북구    2018 215             0        10           10    184258       303307
       2019 191             0        10           10    241464       222877
       2020 173             0        11           11    187204       474351
송파구    2018 340             0        28           28    390994       579257
       2019 335             2        19           21    330243       628586
       2020 307             1         7            8    184717       194960
양천구    2018 219             1        11           12    136819       220750
       2019 163             2         7            9    107052       358668
       2020 153             0         4            4     86760       128656
영등포구   2018 258             4        23           27    228065       476128
       2019 265             1        48           49    344748      2755206
       2020 225             3         8           11    279030       395766
용산구    2018 211             1         6            7    123288       271615
       2019 238             0         5            5    100283       167582
       2020 192             0         5            5     64235       205600
은평구    2018 214             5        10           15    217662       201841
       2019 196             3        20           23   1901761       511008
       2020 192             2         6            8    270762       234026
종로구    2018 254            14        22           36    279955       294345
       2019 232             4        16           20    403054       398040
       2020 217             2         5            7    192633       447118
중구     2018 275             0        23           23    558830       698175
       2019 213             3        17           20   5135961     68941136
       2020 185             0        10           10    573942       710480
중랑구    2018 254             2         8           10    103281        98140
       2019 210             1         9           10     95365       227285
       2020 225             2        12           14    114412       115154

                     assts_dmg  dmg_per_acc
sgg_nm yr   acc_num
강남구    2018 436        1624983         3727
       2019 456        1677681         3679
       2020 387        1451556         3751
강동구    2018 324         540625         1669
       2019 254         533359         2100
       2020 221         363839         1646
강북구    2018 203         216838         1068
       2019 167         217805         1304
       2020 186         208380         1120
강서구    2018 383         393401         1027
       2019 331         666297         2013
       2020 212         200966          948
관악구    2018 337         816562         2423
       2019 311         654586         2105
       2020 219         646149         2950
광진구    2018 203         658185         3242
       2019 195         392843         2015
       2020 186         366714         1972
구로구    2018 263         239327          910
       2019 247         411829         1667
       2020 156         398359         2554
금천구    2018 168         203806         1213
       2019 141         671767         4764
       2020 127         419587         3304
노원구    2018 229         331000         1445
       2019 203         185642          914
       2020 172         383922         2232
도봉구    2018 237         201498          850
       2019 179         768448         4293
       2020 163         491309         3014
동대문구   2018 203         709487         3495
       2019 195         870342         4463
       2020 152        3392558        22319
동작구    2018 205         312925         1526
       2019 208         179243          862
       2020 151         194251         1286
마포구    2018 254         282984         1114
       2019 246         393425         1599
       2020 240        2069049         8621
서대문구   2018 229        7877501        34400
       2019 269         220960          821
       2020 220         928985         4223
서초구    2018 242         848067         3504
       2019 242         970247         4009
       2020 240         555349         2314
성동구    2018 212         616085         2906
       2019 194         724217         3733
       2020 187         507827         2716
성북구    2018 215         487565         2268
       2019 191         464341         2431
       2020 173         661555         3824
송파구    2018 340         970251         2854
       2019 335         958829         2862
       2020 307         379677         1237
양천구    2018 219         357569         1633
       2019 163         465720         2857
       2020 153         215416         1408
영등포구   2018 258         704193         2729
       2019 265        3099954        11698
       2020 225         674796         2999
용산구    2018 211         394903         1872
       2019 238         267865         1125
       2020 192         269835         1405
은평구    2018 214         419503         1960
       2019 196        2412769        12310
       2020 192         504788         2629
종로구    2018 254         574300         2261
       2019 232         801094         3453
       2020 217         639751         2948
중구     2018 275        1257005         4571
       2019 213       74077097       347780
       2020 185        1284422         6943
중랑구    2018 254         201421          793
       2019 210         322650         1536
       2020 225         229566         1020

### 3) 1인가구수

In [51]:
df_one = pd.read_csv('15.5개시도_1인가구수.csv')

In [52]:
df_one = df_one[df_one['sido'] == '서울특별시']

In [53]:
df_one.drop(['sido'], axis = 1, inplace=True)

In [54]:
df_one.head()

,sgg_nm,sx,age,date,resi_style,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house,single_person_hh,not_in_house_num
0,종로구,계,합계,2017,23638.0,19260,11234,2992,887,3279,868,4378,NaN,NaN
1,종로구,계,20세미만,2017,507.0,459,379,11,11,38,20,48,NaN,NaN
2,종로구,계,20~24,2017,2992.0,2519,1773,158,44,340,204,473,NaN,NaN
3,종로구,계,25~29,2017,3627.0,2845,1677,398,77,552,141,782,NaN,NaN
4,종로구,계,30~34,2017,2552.0,1970,1024,357,64,449,76,582,NaN,NaN

In [55]:
pd.options.display.max_rows = 5000
df_one.groupby(['sgg_nm', 'date', 'sx', 'age']).mean()

                         resi_style  house_total_num  detached_house  \
sgg_nm date sx age
강남구    2017 계  20~24    3277.000000      2675.000000     1355.000000
               20세미만     539.000000       349.000000      146.000000
               25~29    9692.000000      7997.000000     3945.000000
               30~34   11378.000000      9521.000000     4069.000000
               35~39    8980.000000      7627.000000     2896.000000
               40~44    5878.000000      4994.000000     1730.000000
               45~49    4856.000000      4078.000000     1320.000000
               50~54    3331.000000      2779.000000      893.000000
               55~59    3248.000000      2790.000000      846.000000
               60~64    3093.000000      2778.000000      621.000000
               65~69    2646.000000      2396.000000      456.000000
               70~74    2174.000000      2007.000000      368.000000
               75~79    1680.000000      1577.000000      304.000000
               80~84    1107.000000      1040.000000      194.000000
               85세이상     895.000000       856.000000      116.000000
               합계      62774.000000     53464.000000    19259.000000
            남자 20~24    1089.000000       880.000000      463.000000
               20세미만     260.000000       163.000000       64.000000
               25~29    3878.000000      3187.000000     1673.000000
               30~34    5240.000000      4328.000000     1903.000000
               35~39    4177.000000      3485.000000     1327.000000
               40~44    2862.000000      2327.000000      841.000000
               45~49    2627.000000      2079.000000      723.000000
               50~54    1717.000000      1352.000000      452.000000
               55~59    1462.000000      1169.000000      390.000000
               60~64    1079.000000       882.000000      245.000000
               65~69     823.000000       694.000000      159.000000
               70~74     609.000000       530.000000      116.000000
               75~79     359.000000       324.000000       70.000000
               80~84     187.000000       164.000000       42.000000
               85세이상     146.000000       139.000000       19.000000
               합계      26515.000000     21703.000000     8487.000000
            여자 20~24    2188.000000      1795.000000      892.000000
               20세미만     279.000000       186.000000       82.000000
               25~29    5814.000000      4810.000000     2272.000000
               30~34    6138.000000      5193.000000     2166.000000
               35~39    4803.000000      4142.000000     1569.000000
               40~44    3016.000000      2667.000000      889.000000
               45~49    2229.000000      1999.000000      597.000000
               50~54    1614.000000      1427.000000      441.000000
               55~59    1786.000000      1621.000000      456.000000
               60~64    2014.000000      1896.000000      376.000000
               65~69    1823.000000      1702.000000      297.000000
               70~74    1565.000000      1477.000000      252.000000
               75~79    1321.000000      1253.000000      234.000000
               80~84     920.000000       876.000000      152.000000
               85세이상     749.000000       717.000000       97.000000
               합계      36259.000000     31761.000000    10772.000000
       2018 계  20~24    3182.000000      2525.000000     1274.000000
               20세미만     421.000000       303.000000      119.000000
               25~29    9982.000000      8064.000000     3930.000000
               30~34   10967.000000      9023.000000     3927.000000
               35~39    9206.000000      7730.000000     2904.000000
               40~44    5786.000000      4874.000000     1687.000000
               45~49    4805.000000      3937.000000     1315.000000
               50~54    3342.000000      2765.000000      905.000000
               55~59    3071.000000      2619.000000      820.000000
               60~64    3146.000000      2792.000000      677.000000
               65~69    2614.000000      2377.000000      472.000000
               70~74    2299.000000      2107.000000      364.000000
               75~79    1733.000000      1634.000000      332.000000
               80~84    1188.000000      1112.000000      186.000000
               85세이상     985.000000       945.000000      126.000000
               합계      62727.000000     52807.000000    19038.000000
            남자 20~24    1006.000000       800.000000      419.000000
               20세미만     178.000000       128.000000       43.000000
               25~29    4149.000000      3347.000000     1724.000000
               30~34    5045.000000      4142.000000     1878.000000
               35~39    4338.000000      3609.000000     1385.000000
               40~44    2869.000000      2325.000000      852.000000
               45~49    2604.000000      2016.000000      752.000000
               50~54    1763.000000      1382.000000      476.000000
               55~59    1440.000000      1158.000000      379.000000
               60~64    1107.000000       890.000000      248.000000
               65~69     791.000000       665.000000      162.000000
               70~74     668.000000       577.000000      129.000000
               75~79     378.000000       341.000000       87.000000
               80~84     210.000000       189.000000       37.000000
               85세이상     172.000000       164.000000       22.000000
               합계      26718.000000     21733.000000     8593.000000
            여자 20~24    2176.000000      1725.000000      855.000000
               20세미만     243.000000       175.000000       76.000000
               25~29    5833.000000      4717.000000     2206.000000
               30~34    5922.000000      4881.000000     2049.000000
               35~39    4868.000000      4121.000000     1519.000000
               40~44    2917.000000      2549.000000      835.000000
               45~49    2201.000000      1921.000000      563.000000
               50~54    1579.000000      1383.000000      429.000000
               55~59    1631.000000      1461.000000      441.000000
               60~64    2039.000000      1902.000000      429.000000
               65~69    1823.000000      1712.000000      310.000000
               70~74    1631.000000      1530.000000      235.000000
               75~79    1355.000000      1293.000000      245.000000
               80~84     978.000000       923.000000      149.000000
               85세이상     813.000000       781.000000      104.000000
               합계      36009.000000     31074.000000    10445.000000
       2019 계  20~24            NaN      2659.000000     1325.000000
               20세미만            NaN       410.000000      173.000000
               25~29            NaN      8372.000000     3950.000000
               30~34            NaN      9242.000000     3926.000000
               35~39            NaN      7775.000000     2823.000000
               40~44            NaN      5046.000000     1696.000000
               45~49            NaN      4203.000000     1364.000000
               50~54            NaN      2924.000000      902.000000
               55~59            NaN      2655.000000      810.000000
               60~64            NaN      2992.000000      757.000000
               65~69            NaN      2524.000000      507.000000
               70~74            NaN      2277.000000      370.000000
               75~79            NaN      1735.000000      317.000000
               80~84            NaN      1194.000000      207.000000
               85세이상            NaN      1043.000000      160.000000
               합계               NaN     55051.000000    19287.000000
            남자 20~24            NaN       835.000000      426.000000
               20세미만            NaN       180.000000       75.000000
               25~29            NaN      3560.000000     1798.000000
               30~34            NaN      4289.000000     1901.000000
               35~39            NaN      3672.000000     1389.000000
               40~44            NaN      2368.000000      843.000000
               45~49            NaN      2164.000000      783.000000
               50~54            NaN      1452.000000      507.000000
               55~59            NaN      1175.000000      386.000000
               60~64            NaN       967.000000      296.000000
               65~69            NaN       722.000000      167.000000
               70~74            NaN       622.000000      128.000000
               75~79            NaN       400.000000       92.000000
               80~84            NaN       217.000000       49.000000
               85세이상            NaN       191.000000       36.000000
               합계               NaN     22814.000000     8876.000000
            여자 20~24            NaN      1824.000000      899.000000
               20세미만            NaN       230.000000       98.000000
               25~29            NaN      4812.000000     2152.000000
               30~34            NaN      4953.000000     2025.000000
               35~39            NaN      4103.000000     1434.000000
               40~44            NaN      2678.000000      853.000000
               45~49            NaN      2039.000000      581.000000
               50~54            NaN      1472.000000      395.000000
               55~59            NaN      1480.000000      424.000000
               60~64            NaN      2025.000000      461.000000
               65~69            NaN      1802.000000      340.000000
               70~74            NaN      1655.000000      242.000000
               75~79            NaN      1335.000000      225.000000
               80~84            NaN       977.000000      158.000000
               85세이상            NaN       852.000000      124.000000
               합계               NaN     32237.000000    10411.000000
강동구    2017 계  20~24    1514.000000      1227.000000      612.000000
               20세미만     162.000000       145.000000       68.000000
               25~29    4460.000000      3556.000000     1529.000000
               30~34    4878.000000      3974.000000     1616.000000
               35~39    4180.000000      3540.000000     1583.000000
               40~44    3394.000000      2873.000000     1406.000000
               45~49    3556.000000      3074.000000     1712.000000
               50~54    3248.000000      2887.000000     1807.000000
               55~59    3920.000000      3526.000000     2171.000000
               60~64    3531.000000      3264.000000     1840.000000
               65~69    2693.000000      2529.000000     1402.000000
               70~74    2051.000000      1976.000000     1068.000000
               75~79    1688.000000      1632.000000      871.000000
               80~84    1074.000000      1041.000000      540.000000
               85세이상     701.000000       673.000000      338.000000
               합계      41050.000000     35917.000000    18563.000000
            남자 20~24     525.000000       445.000000      252.000000
               20세미만      71.000000        68.000000       36.000000
               25~29    2087.000000      1709.000000      839.000000
               30~34    2806.000000      2339.000000      980.000000
               35~39    2420.000000      2079.000000      953.000000
               40~44    2029.000000      1704.000000      877.000000
               45~49    2195.000000      1863.000000     1135.000000
               50~54    1982.000000      1710.000000     1164.000000
               55~59    2019.000000      1722.000000     1223.000000
               60~64    1534.000000      1355.000000      929.000000
               65~69    1000.000000       878.000000      566.000000
               70~74     640.000000       598.000000      385.000000
               75~79     429.000000       397.000000      226.000000
               80~84     216.000000       206.000000      124.000000
               85세이상     111.000000       100.000000       46.000000
               합계      20064.000000     17173.000000     9735.000000
            여자 20~24     989.000000       782.000000      360.000000
               20세미만      91.000000        77.000000       32.000000
               25~29    2373.000000      1847.000000      690.000000
               30~34    2072.000000      1635.000000      636.000000
               35~39    1760.000000      1461.000000      630.000000
               40~44    1365.000000      1169.000000      529.000000
               45~49    1361.000000      1211.000000      577.000000
               50~54    1266.000000      1177.000000      643.000000
               55~59    1901.000000      1804.000000      948.000000
               60~64    1997.000000      1909.000000      911.000000
               65~69    1693.000000      1651.000000      836.000000
               70~74    1411.000000      1378.000000      683.000000
               75~79    1259.000000      1235.000000      645.000000
               80~84     858.000000       835.000000      416.000000
               85세이상     590.000000       573.000000      292.000000
               합계      20986.000000     18744.000000     8828.000000
       2018 계  20~24    1580.000000      1287.000000      616.000000
               20세미만     144.000000       129.000000       67.000000
               25~29    4861.000000      3867.000000     1611.000000
               30~34    4839.000000      3861.000000     1492.000000
               35~39    4242.000000      3532.000000     1548.000000
               40~44    3261.000000      2736.000000     1256.000000
               45~49    3576.000000      3088.000000     1652.000000
               50~54    3171.000000      2801.000000     1707.000000
               55~59    3934.000000      3549.000000     2080.000000
               60~64    3852.000000      3555.000000     1983.000000
               65~69    2773.000000      2609.000000     1389.000000
               70~74    2253.000000      2162.000000     1120.000000
               75~79    1765.000000      1710.000000      879.000000
               80~84    1126.000000      1089.000000      569.000000
               85세이상     749.000000       721.000000      349.000000
               합계      42126.000000     36696.000000    18318.000000
            남자 20~24     489.000000       421.000000      216.000000
               20세미만      64.000000        58.000000       28.000000
               25~29    2273.000000      1845.000000      898.000000
               30~34    2700.000000      2217.000000      895.000000
               35~39    2468.000000      2092.000000      964.000000
               40~44    1904.000000      1579.000000      770.000000
               45~49    2177.000000      1857.000000     1085.000000
               50~54    1961.000000      1683.000000     1131.000000
               55~59    2036.000000      1743.000000     1189.000000
               60~64    1707.000000      1501.000000     1028.000000
               65~69    1045.000000       932.000000      583.000000
               70~74     723.000000       669.000000      418.000000
               75~79     489.000000       458.000000      266.000000
               80~84     241.000000       230.000000      132.000000
               85세이상     127.000000       120.000000       52.000000
               합계      20404.000000     17405.000000     9655.000000
            여자 20~24    1091.000000       866.000000      400.000000
               20세미만      80.000000        71.000000       39.000000
               25~29    2588.000000      2022.000000      713.000000
               30~34    2139.000000      1644.000000      597.000000
               35~39    1774.000000      1440.000000      584.000000
               40~44    1357.000000      1157.000000      486.000000
               45~49    1399.000000      1231.000000      567.000000
               50~54    1210.000000      1118.000000      576.000000
               55~59    1898.000000      1806.000000      891.000000
               60~64    2145.000000      2054.000000      955.000000
               65~69    1728.000000      1677.000000      806.000000
               70~74    1530.000000      1493.000000      702.000000
               75~79    1276.000000      1252.000000      613.000000
               80~84     885.000000       859.000000      437.000000
               85세이상     622.000000       601.000000      297.000000
               합계      21722.000000     19291.000000     8663.000000
       2019 계  20~24            NaN      1512.000000      695.000000
               20세미만            NaN       141.000000       67.000000
               25~29            NaN      4517.000000     1721.000000
               30~34            NaN      4236.000000     1535.000000
               35~39            NaN      3669.000000     1445.000000
               40~44            NaN      2806.000000     1204.000000
               45~49            NaN      3137.000000     1550.000000
               50~54            NaN      2959.000000     1716.000000
               55~59            NaN      3537.000000     2024.000000
               60~64            NaN      3844.000000     2102.000000
               65~69            NaN      2879.000000     1504.000000
               70~74            NaN      2410.000000     1186.000000
               75~79            NaN      1825.000000      895.000000
               80~84            NaN      1239.000000      632.000000
               85세이상            NaN       805.000000      385.000000
               합계               NaN     39516.000000    18661.000000
            남자 20~24            NaN       517.000000      256.000000
               20세미만            NaN        58.000000       25.000000
               25~29            NaN      2117.000000      945.000000
               30~34            NaN      2436.000000      921.000000
               35~39            NaN      2116.000000      873.000000
               40~44            NaN      1616.000000      753.000000
               45~49            NaN      1880.000000      991.000000
               50~54            NaN      1760.000000     1126.000000
               55~59            NaN      1857.000000     1238.000000
               60~64            NaN      1616.000000     1091.000000
               65~69            NaN      1055.000000      674.000000
               70~74            NaN       779.000000      461.000000
               75~79            NaN       480.000000      273.000000
               80~84            NaN       265.000000      148.000000
               85세이상            NaN       145.000000       64.000000
               합계               NaN     18697.000000     9839.000000
            여자 20~24            NaN       995.000000      439.000000
               20세미만            NaN        83.000000       42.000000
               25~29            NaN      2400.000000      776.000000
               30~34            NaN      1800.000000      614.000000
               35~39            NaN      1553.000000      572.000000
               40~44            NaN      1190.000000      451.000000
               45~49            NaN      1257.000000      559.000000
               50~54            NaN      1199.000000      590.000000
               55~59            NaN      1680.000000      786.000000
               60~64            NaN      2228.000000     1011.000000
               65~69            NaN      1824.000000      830.000000
               70~74            NaN      1631.000000      725.000000
               75~79            NaN      1345.000000      622.000000
               80~84            NaN       974.000000      484.000000
               85세이상            NaN       660.000000      321.000000
               합계               NaN     20819.000000     8822.000000

### 4) 기초수급자

In [56]:
df_gicho = pd.read_csv('17.5개시도_기초수급자현황.csv')

In [57]:
df_gicho = df_gicho[df_gicho['sido'] == '서울특별시']

In [58]:
df_gicho.groupby(['sgg_nm', 'date']).size()

sgg_nm  date
강남구     201706    208
        201707    104
        201708    104
        201709    104
        201710    103
        201711    103
        201712    103
        201801    103
        201802    104
        201803    104
        201804    104
        201805    103
        201806    103
        201807    103
        201808    102
        201809    102
        201810    102
        201811    102
        201812    102
        201901    102
        201902    103
        201903    103
        201904    103
        201905    103
        201906    103
        201907    104
        201908    104
        201909    104
        201910    104
        201911    104
        201912    105
        202001    105
        202002    104
        202003    105
        202004    105
        202005    105
        202006    105
        202007    105
        202008    105
        202009    105
        202010    105
        202011    105
        202012    105
        202101    104
        202102    105
        202103    104
        202104    104
        202105    104
강동구     201706    200
        201707     99
        201708     99
        201709    100
        201710    101
        201711    100
        201712    100
        201801     99
        201802    100
        201803    101
        201804    100
        201805    100
        201806    100
        201807    100
        201808    100
        201809    100
        201810    100
        201811    101
        201812    101
        201901    101
        201902    101
        201903    102
        201904    102
        201905    101
        201906    101
        201907    101
        201908    101
        201909    103
        201910    103
        201911    103
        201912    103
        202001    103
        202002    103
        202003    104
        202004    103
        202005    103
        202006    103
        202007    103
        202008    104
        202009    104
        202010    104
        202011    104
        202012    104
        202101    105
        202102    105
        202103    105
        202104    104
        202105    104
강북구     201706    206
        201707    102
        201708    102
        201709    101
        201710    101
        201711    101
        201712    101
        201801    102
        201802    102
        201803    103
        201804    104
        201805    104
        201806    104
        201807    103
        201808    102
        201809    102
        201810    102
        201811    102
        201812    102
        201901    103
        201902    104
        201903    105
        201904    105
        201905    105
        201906    105
        201907    103
        201908    103
        201909    103
        201910    103
        201911    103
        201912    103
        202001    104
        202002    105
        202003    105
        202004    105
        202005    105
        202006    106
        202007    106
        202008    105
        202009    104
        202010    104
        202011    104
        202012    104
        202101    104
        202102    103
        202103    103
        202104    103
        202105    103
강서구     201706    204
        201707    103
        201708    103
        201709    103
        201710    103
        201711    102
        201712    102
        201801    102
        201802    103
        201803    102
        201804    103
        201805    103
        201806    103
        201807    103
        201808    104
        201809    104
        201810    104
        201811    104
        201812    104
        201901    104
        201902    104
        201903    104
        201904    104
        201905    104
        201906    104
        201907    104
        201908    104
        201909    105
        201910    105
        201911    104
        201912    103
        202001    105
        202002    105
        202003    105
        202004    105
        202005    105
        202006    105
        202007    104
        202008    104
        202009    103
        202010    103
        202011    104
        202012    104
        202101    105
        202102    106
        202103    106
        202104    105
        202105    105
관악구     201706    204
        201707    102
        201708    102
        201709    102
        201710    102
        201711    102
        201712    102
        201801    102
        201802    102
        201803    102
        201804    102
        201805    102
        201806    102
        201807    102
        201808    102
        201809    102
        201810    103
        201811    103
        201812    103
        201901    103
        201902    102
        201903    102
        201904    103
        201905    103
        201906    104
        201907    104
        201908    102
        201909    102
        201910    102
        201911    102
        201912    103
        202001    103
        202002    102
        202003    103
        202004    104
        202005    104
        202006    105
        202007    105
        202008    105
        202009    105
        202010    105
        202011    105
        202012    106
        202101    106
        202102    105
        202103    105
        202104    105
        202105    105
광진구     201706    200
        201707    100
        201708    100
        201709    100
        201710    100
        201711     99
        201712    100
        201801    100
        201802    100
        201803     99
        201804     99
        201805     99
        201806     99
        201807     98
        201808     99
        201809     99
        201810    100
        201811    101
        201812    102
        201901    102
        201902    102
        201903    102
        201904    101
        201905    100
        201906    100
        201907    100
        201908    100
        201909    101
        201910    102
        201911    102
        201912    102
        202001    102
        202002    102
        202003    101
        202004    100
        202005    100
        202006    100
        202007    100
        202008    100
        202009    100
        202010    101
        202011    101
        202012    101
        202101    100
        202102    100
        202103    102
        202104    102
        202105    102
구로구     201706    202
        201707    101
        201708    100
        201709    100
        201710    100
        201711    100
        201712    100
        201801    100
        201802    100
        201803    100
        201804    101
        201805    100
        201806    101
        201807    101
        201808    101
        201809    101
        201810    101
        201811    101
        201812    101
        201901    101
        201902    101
        201903    101
        201904    101
        201905    101
        201906    101
        201907    102
        201908    102
        201909    103
        201910    102
        201911    102
        201912    102
        202001    103
        202002    103
        202003    102
        202004    102
        202005    103
        202006    103
        202007    103
        202008    103
        202009    104
        202010    102
        202011    102
        202012    102
        202101    103
        202102    103
        202103    102
        202104    102
        202105    102
금천구     201706    202
        201707    101
        201708    100
        201709    101
        201710    101
        201711    101
        201712    101
        201801    100
        201802    100
        201803    100
        201804    100
        201805    100
        201806    101
        201807    101
        201808    101
        201809    102
        201810    102
        201811    102
        201812    101
        201901    100
        201902    100
        201903    100
        201904    101
        201905    101
        201906    101
        201907    101
        201908    101
        201909    102
        201910    102
        201911    102
        201912    102
        202001    101
        202002    102
        202003    102
        202004    101
        202005    101
        202006    102
        202007    103
        202008    102
        202009    103
        202010    103
        202011    102
        202012    102
        202101    102
        202102    102
        202103    102
        202104    102
        202105    102
노원구     201706    204
        201707    102
        201708    102
        201709    102
        201710    103
        201711    103
        201712    103
        201801    103
        201802    103
        201803    103
        201804    102
        201805    102
        201806    103
        201807    103
        201808    103
        201809    103
        201810    103
        201811    104
        201812    104
        201901    104
        201902    104
        201903    104
        201904    104
        201905    105
        201906    106
        201907    106
        201908    106
        201909    106
        201910    106
        201911    106
        201912    106
        202001    107
        202002    106
        202003    105
        202004    105
        202005    105
        202006    104
        202007    105
        202008    105
        202009    105
        202010    105
        202011    105
        202012    105
        202101    106
        202102    105
        202103    106
        202104    106
        202105    106
도봉구     201706    202
        201707    101
        201708    101
        201709    100
        201710    100
        201711     99
        201712    100
        201801    101
        201802    101
        201803    102
        201804    102
        201805    102
        201806    102
        201807    101
        201808    101
        201809    101
        201810    102
        201811    102
        201812    102
        201901    103
        201902    103
        201903    103
        201904    103
        201905    102
        201906    103
        201907    103
        201908    103
        201909    104
        201910    104
        201911    104
        201912    104
        202001    105
        202002    106
        202003    106
        202004    105
        202005    105
        202006    105
        202007    105
        202008    105
        202009    106
        202010    107
        202011    107
        202012    107
        202101    107
        202102    107
        202103    107
        202104    106
        202105    106
동대문구    201706    204
        201707    103
        201708    103
        201709    103
        201710    103
        201711    103
        201712    102
        201801    102
        201802    102
        201803    102
        201804    103
        201805    103
        201806    103
        201807    103
        201808    103
        201809    103
        201810    102
        201811    102
        201812    103
        201901    103
        201902    103
        201903    103
        201904    102
        201905    102
        201906    103
        201907    103
        201908    103
        201909    103
        201910    103
        201911    103
        201912    103
        202001    103
        202002    104
        202003    104
        202004    105
        202005    104
        202006    104
        202007    104
        202008    104
        202009    105
        202010    104
        202011    104
        202012    104
        202101    104
        202102    104
        202103    104
        202104    105
        202105    105
동작구     201706    202
        201707    100
        201708    100
        201709    100
        201710    100
        201711    101
        201712    101
        201801    101
        201802    101
        201803    101
        201804    102
        201805    102
        201806    102
        201807    102
        201808    102
        201809    102
        201810    102
        201811    103
        201812    103
        201901    103
        201902    104
        201903    103
        201904    103
        201905    103
        201906    103
        201907    102
        201908    102
        201909    102
        201910    102
        201911    103
        201912    104
        202001    104
        202002    104
        202003    104
        202004    103
        202005    103
        202006    103
        202007    103
        202008    104
        202009    104
        202010    104
        202011    104
        202012    104
        202101    104
        202102    104
        202103    104
        202104    104
        202105    103
마포구     201706    204
        201707    102
        201708    103
        201709    103
        201710    103
        201711    102
        201712    103
        201801    103
        201802    104
        201803    104
        201804    104
        201805    104
        201806    104
        201807    102
        201808    102
        201809    102
        201810    102
        201811    102
        201812    102
        201901    103
        201902    103
        201903    103
        201904    104
        201905    104
        201906    104
        201907    104
        201908    103
        201909    103
        201910    103
        201911    102
        201912    102
        202001    101
        202002    101
        202003    102
        202004    102
        202005    102
        202006    102
        202007    102
        202008    103
        202009    103
        202010    103
        202011    103
        202012    103
        202101    103
        202102    103
        202103    103
        202104    103
        202105    103
서대문구    201706    198
        201707     98
        201708     98
        201709    100
        201710    100
        201711    100
        201712    100
        201801    100
        201802    101
        201803    101
        201804    101
        201805    101
        201806    101
        201807    102
        201808    102
        201809    102
        201810    102
        201811    103
        201812    102
        201901    102
        201902    102
        201903    102
        201904    102
        201905    103
        201906    103
        201907    102
        201908    102
        201909    103
        201910    102
        201911    104
        201912    103
        202001    103
        202002    103
        202003    103
        202004    103
        202005    104
        202006    104
        202007    102
        202008    102
        202009    103
        202010    103
        202011    103
        202012    103
        202101    103
        202102    102
        202103    103
        202104    103
        202105    103
서초구     201706    202
        201707    100
        201708    100
        201709    100
        201710     99
        201711     99
        201712     99
        201801     99
        201802     99
        201803     99
        201804    100
        201805    100
        201806    100
        201807    100
        201808     99
        201809     99
        201810     99
        201811    101
        201812    100
        201901    100
        201902    102
        201903    102
        201904    102
        201905    102
        201906    102
        201907    102
        201908    102
        201909    102
        201910    102
        201911    102
        201912    102
        202001    102
        202002    103
        202003    103
        202004    103
        202005    102
        202006    102
        202007    101
        202008    102
        202009    101
        202010    101
        202011    101
        202012    102
        202101    102
        202102    102
        202103    102
        202104    102
        202105    102
성동구     201706    194
        201707     97
        201708     97
        201709     97
        201710     97
        201711     97
        201712     98
        201801     98
        201802     98
        201803     98
        201804     98
        201805     98
        201806     98
        201807     98
        201808     98
        201809     98
        201810     98
        201811     98
        201812     99
        201901    100
        201902    101
        201903    101
        201904    101
        201905    101
        201906    101
        201907    101
        201908    100
        201909    100
        201910    100
        201911    100
        201912    101
        202001    101
        202002    101
        202003    101
        202004    101
        202005    101
        202006    101
        202007    101
        202008    101
        202009    101
        202010    101
        202011    101
        202012    102
        202101    102
        202102    102
        202103    102
        202104    102
        202105    102
성북구     201706    202
        201707    100
        201708    100
        201709    100
        201710    100
        201711    100
        201712    100
        201801    100
        201802    100
        201803    100
        201804    101
        201805    100
        201806    101
        201807    101
        201808    101
        201809    100
        201810    101
        201811    102
        201812    102
        201901    102
        201902    101
        201903    101
        201904    102
        201905    102
        201906    103
        201907    103
        201908    102
        201909    102
        201910    102
        201911    102
        201912    102
        202001    102
        202002    102
        202003    102
        202004    102
        202005    103
        202006    103
        202007    103
        202008    103
        202009    103
        202010    103
        202011    103
        202012    103
        202101    103
        202102    103
        202103    103
        202104    103
        202105    103
송파구     201706    198
        201707     99
        201708    100
        201709    101
        201710    101
        201711    100
        201712    100
        201801    100
        201802    100
        201803    100
        201804    100
        201805    100
        201806    100
        201807    100
        201808    100
        201809    101
        201810    102
        201811    102
        201812    103
        201901    104
        201902    104
        201903    105
        201904    104
        201905    104
        201906    105
        201907    105
        201908    104
        201909    105
        201910    105
        201911    104
        201912    106
        202001    106
        202002    106
        202003    106
        202004    106
        202005    106
        202006    106
        202007    105
        202008    106
        202009    106
        202010    106
        202011    106
        202012    106
        202101    106
        202102    106
        202103    106
        202104    106
        202105    106
양천구     201706    206
        201707    102
        201708    102
        201709    102
        201710    103
        201711    103
        201712    103
        201801    103
        201802    102
        201803    102
        201804    102
        201805    102
        201806    102
        201807    102
        201808    102
        201809    102
        201810    102
        201811    102
        201812    102
        201901    102
        201902    102
        201903    103
        201904    104
        201905    103
        201906    103
        201907    103
        201908    103
        201909    103
        201910    103
        201911    103
        201912    103
        202001    103
        202002    103
        202003    103
        202004    103
        202005    103
        202006    103
        202007    103
        202008    103
        202009    103
        202010    103
        202011    103
        202012    103
        202101    103

In [59]:
df_gicho.head()

     date   sido sgg_nm  age  num
0  201706  서울특별시    종로구    4    4
1  201706  서울특별시    종로구   45   26
2  201706  서울특별시    종로구   46   55
3  201706  서울특별시    종로구   47   37
4  201706  서울특별시    종로구   48   51

### 4) 자살

In [60]:
df_suicide = pd.read_csv('18.5개시도_자살율.csv')

In [61]:
df_suicide

,sido,sgg_nm,sx,dead_num_2017,dptt_2017,age_stndrd_dptt_2017,dead_num_2018,dptt_2018,age_stndrd_dptt_2018,dead_num_2019,dptt_2019,age_stndrd_dptt_2019
0,서울특별시,종로구,남자,33,45.3,37.2,22,30.3,28.7,30,41.9,32.0
1,서울특별시,종로구,여자,12,15.9,12.4,8,10.6,9.6,9,12.0,11.4
2,서울특별시,중구,남자,20,33.4,26.0,17,28.4,20.0,20,33.4,28.5
3,서울특별시,중구,여자,7,11.5,6.4,7,11.4,9.7,5,8.1,8.8
4,서울특별시,용산구,남자,36,33.7,29.8,33,31.0,26.8,27,25.4,19.6
5,서울특별시,용산구,여자,16,14.2,12.8,18,16.0,14.6,13,11.5,11.1
6,서울특별시,성동구,남자,50,34.1,28.4,40,27.0,22.7,41,28.0,21.6
7,서울특별시,성동구,여자,17,11.3,8.5,21,13.7,12.2,16,10.5,10.2
8,서울특별시,광진구,남자,54,31.4,28.0,55,32.2,28.2,44,26.1,21.5
9,서울특별시,광진구,여자,17,9.4,9.5,23,12.8,11.5,23,12.8,9.9
10,서울특별시,동대문구,남자,55,31.8,26.7,58,33.9,28.6,55,32.5,25.2
11,서울특별시,동대문구,여자,9,5.2,4.1,29,16.9,13.8,23,13.5,12.2
12,서울특별시,중랑구,남자,74,36.8,30.9,77,38.8,31.1,80,40.9,32.0
13,서울특별시,중랑구,여자,31,15.3,11.9,26,12.9,10.1,35,17.6,15.4
14,서울특별시,성북구,남자,69,32.2,27.9,72,34.2,27.2,81,38.7,30.3
15,서울특별시,성북구,여자,27,12.0,10.9,35,15.8,13.6,30,13.5,11.3
16,서울특별시,강북구,남자,63,40.2,32.1,60,38.8,31.8,47,31.0,22.6
17,서울특별시,강북구,여자,21,12.9,10.0,26,16.1,13.9,25,15.7,13.0
18,서울특별시,도봉구,남자,69,41.1,35.1,54,32.7,27.6,53,32.6,26.3
19,서울특별시,도봉구,여자,29,16.7,11.6,24,13.9,14.3,27,15.9,14.0
20,서울특별시,노원구,남자,89,33.0,28.8,95,36.0,29.8,87,33.7,27.8
21,서울특별시,노원구,여자,40,14.0,11.4,43,15.4,12.5,40,14.6,11.9
22,서울특별시,은평구,남자,72,30.8,25.9,61,26.4,20.6,56,24.5,21.3
23,서울특별시,은평구,여자,36,14.6,13.4,39,15.9,13.4,38,15.5,12.8
24,서울특별시,서대문구,남자,42,28.3,23.4,52,35.3,29.2,46,31.5,25.9
25,서울특별시,서대문구,여자,15,9.5,7.8,23,14.6,11.2,33,21.0,17.3
26,서울특별시,마포구,남자,42,23.8,20.8,48,27.5,22.7,47,27.0,23.9
27,서울특별시,마포구,여자,29,15.0,12.9,27,14.0,12.5,27,14.0,11.8
28,서울특별시,양천구,남자,65,28.1,24.7,64,28.1,25.4,52,23.2,20.7
29,서울특별시,양천구,여자,19,8.0,8.4,22,9.4,7.6,32,13.8,13.4
30,서울특별시,강서구,남자,80,27.8,23.4,94,32.6,28.9,100,35.1,27.8
31,서울특별시,강서구,여자,40,13.2,11.8,46,15.1,13.8,42,13.9,11.6
32,서울특별시,구로구,남자,57,28.0,23.1,79,39.6,32.4,58,29.3,23.5
33,서울특별시,구로구,여자,20,9.7,9.0,32,15.7,14.0,26,12.8,11.8
34,서울특별시,금천구,남자,47,40.0,32.8,28,23.9,16.9,50,43.0,32.6
35,서울특별시,금천구,여자,17,14.9,11.9,19,16.7,12.0,23,20.4,19.4
36,서울특별시,영등포구,남자,54,29.9,24.2,56,31.2,24.7,62,34.6,26.8
37,서울특별시,영등포구,여자,19,10.5,8.8,25,13.8,12.6,21,11.6,10.3
38,서울특별시,동작구,남자,49,25.5,21.5,57,30.0,25.3,46,24.3,20.6
39,서울특별시,동작구,여자,24,11.9,9.1,28,14.0,12.0,24,12.0,9.2
40,서울특별시,관악구,남자,88,35.1,30.2,90,36.2,29.8,83,33.5,28.7
41,서울특별시,관악구,여자,28,11.4,10.0,34,13.8,12.0,39,15.9,13.9
42,서울특별시,서초구,남자,41,19.6,17.6,47,22.9,21.1,39,19.2,15.4
43,서울특별시,서초구,여자,24,10.6,9.8,26,11.6,10.5,26,11.8,11.6
44,서울특별시,강남구,남자,64,24.3,23.8,64,24.9,21.4,79,31.1,27.9
45,서울특별시,강남구,여자,35,12.2,10.9,54,19.3,18.4,54,19.5,19.2
46,서울특별시,송파구,남자,80,25.2,22.2,70,22.0,19.2,86,26.8,24.1
47,서울특별시,송파구,여자,49,14.6,13.9,34,10.1,9.3,40,11.7,9.6
48,서울특별시,강동구,남자,69,32.0,27.3,82,38.9,32.5,69,32.8,27.6
49,서울특별시,강동구,여자,24,11.0,9.7,28,13.0,11.6,42,19.5,17.1
50,세종특별자치시,세종시,남자,37,28.4,26.9,56,37.9,37.4,43,26.4,25.3
51,세종특별자치시,세종시,여자,9,6.9,6.6,21,14.2,12.2,30,18.4,18.2
52,수원시,장안구,남자,46,31.3,29.1,34,23.5,21.6,39,27.7,22.3
53,수원시,장안구,여자,20,13.7,12.2,23,16.1,12.9,20,14.4,13.2
54,수원시,권선구,남자,41,22.6,22.0,64,34.4,32.0,68,36.2,32.3
55,수원시,권선구,여자,28,15.7,13.9,30,16.4,15.1,47,25.5,22.2
56,수원시,팔달구,남자,46,47.4,41.8,52,56.2,45.1,48,54.5,45.0
57,수원시,팔달구,여자,16,16.7,15.9,19,20.7,18.2,14,16.0,13.5
58,수원시,영통구,남자,28,16.2,17.7,28,15.8,17.5,35,19.3,20.4
59,수원시,영통구,여자,23,13.5,12.2,15,8.6,8.5,29,16.2,16.1
60,진주시,진주시,남자,46,26.9,23.1,66,38.7,35.2,59,34.5,28.5
61,진주시,진주시,여자,22,12.6,8.6,24,13.8,9.6,28,16.1,15.1
62,창원시,의창구,남자,46,35.9,35.0,43,33.6,27.3,42,32.5,27.5
63,창원시,의창구,여자,18,14.6,13.6,17,13.7,12.2,27,21.6,20.6
64,창원시,성산구,남자,26,22.2,24.8,46,39.7,47.5,30,26.3,26.4
65,창원시,성산구,여자,15,13.4,13.9,18,16.2,15.4,10,9.2,9.2
66,창원시,마산합포구,남자,45,50.1,43.6,52,58.1,50.9,47,53.2,43.6
67,창원시,마산합포구,여자,13,14.4,11.6,14,15.6,16.5,10,11.2,11.7
68,창원시,마산회원구,남자,30,28.9,24.7,33,32.7,27.9,40,40.7,35.0
69,창원시,마산회원구,여자,7,6.9,7.1,15,15.1,13.4,15,15.5,18.8
70,창원시,진해구,남자,24,25.0,22.5,39,40.1,36.1,37,37.6,32.3
71,창원시,진해구,여자,10,10.9,10.6,12,12.8,12.3,15,15.9,16.0

In [62]:
df_suicide = df_suicide[df_suicide['sido'] == '서울특별시']

In [63]:
df_suicide

,sido,sgg_nm,sx,dead_num_2017,dptt_2017,age_stndrd_dptt_2017,dead_num_2018,dptt_2018,age_stndrd_dptt_2018,dead_num_2019,dptt_2019,age_stndrd_dptt_2019
0,서울특별시,종로구,남자,33,45.3,37.2,22,30.3,28.7,30,41.9,32.0
1,서울특별시,종로구,여자,12,15.9,12.4,8,10.6,9.6,9,12.0,11.4
2,서울특별시,중구,남자,20,33.4,26.0,17,28.4,20.0,20,33.4,28.5
3,서울특별시,중구,여자,7,11.5,6.4,7,11.4,9.7,5,8.1,8.8
4,서울특별시,용산구,남자,36,33.7,29.8,33,31.0,26.8,27,25.4,19.6
5,서울특별시,용산구,여자,16,14.2,12.8,18,16.0,14.6,13,11.5,11.1
6,서울특별시,성동구,남자,50,34.1,28.4,40,27.0,22.7,41,28.0,21.6
7,서울특별시,성동구,여자,17,11.3,8.5,21,13.7,12.2,16,10.5,10.2
8,서울특별시,광진구,남자,54,31.4,28.0,55,32.2,28.2,44,26.1,21.5
9,서울특별시,광진구,여자,17,9.4,9.5,23,12.8,11.5,23,12.8,9.9
10,서울특별시,동대문구,남자,55,31.8,26.7,58,33.9,28.6,55,32.5,25.2
11,서울특별시,동대문구,여자,9,5.2,4.1,29,16.9,13.8,23,13.5,12.2
12,서울특별시,중랑구,남자,74,36.8,30.9,77,38.8,31.1,80,40.9,32.0
13,서울특별시,중랑구,여자,31,15.3,11.9,26,12.9,10.1,35,17.6,15.4
14,서울특별시,성북구,남자,69,32.2,27.9,72,34.2,27.2,81,38.7,30.3
15,서울특별시,성북구,여자,27,12.0,10.9,35,15.8,13.6,30,13.5,11.3
16,서울특별시,강북구,남자,63,40.2,32.1,60,38.8,31.8,47,31.0,22.6
17,서울특별시,강북구,여자,21,12.9,10.0,26,16.1,13.9,25,15.7,13.0
18,서울특별시,도봉구,남자,69,41.1,35.1,54,32.7,27.6,53,32.6,26.3
19,서울특별시,도봉구,여자,29,16.7,11.6,24,13.9,14.3,27,15.9,14.0
20,서울특별시,노원구,남자,89,33.0,28.8,95,36.0,29.8,87,33.7,27.8
21,서울특별시,노원구,여자,40,14.0,11.4,43,15.4,12.5,40,14.6,11.9
22,서울특별시,은평구,남자,72,30.8,25.9,61,26.4,20.6,56,24.5,21.3
23,서울특별시,은평구,여자,36,14.6,13.4,39,15.9,13.4,38,15.5,12.8
24,서울특별시,서대문구,남자,42,28.3,23.4,52,35.3,29.2,46,31.5,25.9
25,서울특별시,서대문구,여자,15,9.5,7.8,23,14.6,11.2,33,21.0,17.3
26,서울특별시,마포구,남자,42,23.8,20.8,48,27.5,22.7,47,27.0,23.9
27,서울특별시,마포구,여자,29,15.0,12.9,27,14.0,12.5,27,14.0,11.8
28,서울특별시,양천구,남자,65,28.1,24.7,64,28.1,25.4,52,23.2,20.7
29,서울특별시,양천구,여자,19,8.0,8.4,22,9.4,7.6,32,13.8,13.4
30,서울특별시,강서구,남자,80,27.8,23.4,94,32.6,28.9,100,35.1,27.8
31,서울특별시,강서구,여자,40,13.2,11.8,46,15.1,13.8,42,13.9,11.6
32,서울특별시,구로구,남자,57,28.0,23.1,79,39.6,32.4,58,29.3,23.5
33,서울특별시,구로구,여자,20,9.7,9.0,32,15.7,14.0,26,12.8,11.8
34,서울특별시,금천구,남자,47,40.0,32.8,28,23.9,16.9,50,43.0,32.6
35,서울특별시,금천구,여자,17,14.9,11.9,19,16.7,12.0,23,20.4,19.4
36,서울특별시,영등포구,남자,54,29.9,24.2,56,31.2,24.7,62,34.6,26.8
37,서울특별시,영등포구,여자,19,10.5,8.8,25,13.8,12.6,21,11.6,10.3
38,서울특별시,동작구,남자,49,25.5,21.5,57,30.0,25.3,46,24.3,20.6
39,서울특별시,동작구,여자,24,11.9,9.1,28,14.0,12.0,24,12.0,9.2
40,서울특별시,관악구,남자,88,35.1,30.2,90,36.2,29.8,83,33.5,28.7
41,서울특별시,관악구,여자,28,11.4,10.0,34,13.8,12.0,39,15.9,13.9
42,서울특별시,서초구,남자,41,19.6,17.6,47,22.9,21.1,39,19.2,15.4
43,서울특별시,서초구,여자,24,10.6,9.8,26,11.6,10.5,26,11.8,11.6
44,서울특별시,강남구,남자,64,24.3,23.8,64,24.9,21.4,79,31.1,27.9
45,서울특별시,강남구,여자,35,12.2,10.9,54,19.3,18.4,54,19.5,19.2
46,서울특별시,송파구,남자,80,25.2,22.2,70,22.0,19.2,86,26.8,24.1
47,서울특별시,송파구,여자,49,14.6,13.9,34,10.1,9.3,40,11.7,9.6
48,서울특별시,강동구,남자,69,32.0,27.3,82,38.9,32.5,69,32.8,27.6
49,서울특별시,강동구,여자,24,11.0,9.7,28,13.0,11.6,42,19.5,17.1

In [64]:
df_study = pd.read_csv('19.5개시도_최종학력통계.csv')

In [65]:
df_study = df_study[df_study['sido'] == '서울특별시']

In [66]:
df_study

        sido sgg_nm emd_nm  sx     age         inv_edu inv_detail  num_in_2015
0      서울특별시    종로구    사직동  남자      합계               계  6세 이상 내국인       3669.0
1      서울특별시    종로구    사직동  남자      합계            초등학교  6세 이상 내국인        339.0
2      서울특별시    종로구    사직동  남자      합계             중학교  6세 이상 내국인        237.0
3      서울특별시    종로구    사직동  남자      합계            고등학교  6세 이상 내국인        629.0
4      서울특별시    종로구    사직동  남자      합계      대학교(2,3년제)  6세 이상 내국인        196.0
...      ...    ...    ...  ..     ...             ...        ...          ...
78611  서울특별시    관악구    중앙동  여자  70세 이상            고등학교  6세 이상 내국인         73.0
78612  서울특별시    관악구    중앙동  여자  70세 이상      대학교(2,3년제)  6세 이상 내국인          4.0
78613  서울특별시    관악구    중앙동  여자  70세 이상     대학교(4년제 이상)  6세 이상 내국인          5.0
78614  서울특별시    관악구    중앙동  여자  70세 이상     대학원(석박사 과정)  6세 이상 내국인          NaN
78615  서울특별시    관악구    중앙동  여자  70세 이상  받지 않았음(미취학 포함)  6세 이상 내국인         39.0

[61776 rows x 8 columns]

In [67]:
df_fire

,yr,sgg_nm,acc_num,dead_num,injr_num,tot_vic_num,prop_dmg,chattel_dmg,assts_dmg,dmg_per_acc
0,2018,강남구,436,0,23,23,670429,954554,1624983,3727
1,2018,강동구,324,4,15,19,236181,304444,540625,1669
2,2018,강북구,203,4,2,6,104658,112180,216838,1068
3,2018,강서구,383,2,18,20,196115,197286,393401,1027
4,2018,관악구,337,1,20,21,395475,421087,816562,2423
5,2018,광진구,203,0,7,7,315690,342495,658185,3242
6,2018,구로구,263,2,3,5,74308,165019,239327,910
7,2018,금천구,168,0,8,8,55351,148455,203806,1213
8,2018,노원구,229,2,10,12,105994,225006,331000,1445
9,2018,도봉구,237,0,8,8,85113,116385,201498,850
10,2018,동대문구,203,1,3,4,179873,529614,709487,3495
11,2018,동작구,205,4,9,13,103520,209405,312925,1526
12,2018,마포구,254,2,4,6,132459,150525,282984,1114
13,2018,서대문구,229,4,9,13,236471,7641030,7877501,34400
14,2018,서초구,242,0,15,15,201149,646918,848067,3504
15,2018,성동구,212,0,12,12,162939,453146,616085,2906
16,2018,성북구,215,0,10,10,184258,303307,487565,2268
17,2018,송파구,340,0,28,28,390994,579257,970251,2854
18,2018,양천구,219,1,11,12,136819,220750,357569,1633
19,2018,영등포구,258,4,23,27,228065,476128,704193,2729
20,2018,용산구,211,1,6,7,123288,271615,394903,1872
21,2018,은평구,214,5,10,15,217662,201841,419503,1960
22,2018,종로구,254,14,22,36,279955,294345,574300,2261
23,2018,중구,275,0,23,23,558830,698175,1257005,4571
24,2018,중랑구,254,2,8,10,103281,98140,201421,793
25,2019,강남구,456,1,23,24,900260,777421,1677681,3679
26,2019,강동구,254,1,10,11,166909,366450,533359,2100
27,2019,강북구,167,1,9,10,76389,141416,217805,1304
28,2019,강서구,331,0,24,24,251606,414691,666297,2013
29,2019,관악구,311,3,6,9,312837,341749,654586,2105
30,2019,광진구,195,0,8,8,145574,247269,392843,2015
31,2019,구로구,247,0,7,7,157597,254232,411829,1667
32,2019,금천구,141,0,4,4,178251,493516,671767,4764
33,2019,노원구,203,0,6,6,44268,141374,185642,914
34,2019,도봉구,179,3,8,11,424291,344157,768448,4293
35,2019,동대문구,195,5,21,26,233398,636944,870342,4463
36,2019,동작구,208,2,10,12,86519,92724,179243,862
37,2019,마포구,246,0,13,13,163683,229742,393425,1599
38,2019,서대문구,269,1,12,13,109764,111196,220960,821
39,2019,서초구,242,2,42,44,300794,669453,970247,4009
40,2019,성동구,194,2,7,9,119319,604898,724217,3733
41,2019,성북구,191,0,10,10,241464,222877,464341,2431
42,2019,송파구,335,2,19,21,330243,628586,958829,2862
43,2019,양천구,163,2,7,9,107052,358668,465720,2857
44,2019,영등포구,265,1,48,49,344748,2755206,3099954,11698
45,2019,용산구,238,0,5,5,100283,167582,267865,1125
46,2019,은평구,196,3,20,23,1901761,511008,2412769,12310
47,2019,종로구,232,4,16,20,403054,398040,801094,3453
48,2019,중구,213,3,17,20,5135961,68941136,74077097,347780
49,2019,중랑구,210,1,9,10,95365,227285,322650,1536
50,2020,강남구,387,1,18,19,923684,527872,1451556,3751
51,2020,강동구,221,3,19,22,155078,208761,363839,1646
52,2020,강북구,186,1,5,6,99841,108539,208380,1120
53,2020,강서구,212,3,5,8,91566,109400,200966,948
54,2020,관악구,219,2,15,17,249984,396165,646149,2950
55,2020,광진구,186,0,4,4,199281,167433,366714,1972
56,2020,구로구,156,2,6,8,208681,189678,398359,2554
57,2020,금천구,127,2,9,11,256259,163328,419587,3304
58,2020,노원구,172,0,11,11,133610,250312,383922,2232
59,2020,도봉구,163,0,7,7,184209,307100,491309,3014
60,2020,동대문구,152,6,17,23,543066,2849492,3392558,22319
61,2020,동작구,151,0,7,7,81609,112642,194251,1286
62,2020,마포구,240,3,29,32,1349817,719232,2069049,8621
63,2020,서대문구,220,3,4,7,507160,421825,928985,4223
64,2020,서초구,240,1,10,11,234894,320455,555349,2314
65,2020,성동구,187,0,2,2,126408,381419,507827,2716
66,2020,성북구,173,0,11,11,187204,474351,661555,3824
67,2020,송파구,307,1,7,8,184717,194960,379677,1237
68,2020,양천구,153,0,4,4,86760,128656,215416,1408
69,2020,영등포구,225,3,8,11,279030,395766,674796,2999
70,2020,용산구,192,0,5,5,64235,205600,269835,1405
71,2020,은평구,192,2,6,8,270762,234026,504788,2629
72,2020,종로구,217,2,5,7,192633,447118,639751,2948
73,2020,중구,185,0,10,10,573942,710480,1284422,6943
74,2020,중랑구,225,2,12,14,114412,115154,229566,1020

In [68]:
df_fire_2018 = df_fire[df_fire['yr'] == 2018]

In [69]:
fire_2018 = [df_fire_2018[df_fire_2018['sgg_nm'] == '종로구']['acc_num'].iloc[0], df_fire_2018[df_fire_2018['sgg_nm'] == '성북구']['acc_num'].iloc[0],
             df_fire_2018[df_fire_2018['sgg_nm'] == '중구']['acc_num'].iloc[0], df_fire_2018[df_fire_2018['sgg_nm'] == '용산구']['acc_num'].iloc[0],
             df_fire_2018[df_fire_2018['sgg_nm'] == '서대문구']['acc_num'].iloc[0], df_fire_2018[df_fire_2018['sgg_nm'] == '동대문구']['acc_num'].iloc[0]]

In [133]:
df = pd.DataFrame({'화재발생_2018' : fire_2018}, index = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구'])

In [134]:
df

      화재발생_2018
종로구         254
성북구         215
중구          275
용산구         211
서대문구        229
동대문구        203

In [72]:
df_fire_2019 = df_fire[df_fire['yr'] == 2019]

fire_2019 = [df_fire_2019[df_fire_2019['sgg_nm'] == '종로구']['acc_num'].iloc[0], df_fire_2019[df_fire_2019['sgg_nm'] == '성북구']['acc_num'].iloc[0],
             df_fire_2019[df_fire_2019['sgg_nm'] == '중구']['acc_num'].iloc[0], df_fire_2019[df_fire_2019['sgg_nm'] == '용산구']['acc_num'].iloc[0],
             df_fire_2019[df_fire_2019['sgg_nm'] == '서대문구']['acc_num'].iloc[0], df_fire_2019[df_fire_2019['sgg_nm'] == '동대문구']['acc_num'].iloc[0]]

In [73]:
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']

In [74]:
fire_2019_s = pd.Series(fire_2019, index=df_list)
fire_2019_s.name = '화재발생_2019'

In [75]:
df_fire_2020 = df_fire[df_fire['yr'] == 2020]

fire_2020 = [df_fire_2020[df_fire_2020['sgg_nm'] == '종로구']['acc_num'].iloc[0], df_fire_2020[df_fire_2020['sgg_nm'] == '성북구']['acc_num'].iloc[0],
             df_fire_2020[df_fire_2020['sgg_nm'] == '중구']['acc_num'].iloc[0], df_fire_2020[df_fire_2020['sgg_nm'] == '용산구']['acc_num'].iloc[0],
             df_fire_2020[df_fire_2020['sgg_nm'] == '서대문구']['acc_num'].iloc[0], df_fire_2020[df_fire_2020['sgg_nm'] == '동대문구']['acc_num'].iloc[0]]

In [131]:
fire_2020_s = pd.Series(fire_2020, index=df_list)
fire_2020_s.name = '화재발생_2020'

In [132]:
df

,Unnamed: 0,화재발생_2018,화재발생_2019,화재발생_2020,2017 1인가구_여자,2017 1인가구_남자,2018 1인가구_여자,2018 1인가구_남자,2019 1인가구_여자,2019 1인가구_남자,...,여자 자살_2017,남자 자살_2018,여자 자살_2018,남자 자살_2019,여자 자살_2019,기초수급자 현황_2017,기초수급자 현황_2018,기초수급자 현황_2019,기초수급자 현황_2020,기초수급자 현황_2021
0,종로구,254.0,232.0,217.0,10247.0,10766.0,10766.0,10766.0,10766.0,9867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,성북구,215.0,191.0,173.0,27285.0,27921.0,27921.0,27921.0,27921.0,22430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,중구,275.0,213.0,185.0,48653.0,50780.0,50780.0,50780.0,50780.0,46690.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,용산구,211.0,238.0,192.0,16297.0,16556.0,16556.0,16556.0,16556.0,13300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서대문구,229.0,269.0,220.0,22180.0,22734.0,22734.0,22734.0,22734.0,17477.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,동대문구,203.0,195.0,152.0,22999.0,24068.0,24068.0,24068.0,24068.0,23847.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
동대문구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,31.8,5.2,26.7,4.1,89342.0,135529.0,152617.0,167682.0,76294.0
서대문구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,28.3,9.5,23.4,7.8,56930.0,87804.0,101008.0,111849.0,52862.0
성북구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.0,32.2,12.0,27.9,10.9,96621.0,143431.0,156391.0,171945.0,76885.0
용산구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,33.7,14.2,29.8,12.8,45361.0,69983.0,78634.0,88788.0,41457.0
종로구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,45.3,15.9,37.2,12.4,29113.0,43831.0,47908.0,53169.0,23681.0
중구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,33.4,11.5,26.0,6.4,30663.0,47053.0,52435.0,58641.0,26712.0

In [78]:
one = df_one[df_one['age'] == '합계']

In [79]:
one_2017 = one[one['date'] == 2017]
one_2017_man = one_2017[one_2017['sx'] == '남자']
one_2017_woman = one_2017[one_2017['sx'] == '여자']

In [80]:
df_dict = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = one_2017_man[one_2017_man['sgg_nm'] == i]['house_total_num'].sum()

In [81]:
one_man_2017 = pd.Series(df_dict)
one_man_2017.name = '2017 1인가구_남자'

In [82]:
df_dict = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = one_2017_woman[one_2017_woman['sgg_nm'] == i]['house_total_num'].sum()

In [83]:
one_woman_2017 = pd.Series(df_dict)
one_woman_2017.name = '2017 1인가구_여자'

In [84]:
one_2018 = one[one['date'] == 2018]
one_2018_man = one_2018[one_2018['sx'] == '남자']
one_2018_woman = one_2018[one_2018['sx'] == '여자']

In [85]:
df_dict = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = one_2018_man[one_2018_man['sgg_nm'] == i]['house_total_num'].sum()

In [86]:
one_man_2018 = pd.Series(df_dict)
one_man_2018.name = '2018 1인가구_남자'

In [87]:
df_dict = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = one_2018_woman[one_2018_woman['sgg_nm'] == i]['house_total_num'].sum()

In [88]:
one_woman_2018 = pd.Series(df_dict)
one_woman_2018.name = '2018 1인가구_여자'

In [89]:
one_2019 = one[one['date'] == 2018]
one_2019_man = one_2019[one_2019['sx'] == '남자']
one_2019_woman = one_2019[one_2019['sx'] == '여자']

In [90]:
df_dict = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = one_2019_man[one_2019_man['sgg_nm'] == i]['house_total_num'].sum()

In [91]:
one_man_2019 = pd.Series(df_dict)
one_man_2019.name = '2019 1인가구_남자'

In [92]:
df_dict = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = one_2019_woman[one_2019_woman['sgg_nm'] == i]['house_total_num'].sum()

In [93]:
one_woman_2019 = pd.Series(df_dict)
one_woman_2019.name = '2019 1인가구_여자'
one_woman_2019

종로구     10766
성북구     27921
중구      50780
용산구     16556
서대문구    22734
동대문구    24068
Name: 2019 1인가구_여자, dtype: int64

In [94]:
df_suicide = df_suicide[df_suicide['sido'] == '서울특별시']
df_suicide

,sido,sgg_nm,sx,dead_num_2017,dptt_2017,age_stndrd_dptt_2017,dead_num_2018,dptt_2018,age_stndrd_dptt_2018,dead_num_2019,dptt_2019,age_stndrd_dptt_2019
0,서울특별시,종로구,남자,33,45.3,37.2,22,30.3,28.7,30,41.9,32.0
1,서울특별시,종로구,여자,12,15.9,12.4,8,10.6,9.6,9,12.0,11.4
2,서울특별시,중구,남자,20,33.4,26.0,17,28.4,20.0,20,33.4,28.5
3,서울특별시,중구,여자,7,11.5,6.4,7,11.4,9.7,5,8.1,8.8
4,서울특별시,용산구,남자,36,33.7,29.8,33,31.0,26.8,27,25.4,19.6
5,서울특별시,용산구,여자,16,14.2,12.8,18,16.0,14.6,13,11.5,11.1
6,서울특별시,성동구,남자,50,34.1,28.4,40,27.0,22.7,41,28.0,21.6
7,서울특별시,성동구,여자,17,11.3,8.5,21,13.7,12.2,16,10.5,10.2
8,서울특별시,광진구,남자,54,31.4,28.0,55,32.2,28.2,44,26.1,21.5
9,서울특별시,광진구,여자,17,9.4,9.5,23,12.8,11.5,23,12.8,9.9
10,서울특별시,동대문구,남자,55,31.8,26.7,58,33.9,28.6,55,32.5,25.2
11,서울특별시,동대문구,여자,9,5.2,4.1,29,16.9,13.8,23,13.5,12.2
12,서울특별시,중랑구,남자,74,36.8,30.9,77,38.8,31.1,80,40.9,32.0
13,서울특별시,중랑구,여자,31,15.3,11.9,26,12.9,10.1,35,17.6,15.4
14,서울특별시,성북구,남자,69,32.2,27.9,72,34.2,27.2,81,38.7,30.3
15,서울특별시,성북구,여자,27,12.0,10.9,35,15.8,13.6,30,13.5,11.3
16,서울특별시,강북구,남자,63,40.2,32.1,60,38.8,31.8,47,31.0,22.6
17,서울특별시,강북구,여자,21,12.9,10.0,26,16.1,13.9,25,15.7,13.0
18,서울특별시,도봉구,남자,69,41.1,35.1,54,32.7,27.6,53,32.6,26.3
19,서울특별시,도봉구,여자,29,16.7,11.6,24,13.9,14.3,27,15.9,14.0
20,서울특별시,노원구,남자,89,33.0,28.8,95,36.0,29.8,87,33.7,27.8
21,서울특별시,노원구,여자,40,14.0,11.4,43,15.4,12.5,40,14.6,11.9
22,서울특별시,은평구,남자,72,30.8,25.9,61,26.4,20.6,56,24.5,21.3
23,서울특별시,은평구,여자,36,14.6,13.4,39,15.9,13.4,38,15.5,12.8
24,서울특별시,서대문구,남자,42,28.3,23.4,52,35.3,29.2,46,31.5,25.9
25,서울특별시,서대문구,여자,15,9.5,7.8,23,14.6,11.2,33,21.0,17.3
26,서울특별시,마포구,남자,42,23.8,20.8,48,27.5,22.7,47,27.0,23.9
27,서울특별시,마포구,여자,29,15.0,12.9,27,14.0,12.5,27,14.0,11.8
28,서울특별시,양천구,남자,65,28.1,24.7,64,28.1,25.4,52,23.2,20.7
29,서울특별시,양천구,여자,19,8.0,8.4,22,9.4,7.6,32,13.8,13.4
30,서울특별시,강서구,남자,80,27.8,23.4,94,32.6,28.9,100,35.1,27.8
31,서울특별시,강서구,여자,40,13.2,11.8,46,15.1,13.8,42,13.9,11.6
32,서울특별시,구로구,남자,57,28.0,23.1,79,39.6,32.4,58,29.3,23.5
33,서울특별시,구로구,여자,20,9.7,9.0,32,15.7,14.0,26,12.8,11.8
34,서울특별시,금천구,남자,47,40.0,32.8,28,23.9,16.9,50,43.0,32.6
35,서울특별시,금천구,여자,17,14.9,11.9,19,16.7,12.0,23,20.4,19.4
36,서울특별시,영등포구,남자,54,29.9,24.2,56,31.2,24.7,62,34.6,26.8
37,서울특별시,영등포구,여자,19,10.5,8.8,25,13.8,12.6,21,11.6,10.3
38,서울특별시,동작구,남자,49,25.5,21.5,57,30.0,25.3,46,24.3,20.6
39,서울특별시,동작구,여자,24,11.9,9.1,28,14.0,12.0,24,12.0,9.2
40,서울특별시,관악구,남자,88,35.1,30.2,90,36.2,29.8,83,33.5,28.7
41,서울특별시,관악구,여자,28,11.4,10.0,34,13.8,12.0,39,15.9,13.9
42,서울특별시,서초구,남자,41,19.6,17.6,47,22.9,21.1,39,19.2,15.4
43,서울특별시,서초구,여자,24,10.6,9.8,26,11.6,10.5,26,11.8,11.6
44,서울특별시,강남구,남자,64,24.3,23.8,64,24.9,21.4,79,31.1,27.9
45,서울특별시,강남구,여자,35,12.2,10.9,54,19.3,18.4,54,19.5,19.2
46,서울특별시,송파구,남자,80,25.2,22.2,70,22.0,19.2,86,26.8,24.1
47,서울특별시,송파구,여자,49,14.6,13.9,34,10.1,9.3,40,11.7,9.6
48,서울특별시,강동구,남자,69,32.0,27.3,82,38.9,32.5,69,32.8,27.6
49,서울특별시,강동구,여자,24,11.0,9.7,28,13.0,11.6,42,19.5,17.1

In [95]:
# df_suicide.drop(['dptt_2017', 'age_stndrd_dptt_2017', 'dptt_2018', 'age_stndrd_dptt_2018', 'dptt_2019', 'age_stndrd_dptt_2019'], axis = 1, inplace = True)

In [96]:
suicide_man = df_suicide[df_suicide['sx'] == '남자']
suicide_woman = df_suicide[df_suicide['sx'] == '여자']
suicide_man

,sido,sgg_nm,sx,dead_num_2017,dptt_2017,age_stndrd_dptt_2017,dead_num_2018,dptt_2018,age_stndrd_dptt_2018,dead_num_2019,dptt_2019,age_stndrd_dptt_2019
0,서울특별시,종로구,남자,33,45.3,37.2,22,30.3,28.7,30,41.9,32.0
2,서울특별시,중구,남자,20,33.4,26.0,17,28.4,20.0,20,33.4,28.5
4,서울특별시,용산구,남자,36,33.7,29.8,33,31.0,26.8,27,25.4,19.6
6,서울특별시,성동구,남자,50,34.1,28.4,40,27.0,22.7,41,28.0,21.6
8,서울특별시,광진구,남자,54,31.4,28.0,55,32.2,28.2,44,26.1,21.5
10,서울특별시,동대문구,남자,55,31.8,26.7,58,33.9,28.6,55,32.5,25.2
12,서울특별시,중랑구,남자,74,36.8,30.9,77,38.8,31.1,80,40.9,32.0
14,서울특별시,성북구,남자,69,32.2,27.9,72,34.2,27.2,81,38.7,30.3
16,서울특별시,강북구,남자,63,40.2,32.1,60,38.8,31.8,47,31.0,22.6
18,서울특별시,도봉구,남자,69,41.1,35.1,54,32.7,27.6,53,32.6,26.3
20,서울특별시,노원구,남자,89,33.0,28.8,95,36.0,29.8,87,33.7,27.8
22,서울특별시,은평구,남자,72,30.8,25.9,61,26.4,20.6,56,24.5,21.3
24,서울특별시,서대문구,남자,42,28.3,23.4,52,35.3,29.2,46,31.5,25.9
26,서울특별시,마포구,남자,42,23.8,20.8,48,27.5,22.7,47,27.0,23.9
28,서울특별시,양천구,남자,65,28.1,24.7,64,28.1,25.4,52,23.2,20.7
30,서울특별시,강서구,남자,80,27.8,23.4,94,32.6,28.9,100,35.1,27.8
32,서울특별시,구로구,남자,57,28.0,23.1,79,39.6,32.4,58,29.3,23.5
34,서울특별시,금천구,남자,47,40.0,32.8,28,23.9,16.9,50,43.0,32.6
36,서울특별시,영등포구,남자,54,29.9,24.2,56,31.2,24.7,62,34.6,26.8
38,서울특별시,동작구,남자,49,25.5,21.5,57,30.0,25.3,46,24.3,20.6
40,서울특별시,관악구,남자,88,35.1,30.2,90,36.2,29.8,83,33.5,28.7
42,서울특별시,서초구,남자,41,19.6,17.6,47,22.9,21.1,39,19.2,15.4
44,서울특별시,강남구,남자,64,24.3,23.8,64,24.9,21.4,79,31.1,27.9
46,서울특별시,송파구,남자,80,25.2,22.2,70,22.0,19.2,86,26.8,24.1
48,서울특별시,강동구,남자,69,32.0,27.3,82,38.9,32.5,69,32.8,27.6

In [97]:
df_dict = {}
df_dict1 = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = suicide_man[suicide_man['sgg_nm'] == i].iloc[:, 3].sum()
    df_dict1[i] = suicide_woman[suicide_woman['sgg_nm'] == i].iloc[:, 3].sum()

In [98]:
suicide_man_s_2017 = pd.Series(df_dict)
suicide_woman_s_2017 = pd.Series(df_dict1)
suicide_man_s_2017.name = '남자 자살_2017'
suicide_woman_s_2017.name = '여자 자살_2017'

In [99]:
df_dict = {}
df_dict1 = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = suicide_man[suicide_man['sgg_nm'] == i].iloc[:, 4].sum()
    df_dict1[i] = suicide_woman[suicide_woman['sgg_nm'] == i].iloc[:, 4].sum()

In [100]:
suicide_man_s_2018 = pd.Series(df_dict)
suicide_woman_s_2018 = pd.Series(df_dict1)
suicide_man_s_2018.name  = '남자 자살_2018'
suicide_woman_s_2018.name = '여자 자살_2018'

In [101]:
df_dict = {}
df_dict1 = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    df_dict[i] = suicide_man[suicide_man['sgg_nm'] == i].iloc[:, 5].sum()
    df_dict1[i] = suicide_woman[suicide_woman['sgg_nm'] == i].iloc[:, 5].sum()

In [102]:
suicide_man_s_2019 = pd.Series(df_dict)
suicide_woman_s_2019 = pd.Series(df_dict1)
suicide_man_s_2019.name = '남자 자살_2019'
suicide_woman_s_2019.name = '여자 자살_2019'

In [103]:
df_gicho = df_gicho.reset_index(drop = True)

In [104]:
df_gicho

          date   sido sgg_nm  age  num
0       201706  서울특별시    종로구    4    4
1       201706  서울특별시    종로구   45   26
2       201706  서울특별시    종로구   46   55
3       201706  서울특별시    종로구   47   37
4       201706  서울특별시    종로구   48   51
...        ...    ...    ...  ...  ...
125302  202105  서울특별시    강동구    0    8
125303  202105  서울특별시    강동구   40  110
125304  202105  서울특별시    강동구   41  119
125305  202105  서울특별시    강동구   42  125
125306  202105  서울특별시    강동구   43  120

[125307 rows x 5 columns]

In [105]:
for i in range(len(df_gicho)):
    df_gicho['date'][i] = math.trunc((df_gicho['date'][i] *0.01 % 2000)) + 2000

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
df_gicho['date']

0         2017
1         2017
2         2017
3         2017
4         2017
          ...
125302    2021
125303    2021
125304    2021
125305    2021
125306    2021
Name: date, Length: 125307, dtype: int64

In [107]:
df_gicho[df_gicho['date'] == 2017]

       date   sido sgg_nm  age  num
0      2017  서울특별시    종로구    4    4
1      2017  서울특별시    종로구   45   26
2      2017  서울특별시    종로구   46   55
3      2017  서울특별시    종로구   47   37
4      2017  서울특별시    종로구   48   51
...     ...    ...    ...  ...  ...
20163  2017  서울특별시    강동구   39   52
20164  2017  서울특별시    강동구   40   56
20165  2017  서울특별시    강동구   41   54
20166  2017  서울특별시    강동구   42   68
20167  2017  서울특별시    강동구   43   73

[20168 rows x 5 columns]

In [108]:
df_gicho_2017 = df_gicho[df_gicho['date'] == 2017]
df_gicho_2018 = df_gicho[df_gicho['date'] == 2018]
df_gicho_2019 = df_gicho[df_gicho['date'] == 2019]
df_gicho_2020 = df_gicho[df_gicho['date'] == 2020]
df_gicho_2021 = df_gicho[df_gicho['date'] == 2021]

In [109]:
df_dict = {}
df_dict1 = {}
df_dict2 = {}
df_dict3 = {}
df_dict4 = {}
df_list = ['종로구', '성북구', '중구', '용산구', '서대문구', '동대문구']
for i in df_list:
    
    df_dict[i] = df_gicho_2017[df_gicho_2017['sgg_nm'] == i].iloc[:,4].sum()
    df_dict1[i] = df_gicho_2018[df_gicho_2018['sgg_nm'] == i].iloc[:,4].sum()
    df_dict2[i] = df_gicho_2019[df_gicho_2019['sgg_nm'] == i].iloc[:,4].sum()
    df_dict3[i] = df_gicho_2020[df_gicho_2020['sgg_nm'] == i].iloc[:,4].sum()
    df_dict4[i] = df_gicho_2021[df_gicho_2021['sgg_nm'] == i].iloc[:,4].sum()

In [110]:
gicho_2017 = pd.Series(df_dict)
gicho_2018 = pd.Series(df_dict1)
gicho_2019 = pd.Series(df_dict2)
gicho_2020 = pd.Series(df_dict3)
gicho_2021 = pd.Series(df_dict4)
gicho_2017.name = '기초수급자 현황_2017'
gicho_2018.name = '기초수급자 현황_2018'
gicho_2019.name = '기초수급자 현황_2019'
gicho_2020.name = '기초수급자 현황_2020'
gicho_2021.name = '기초수급자 현황_2021'

In [135]:
df = pd.concat([df, fire_2019_s, fire_2020_s, one_woman_2017, one_man_2017, one_woman_2018, one_man_2018,
                one_woman_2019, one_man_2019, suicide_man_s_2017, suicide_woman_s_2017,
                suicide_man_s_2018, suicide_woman_s_2018, suicide_man_s_2019, suicide_woman_s_2019,
                gicho_2017, gicho_2018, gicho_2019, gicho_2020, gicho_2021], axis = 1)

In [139]:
df.to_csv('구별.csv')

In [138]:
df

,화재발생_2018,화재발생_2019,화재발생_2020,2017 1인가구_여자,2017 1인가구_남자,2018 1인가구_여자,2018 1인가구_남자,2019 1인가구_여자,2019 1인가구_남자,남자 자살_2017,여자 자살_2017,남자 자살_2018,여자 자살_2018,남자 자살_2019,여자 자살_2019,기초수급자 현황_2017,기초수급자 현황_2018,기초수급자 현황_2019,기초수급자 현황_2020,기초수급자 현황_2021
종로구,254,232,217,10247,9013,10766,9867,10766,9867,33,12,45.3,15.9,37.2,12.4,29113,43831,47908,53169,23681
성북구,215,191,173,27285,22237,27921,22430,27921,22430,69,27,32.2,12.0,27.9,10.9,96621,143431,156391,171945,76885
중구,275,213,185,48653,45059,50780,46690,50780,46690,20,7,33.4,11.5,26.0,6.4,30663,47053,52435,58641,26712
용산구,211,238,192,16297,13023,16556,13300,16556,13300,36,16,33.7,14.2,29.8,12.8,45361,69983,78634,88788,41457
서대문구,229,269,220,22180,16856,22734,17477,22734,17477,42,15,28.3,9.5,23.4,7.8,56930,87804,101008,111849,52862
동대문구,203,195,152,22999,23324,24068,23847,24068,23847,55,9,31.8,5.2,26.7,4.1,89342,135529,152617,167682,76294