In [1]:
import numpy as np
import pandas  as  pd

In [4]:
# geopandas, Point  라이브러리
import geopandas as gpd
from shapely.geometry import Point, Polygon

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:110: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [26]:
df_park = pd.read_csv("20.5개시도_공원현황.csv")

In [27]:
df_park["관할서"] = "모름"

In [28]:
# 위도경도 데이터 zip
location = list(zip(df_park["lon"], df_park["lat"]))

In [29]:
# 위도경도 데이터 Point로 만들어주기
st_list = []
for i in location:
    test_code = Point(i)
    st_list.append(test_code)

In [30]:
#관할서 경계데이터 geopandas로 읽어오기
df_js = gpd.read_file('1.5개시도_경찰서_관할경계.geojson', encoding='cp949')
df_js.head()

      NAME PNAME                                           geometry
0    세종경찰서   충남청  MULTIPOLYGON (((127.17202 36.73106, 127.17202 ...
1    진주경찰서   경남청  MULTIPOLYGON (((128.26697 35.12927, 128.26697 ...
2  창원서부경찰서   경남청  MULTIPOLYGON (((128.63363 35.22152, 128.63357 ...
3  창원중부경찰서   경남청  MULTIPOLYGON (((128.60966 35.15093, 128.60956 ...
4  마산동부경찰서   경남청  MULTIPOLYGON (((128.62696 35.21714, 128.62695 ...

In [31]:
# 빠른 반복문 진행을 위해 변수지정
df_js_list = df_js["geometry"]
df_js_name = df_js["NAME"]

In [32]:
# 위도경도 데이터가 관할경계데이터에 포함되면  관할서의 이름값을 df관할서의 "모름"을 관할서 이름으로 바꿔라  
for z in range(41):
    for i in range(len(df_park)):
        if st_list[i].within(df_js_list[z]):
            df_park.iloc[i,-1] = df_park.iloc[i,-1].replace("모름",df_js_name[z])
            
        else:
            pass

In [33]:
df_park.head()

             park_nm park_gbn         lon        lat    관할서
0   도램샘 어린이공원(어1-13)    어린이공원  127.253744  36.520719  세종경찰서
1   꾸러기 어린이공원(어1-14)    어린이공원  127.241635  36.502642  세종경찰서
2   푸른꿈 어린이공원(어1-15)    어린이공원  127.262852  36.519766  세종경찰서
3   방울새 어린이공원(어1-18)    어린이공원  127.268955  36.496070  세종경찰서
4  푸른하늘 어린이공원(어1-19)    어린이공원  127.245986  36.510491  세종경찰서

In [34]:
df_jigu = pd.read_csv('12.경찰서별_지구대별_인원현황.csv')

In [35]:
df_jigu

    nat_pol_agency pol_office sec_center  num
0            서울경찰청    서울중부경찰서      을지지구대   42
1            서울경찰청    서울중부경찰서      광희지구대   47
2            서울경찰청    서울중부경찰서      약수지구대   42
3            서울경찰청    서울중부경찰서      신당파출소   26
4            서울경찰청    서울중부경찰서      장충파출소   26
..             ...        ...        ...  ...
315          경남경찰청      진주경찰서     일반성파출소   13
316          경남경찰청      진주경찰서      지수파출소    9
317          경남경찰청      진주경찰서      수곡파출소    9
318          경남경찰청      진주경찰서      대곡파출소    9
319          경남경찰청      진주경찰서     충무공파출소   23

[320 rows x 4 columns]

In [36]:
df_bell = gpd.read_file('22.5개시도_비상벨현황.geojson', encoding='cp949')

In [37]:
df_bell

,bell_us,bell_set_fac,bell_loc,bell_set_yr,geometry
0,기타,화장실,오가낭뜰 근린공원(간이),2017,MULTIPOINT (127.24880 36.51230)
1,기타,화장실,어진동음악분수,2017,MULTIPOINT (127.25660 36.50190)
2,기타,화장실,제천(간이),2017,MULTIPOINT (127.25660 36.50190)
3,기타,화장실,도시공원1(남리도시 공원화장실1),2017,MULTIPOINT (127.30260 36.59780)
4,기타,화장실,부강면 전통시장 화장실,2017,MULTIPOINT (127.36740 36.52950)
...,...,...,...,...,...
18329,방범용,공원,북한산도시자연공원(홍은동 8-637일대),2014,MULTIPOINT (126.95000 37.60580)
18330,방범용,화장실,참샘골공원 공중화장실,2017,MULTIPOINT (126.97470 37.61520)
18331,방범용,화장실,구기동공중화장실,2017,MULTIPOINT (126.95640 37.60960)
18332,방범용,기타,CCTV,2018,MULTIPOINT (126.94980 37.60520)
18333,방범용,기타,CCTV,2020,MULTIPOINT (126.95040 37.60330)

In [38]:
df_singo = pd.read_csv('5.112신고.csv')

In [39]:
df_singo

               date jur_stn report_sx    inc_info
0        20180603.0    서울서부        남성        분실습득
1        20180603.0    서울송파        여성          폭력
2        20180603.0    서울강서        남성          소음
3        20180603.0   서울영등포        여성  실종(실종아동 등)
4        20180603.0    서울강서        남성        상담문의
...             ...     ...       ...         ...
9229106  20210531.0    마산동부        남성        교통사고
9229107  20210531.0    마산중부        남성        가정폭력
9229108  20210531.0    마산중부        불상          화재
9229109  20210531.0    마산동부        남성       기타형사범
9229110  20210531.0      진해        남성        상담문의

[9229111 rows x 4 columns]

In [40]:
df_cctv = pd.read_csv('10.5개시도_CCTV설치현황.csv')

In [41]:
df_cctv.head()

                 address purpose  cctv_cnt set_yr        lat         lon
0  세종특별자치시 조치원읍 교리 129-1     다목적         3    NaN  36.605059  127.296286
1     세종특별자치시 조치원읍 남리144     다목적         2    NaN  36.597678  127.302452
2    세종특별자치시 조치원읍 남리 425     다목적         3    NaN  36.594863  127.300492
3      세종특별자치시 조치원읍 명리82     다목적         3    NaN  36.600620  127.301301
4   세종특별자치시 조치원읍 상리18-10     다목적         4    NaN  36.602434  127.303145

In [48]:
df_cctv["관할서"] = "모름"

In [49]:
# 위도경도 데이터 zip
location = list(zip(df_cctv["lon"], df_cctv["lat"]))

# 위도경도 데이터 Point로 만들어주기
st_list = []
for i in location:
    test_code = Point(i)
    st_list.append(test_code)

In [50]:
len(df_cctv)

46203

In [51]:
#반복문진행률
from tqdm import tqdm

In [52]:
# 위도경도 데이터가 관할경계데이터에 포함되면  관할서의 이름값을 df관할서의 "모름"을 관할서 이름으로 바꿔라  
for z in tqdm(range(41)):
    for i in range(len(df_cctv)):
        if st_list[i].within(df_js_list[z]):
            df_cctv.iloc[i,-1] = df_cctv.iloc[i,-1].replace("모름",df_js_name[z])
            
        else:
            pass

 12%|█▏        | 5/41 [03:37<26:07, 43.54s/it]

KeyboardInterrupt:

In [ ]:
df_cctv.tail()

In [53]:
df_light = pd.read_csv('9.5개시도_보안등현황.csv')

In [54]:
df_light

        year               address  \nsecuritylight_cnt         lon        lat
0        NaN  세종특별자치시 금남면 감성리 64-2                    1  127.287690  36.443467
1        NaN   세종특별자치시 금남면 감성리 267                    1  127.288812  36.444181
2        NaN  세종특별자치시 금남면 감성리 40-1                    1  127.289575  36.444711
3        NaN    세종특별자치시 금남면 감성리 26                    1  127.290071  36.444455
4        NaN   세종특별자치시 금남면 감성리 267                    1  127.290002  36.444188
...      ...                   ...                  ...         ...        ...
229400   NaN    서울특별시 중랑구 상봉동 19-2                    1  127.092434  37.602786
229401   NaN   서울특별시 중랑구 상봉동 19-44                    1  127.092721  37.602497
229402   NaN   서울특별시 중랑구 상봉동 19-25                    1  127.092258  37.602374
229403   NaN   서울특별시 중랑구 상봉동 495-4                    1  127.094617  37.602357
229404   NaN      서울특별시 중랑구 묵동 3-5                    1  127.083960  37.618769

[229405 rows x 5 columns]

In [55]:
df_light["관할서"] = "모름"

In [56]:
# 위도경도 데이터 zip
location = list(zip(df_light["lon"], df_light["lat"]))

In [57]:
# 위도경도 데이터 Point로 만들어주기
st_list = []
for i in location:
    test_code = Point(i)
    st_list.append(test_code)

In [58]:
for z in tqdm(range(41)):
    for i in range(len(df_light)):
        if st_list[i].within(df_js_list[z]):
            df_light.iloc[i,-1] = df_light.iloc[i,-1].replace("모름",df_js_name[z])
            
        else:
            pass

  0%|          | 0/41 [03:32<?, ?it/s]

KeyboardInterrupt:

In [ ]:
df_light.head()

In [ ]:
df_light.to_csv('light.csv')

In [59]:
df_drink = pd.read_csv('21.5개시도_유흥업소_단란주점현황.csv')

In [60]:
df_drink

      license_date open_gbn  type surroundings         lon        lat
0         19951012    영업/정상  단란주점          NaN  127.300127  36.601953
1         20181127    영업/정상  단란주점          NaN  127.301023  36.601199
2         20021121    영업/정상  단란주점     유흥업소밀집지역  127.300940  36.601856
3         20020409    영업/정상  단란주점     유흥업소밀집지역  127.299671  36.602782
4         19990804    영업/정상  단란주점     학교정화(상대)  127.205025  36.678746
...            ...      ...   ...          ...         ...        ...
7114      20001116    영업/정상   룸살롱     유흥업소밀집지역  126.930536  37.610393
7115      20010307    영업/정상   룸살롱     유흥업소밀집지역  126.930733  37.610163
7116      20170630    영업/정상   룸살롱     유흥업소밀집지역  126.929299  37.610537
7117      20171228    영업/정상   룸살롱     유흥업소밀집지역  126.919550  37.620091
7118      20180119    영업/정상   룸살롱     유흥업소밀집지역  126.920276  37.619502

[7119 rows x 6 columns]

In [61]:
df_drink["관할서"] = "모름"

In [62]:
# 위도경도 데이터 zip
location = list(zip(df_drink["lon"], df_drink["lat"]))

In [63]:
# 위도경도 데이터 Point로 만들어주기
st_list = []
for i in location:
    test_code = Point(i)
    st_list.append(test_code)

In [64]:
for z in tqdm(range(41)):
    for i in range(len(df_drink)):
        if st_list[i].within(df_js_list[z]):
            df_drink.iloc[i,-1] = df_drink.iloc[i,-1].replace("모름",df_js_name[z])
            
        else:
            pass

100%|██████████| 41/41 [01:58<00:00,  2.90s/it]

In [65]:
df_drink.head()

   license_date open_gbn  type surroundings         lon        lat    관할서
0      19951012    영업/정상  단란주점          NaN  127.300127  36.601953  세종경찰서
1      20181127    영업/정상  단란주점          NaN  127.301023  36.601199  세종경찰서
2      20021121    영업/정상  단란주점     유흥업소밀집지역  127.300940  36.601856  세종경찰서
3      20020409    영업/정상  단란주점     유흥업소밀집지역  127.299671  36.602782  세종경찰서
4      19990804    영업/정상  단란주점     학교정화(상대)  127.205025  36.678746  세종경찰서

In [66]:
df_acc = pd.read_csv('11.5개시도_교통사고현황.csv')

In [67]:
df_acc

             date      acc_case ofn_sx ofn_age vic_sx vic_age jur_stn
0        2018년 1월    차대차 - 측면충돌      남     20대      남     50대    서울중부
1        2018년 1월    차대차 - 측면충돌      여     50대      남     70대    서울중부
2        2018년 1월    차대차 - 측면충돌      남     40대      남     50대    서울중부
3        2018년 1월      차대차 - 기타   기타불명     미분류      여     40대    서울중부
4        2018년 1월      차대차 - 기타      남     60대      남     50대    서울중부
...           ...           ...    ...     ...    ...     ...     ...
140949   2019년 8월    차대사람 - 횡단중      남     40대      여  90대 이상    마산중부
140950  2020년 12월  차대사람 - 차도통행중      여     40대      여  90대 이상    창원중부
140951   2019년 4월    차대사람 - 횡단중      남     60대      남  90대 이상   진해경찰서
140952   2019년 5월  차대사람 - 차도통행중      남     20대      남  90대 이상   진해경찰서
140953   2020년 9월      차대차 - 기타      여     40대      남  90대 이상   진해경찰서

[140954 rows x 7 columns]

## 데이터 프레임 병합

In [68]:
df_light = pd.read_csv('light.csv')

In [69]:
aa = len(df_light[df_light['관할서'] == '서울중부경찰서'])
bb = len(df_light[df_light['관할서'] == '서울종로경찰서'])
cc = len(df_light[df_light['관할서'] == '서울남대문경찰서'])
dd = len(df_light[df_light['관할서'] == '서울서대문경찰서'])
ee = len(df_light[df_light['관할서'] == '서울혜화경찰서'])
ff = len(df_light[df_light['관할서'] == '서울용산경찰서'])
gg = len(df_light[df_light['관할서'] == '서울성북경찰서'])
hh = len(df_light[df_light['관할서'] == '서울동대문경찰서'])

In [70]:
hh

1

In [71]:
df = pd.DataFrame(data = {'보안등' : [aa, bb, cc, dd, ee, ff, gg, hh]}, index = ['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서',
                                                                   '서울혜화경찰서', '서울용산경찰서', '서울성북경찰서','서울동대문경찰서'])

In [72]:
df

           보안등
서울중부경찰서   4818
서울종로경찰서   5259
서울남대문경찰서  1078
서울서대문경찰서  6938
서울혜화경찰서   4256
서울용산경찰서   9980
서울성북경찰서   7047
서울동대문경찰서     1

In [73]:
df_dict = {}
df_list = ['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서', '서울용산경찰서', '서울성북경찰서','서울동대문경찰서']
for i in df_list:
    df_dict[i] = len(df_park[df_park['관할서'] == i])

In [74]:
df_dict

{'서울중부경찰서': 14,
 '서울종로경찰서': 29,
 '서울남대문경찰서': 16,
 '서울서대문경찰서': 58,
 '서울혜화경찰서': 13,
 '서울용산경찰서': 45,
 '서울성북경찰서': 29,
 '서울동대문경찰서': 14}

In [75]:
park = pd.Series(df_dict)
park.name = '공원 수'

In [76]:
park

서울중부경찰서     14
서울종로경찰서     29
서울남대문경찰서    16
서울서대문경찰서    58
서울혜화경찰서     13
서울용산경찰서     45
서울성북경찰서     29
서울동대문경찰서    14
Name: 공원 수, dtype: int64

In [77]:
df_jigu

    nat_pol_agency pol_office sec_center  num
0            서울경찰청    서울중부경찰서      을지지구대   42
1            서울경찰청    서울중부경찰서      광희지구대   47
2            서울경찰청    서울중부경찰서      약수지구대   42
3            서울경찰청    서울중부경찰서      신당파출소   26
4            서울경찰청    서울중부경찰서      장충파출소   26
..             ...        ...        ...  ...
315          경남경찰청      진주경찰서     일반성파출소   13
316          경남경찰청      진주경찰서      지수파출소    9
317          경남경찰청      진주경찰서      수곡파출소    9
318          경남경찰청      진주경찰서      대곡파출소    9
319          경남경찰청      진주경찰서     충무공파출소   23

[320 rows x 4 columns]

In [78]:
df_dict = {}
df_list = ['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서', '서울용산경찰서', '서울성북경찰서','서울동대문경찰서']
for i in df_list:
    df_dict[i] = len(df_jigu[df_jigu['pol_office'] == i])

In [79]:
df_dict

{'서울중부경찰서': 7,
 '서울종로경찰서': 13,
 '서울남대문경찰서': 7,
 '서울서대문경찰서': 8,
 '서울혜화경찰서': 8,
 '서울용산경찰서': 7,
 '서울성북경찰서': 6,
 '서울동대문경찰서': 11}

In [80]:
jigudae = pd.Series(df_dict)
jigudae.name = '지구대 수'

In [81]:
jigudae

서울중부경찰서      7
서울종로경찰서     13
서울남대문경찰서     7
서울서대문경찰서     8
서울혜화경찰서      8
서울용산경찰서      7
서울성북경찰서      6
서울동대문경찰서    11
Name: 지구대 수, dtype: int64

In [82]:
df_dict = {}
df_list = ['서울중부', '서울종로', '서울남대문', '서울서대문', '서울혜화', '서울용산', '서울성북','서울동대문']
for i in df_list:
    df_dict[i] = len(df_singo[df_singo['jur_stn'] == i])

In [83]:
singo = pd.Series(df_dict)
singo.name = '신고 횟수'

In [84]:
singo

서울중부     142040
서울종로     131752
서울남대문     91868
서울서대문    241937
서울혜화     116059
서울용산     238101
서울성북     140369
서울동대문    286603
Name: 신고 횟수, dtype: int64

In [85]:
singo.rename({'서울중부' : '서울중부경찰서', '서울종로' : '서울종로경찰서',
              '서울남대문' : '서울남대문경찰서', '서울서대문' : '서울서대문경찰서',
              '서울혜화' : '서울혜화경찰서', '서울용산' : '서울용산경찰서', 
              '서울성북' : '서울성북경찰서','서울동대문' : '서울동대문경찰서'}, inplace = True)

In [86]:
df_cctv = pd.read_csv('cctv.csv')

In [87]:
df_cctv.head()

,Unnamed: 0,address,purpose,cctv_cnt,set_yr,lat,lon,관할서
0,0,세종특별자치시 조치원읍 교리 129-1,다목적,3,NaN,36.605060,127.296286,세종경찰서
1,1,세종특별자치시 조치원읍 남리144,다목적,2,NaN,36.597678,127.302452,세종경찰서
2,2,세종특별자치시 조치원읍 남리 425,다목적,3,NaN,36.594863,127.300492,세종경찰서
3,3,세종특별자치시 조치원읍 명리82,다목적,3,NaN,36.600620,127.301301,세종경찰서
4,4,세종특별자치시 조치원읍 상리18-10,다목적,4,NaN,36.602434,127.303145,세종경찰서

In [88]:
df_dict = {}
df_list = ['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서', '서울용산경찰서', '서울성북경찰서','서울동대문경찰서']
for i in df_list:
    df_dict[i] = df_cctv[df_cctv['관할서'] == i]['cctv_cnt'].sum()

In [89]:
df_dict

{'서울중부경찰서': 1563,
 '서울종로경찰서': 805,
 '서울남대문경찰서': 725,
 '서울서대문경찰서': 2938,
 '서울혜화경찰서': 784,
 '서울용산경찰서': 2051,
 '서울성북경찰서': 2015,
 '서울동대문경찰서': 26}

In [90]:
cctv = pd.Series(df_dict)
cctv.name = 'cctv 설치대수'

In [91]:
cctv

서울중부경찰서     1563
서울종로경찰서      805
서울남대문경찰서     725
서울서대문경찰서    2938
서울혜화경찰서      784
서울용산경찰서     2051
서울성북경찰서     2015
서울동대문경찰서      26
Name: cctv 설치대수, dtype: int64

In [92]:
df_dict = {}
df_list = ['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서', '서울용산경찰서', '서울성북경찰서','서울동대문경찰서']
for i in df_list:
    df_dict[i] = len(df_drink[df_drink['관할서'] == i])

In [93]:
df_dict

{'서울중부경찰서': 206,
 '서울종로경찰서': 150,
 '서울남대문경찰서': 88,
 '서울서대문경찰서': 75,
 '서울혜화경찰서': 143,
 '서울용산경찰서': 122,
 '서울성북경찰서': 36,
 '서울동대문경찰서': 150}

In [94]:
drink = pd.Series(df_dict)
drink.name = '유흥업소 수'

In [95]:
df_dict = {}
df_list = ['서울중부', '서울종로', '서울남대문', '서울서대문', '서울혜화', '서울용산', '서울성북','서울동대문']
for i in df_list:
    df_dict[i] = len(df_acc[df_acc['jur_stn'] == i])

In [96]:
df_dict

{'서울중부': 1716,
 '서울종로': 1651,
 '서울남대문': 1514,
 '서울서대문': 3015,
 '서울혜화': 1495,
 '서울용산': 3408,
 '서울성북': 2217,
 '서울동대문': 4717}

In [97]:
acc = pd.Series(df_dict)
acc.name = '사고 횟수'

In [98]:
acc.rename({'서울중부' : '서울중부경찰서', '서울종로' : '서울종로경찰서',
              '서울남대문' : '서울남대문경찰서', '서울서대문' : '서울서대문경찰서',
              '서울혜화' : '서울혜화경찰서', '서울용산' : '서울용산경찰서', 
              '서울성북' : '서울성북경찰서','서울동대문' : '서울동대문경찰서'}, inplace = True)

In [99]:
df = pd.concat([df, park, jigudae, singo, cctv, drink, acc], axis = 1)

In [100]:
df

           보안등  공원 수  지구대 수   신고 횟수  cctv 설치대수  유흥업소 수  사고 횟수
서울중부경찰서   4818    14      7  142040       1563     206   1716
서울종로경찰서   5259    29     13  131752        805     150   1651
서울남대문경찰서  1078    16      7   91868        725      88   1514
서울서대문경찰서  6938    58      8  241937       2938      75   3015
서울혜화경찰서   4256    13      8  116059        784     143   1495
서울용산경찰서   9980    45      7  238101       2051     122   3408
서울성북경찰서   7047    29      6  140369       2015      36   2217
서울동대문경찰서     1    14     11  286603         26     150   4717

In [101]:
df.to_csv('관할서.csv')

In [2]:
df = pd.read_csv('관할서.csv')