In [1]:
import numpy as np
import pandas as pd

In [37]:
solo = pd.read_csv('../finalproject/SBJ_2107_004/15.5개시도_1인가구수.csv')
solo = solo.fillna(0)
solo = solo[(solo.sx=='계')&(solo.age=='합계')]

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
1056,서울특별시,강남구,계,합계,2017,62774,53464,19259,19654,1074,11334,2143,9310
2736,서울특별시,강남구,계,합계,2018,62727,52807,19038,18614,1045,11888,2222,9920
4416,서울특별시,강남구,계,합계,2019,66073,55051,19287,19693,1066,12763,2242,11022

In [34]:
## 하나의 구에 두개의 관할서가 있는 경우

## 강남구
## 수서경찰서
seoul_gagu_suseo = pd.read_csv('../finalproject/KOSIS/seoul_gagu/suseo.csv', encoding='cp949')
seoul_gagu_suseo = seoul_gagu_suseo.rename(columns=seoul_gagu_suseo.iloc[0])
seoul_gagu_suseo = seoul_gagu_suseo.drop(seoul_gagu_suseo.index[0])
seoul_gagu_suseo = seoul_gagu_suseo.iloc[:,[2,4]].astype(int)

## 강남경찰서
seoul_gagu_gangnam = pd.read_csv('../finalproject/KOSIS/seoul_gagu/gangnam.csv', encoding='cp949')
seoul_gagu_gangnam = seoul_gagu_gangnam.rename(columns=seoul_gagu_gangnam.iloc[0])
seoul_gagu_gangnam = seoul_gagu_gangnam.drop(seoul_gagu_gangnam.index[0])
seoul_gagu_gangnam = seoul_gagu_gangnam.iloc[:,[2,4]].astype(int)


## 종로구
## 종로경찰서
seoul_gagu_jongro = pd.read_csv('../finalproject/KOSIS/seoul_gagu/jongro.csv', encoding='cp949')
seoul_gagu_jongro = seoul_gagu_jongro.rename(columns=seoul_gagu_jongro.iloc[0])
seoul_gagu_jongro = seoul_gagu_jongro.drop(seoul_gagu_jongro.index[0])
seoul_gagu_jongro = seoul_gagu_jongro.iloc[:,[2,4]].astype(int)


## 혜화경찰서
seoul_gagu_hyehwa = pd.read_csv('../finalproject/KOSIS/seoul_gagu/hyehwa.csv', encoding='cp949')
seoul_gagu_hyehwa = seoul_gagu_hyehwa.rename(columns=seoul_gagu_hyehwa.iloc[0])
seoul_gagu_hyehwa = seoul_gagu_hyehwa.drop(seoul_gagu_hyehwa.index[0])
seoul_gagu_hyehwa = seoul_gagu_hyehwa.iloc[:,[2,4]].astype(int)


## 중구
## 남대문경찰서
seoul_gagu_namdaemun = pd.read_csv('../finalproject/KOSIS/seoul_gagu/namdaemun.csv', encoding='cp949')
seoul_gagu_namdaemun = seoul_gagu_namdaemun.rename(columns=seoul_gagu_namdaemun.iloc[0])
seoul_gagu_namdaemun = seoul_gagu_namdaemun.drop(seoul_gagu_namdaemun.index[0])
seoul_gagu_namdaemun = seoul_gagu_namdaemun.iloc[:,[2,4]].astype(int)


## 중부경찰서
seoul_gagu_jungbu = pd.read_csv('../finalproject/KOSIS/seoul_gagu/jungbu.csv', encoding='cp949')
seoul_gagu_jungbu = seoul_gagu_jungbu.rename(columns=seoul_gagu_jungbu.iloc[0])
seoul_gagu_jungbu = seoul_gagu_jungbu.drop(seoul_gagu_jungbu.index[0])
seoul_gagu_jungbu = seoul_gagu_jungbu.iloc[:,[2,4]].astype(int)


## 서초구
## 방배경찰서
seoul_gagu_bangbae = pd.read_csv('../finalproject/KOSIS/seoul_gagu/bangbae.csv', encoding='cp949')
seoul_gagu_bangbae = seoul_gagu_bangbae.rename(columns=seoul_gagu_bangbae.iloc[0])
seoul_gagu_bangbae = seoul_gagu_bangbae.drop(seoul_gagu_bangbae.index[0])
seoul_gagu_bangbae = seoul_gagu_bangbae.iloc[:,[2,4]].astype(int)



## 서초경찰서
seoul_gagu_seocho = pd.read_csv('../finalproject/KOSIS/seoul_gagu/seocho.csv', encoding='cp949')
seoul_gagu_seocho = seoul_gagu_seocho.rename(columns=seoul_gagu_seocho.iloc[0])
seoul_gagu_seocho = seoul_gagu_seocho.drop(seoul_gagu_seocho.index[0])
seoul_gagu_seocho = seoul_gagu_seocho.iloc[:,[2,4]].astype(int)



## 은평구
## 서부경찰서
seoul_gagu_seobu = pd.read_csv('../finalproject/KOSIS/seoul_gagu/seobu.csv', encoding='cp949')
seoul_gagu_seobu = seoul_gagu_seobu.rename(columns=seoul_gagu_seobu.iloc[0])
seoul_gagu_seobu = seoul_gagu_seobu.drop(seoul_gagu_seobu.index[0])
seoul_gagu_seobu = seoul_gagu_seobu.iloc[:,[2,4]].astype(int)



## 은평경찰서
seoul_gagu_eunpyeong = pd.read_csv('../finalproject/KOSIS/seoul_gagu/eunpyeong.csv', encoding='cp949')
seoul_gagu_eunpyeong = seoul_gagu_eunpyeong.rename(columns=seoul_gagu_eunpyeong.iloc[0])
seoul_gagu_eunpyeong = seoul_gagu_eunpyeong.drop(seoul_gagu_eunpyeong.index[0])
seoul_gagu_eunpyeong = seoul_gagu_eunpyeong.iloc[:,[2,4]].astype(int)


## 성북구
## 성북경찰서
seoul_gagu_sungbuk = pd.read_csv('../finalproject/KOSIS/seoul_gagu/sungbuk.csv', encoding='cp949')
seoul_gagu_sungbuk = seoul_gagu_sungbuk.rename(columns=seoul_gagu_sungbuk.iloc[0])
seoul_gagu_sungbuk = seoul_gagu_sungbuk.drop(seoul_gagu_sungbuk.index[0])
seoul_gagu_sungbuk = seoul_gagu_sungbuk.iloc[:,[2,4]].astype(int)


## 종암경찰서
seoul_gagu_jongam = pd.read_csv('../finalproject/KOSIS/seoul_gagu/jongam.csv', encoding='cp949')
seoul_gagu_jongam = seoul_gagu_jongam.rename(columns=seoul_gagu_jongam.iloc[0])
seoul_gagu_jongam = seoul_gagu_jongam.drop(seoul_gagu_jongam.index[0])
seoul_gagu_jongam = seoul_gagu_jongam.iloc[:,[2,4]].astype(int)

In [36]:
## 서울

def solo_calc(df):
    increase = (df.sum()[1] - df.sum()[0]) / 5
    solo_2016 = np.round(df.sum()[0]+increase)
    solo_2017 = np.round(solo_2016+increase)
    solo_2018 = np.round(solo_2017+increase)
    solo_2019 = np.round(solo_2018+increase)
    solo_dict = {'2017' : solo_2017, '2018' : solo_2018, '2019' : solo_2019, '2020' : df.sum()[1]}
    return pd.Series(solo_dict)

seoul_gagu_suseo = solo_calc(seoul_gagu_suseo)
seoul_gagu_gangnam = solo_calc(seoul_gagu_gangnam)
seoul_gagu_jongro = solo_calc(seoul_gagu_jongro)
seoul_gagu_hyehwa = solo_calc(seoul_gagu_hyehwa)
seoul_gagu_namdaemun = solo_calc(seoul_gagu_namdaemun)
seoul_gagu_jungbu = solo_calc(seoul_gagu_jungbu)
seoul_gagu_bangbae = solo_calc(seoul_gagu_bangbae)
seoul_gagu_seocho = solo_calc(seoul_gagu_seocho)
seoul_gagu_seobu = solo_calc(seoul_gagu_seobu)
seoul_gagu_eunpyeong = solo_calc(seoul_gagu_eunpyeong)
seoul_gagu_sungbuk = solo_calc(seoul_gagu_sungbuk)
seoul_gagu_jongam = solo_calc(seoul_gagu_jongam)

2017    44473.0
2018    45774.0
2019    47075.0
2020    48376.0
dtype: float64

In [47]:
## 서울

seoul_gagu_gangseo = solo[solo['sgg_nm'].str.contains('강서구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_jungrang = solo[solo['sgg_nm'].str.contains('중랑구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_dongjak = solo[solo['sgg_nm'].str.contains('동작구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_gangdong = solo[solo['sgg_nm'].str.contains('강동구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_gangbuk = solo[solo['sgg_nm'].str.contains('강북구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_gwanak = solo[solo['sgg_nm'].str.contains('관악구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_gwangjin = solo[solo['sgg_nm'].str.contains('광진구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_guro = solo[solo['sgg_nm'].str.contains('구로구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_geumchun = solo[solo['sgg_nm'].str.contains('금천구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_nowon = solo[solo['sgg_nm'].str.contains('노원구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_dobong = solo[solo['sgg_nm'].str.contains('도봉구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_dongdaemun = solo[solo['sgg_nm'].str.contains('동대문구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_mapo = solo[solo['sgg_nm'].str.contains('마포구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_seodaemun = solo[solo['sgg_nm'].str.contains('서대문구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_sungdong = solo[solo['sgg_nm'].str.contains('성동구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_songpa = solo[solo['sgg_nm'].str.contains('송파구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_yangchun = solo[solo['sgg_nm'].str.contains('양천구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_yungdeongpo = solo[solo['sgg_nm'].str.contains('영등포구', na=False)].loc[:,['date', 'single_person_hh']]

seoul_gagu_yongsan = solo[solo['sgg_nm'].str.contains('용산구', na=False)].loc[:,['date', 'single_person_hh']]

In [53]:
## 수원

suwon_gagu_jungbu = pd.read_csv('../finalproject/KOSIS/suwon_gagu/jungbu.csv', encoding='cp949')
suwon_gagu_jungbu = suwon_gagu_jungbu.rename(columns=suwon_gagu_jungbu.iloc[0])
suwon_gagu_jungbu = suwon_gagu_jungbu.drop(suwon_gagu_jungbu.index[0])
suwon_gagu_jungbu = suwon_gagu_jungbu.iloc[:,[2,4]].astype(int)
suwon_gagu_jungbu = solo_calc(suwon_gagu_jungbu)

suwon_gagu_seobu = pd.read_csv('../finalproject/KOSIS/suwon_gagu/seobu.csv', encoding='cp949')
suwon_gagu_seobu = suwon_gagu_seobu.rename(columns=suwon_gagu_seobu.iloc[0])
suwon_gagu_seobu = suwon_gagu_seobu.drop(suwon_gagu_seobu.index[0])
suwon_gagu_seobu = suwon_gagu_seobu.iloc[:,[2,4]].astype(int)
suwon_gagu_seobu = solo_calc(suwon_gagu_seobu)

suwon_gagu_nambu = pd.read_csv('../finalproject/KOSIS/suwon_gagu/nambu.csv', encoding='cp949')
suwon_gagu_nambu = suwon_gagu_nambu.rename(columns=suwon_gagu_nambu.iloc[0])
suwon_gagu_nambu = suwon_gagu_nambu.drop(suwon_gagu_nambu.index[0])
suwon_gagu_nambu = suwon_gagu_nambu.iloc[:,[2,4]].astype(int)
suwon_gagu_nambu = solo_calc(suwon_gagu_nambu)

2017    41116.0
2018    42710.0
2019    44304.0
2020    45899.0
dtype: float64

In [58]:
## 마산

masan_gagu_dongbu = solo[solo['sgg_nm'].str.contains('마산회원구', na=False)].loc[:,['date', 'single_person_hh']]
masan_gagu_jungbu = solo[solo['sgg_nm'].str.contains('마산합포구', na=False)].loc[:,['date', 'single_person_hh']]

## 창원

changwon_gagu_jungbu = pd.read_csv('../finalproject/KOSIS/changwon_gagu/jungbu.csv', encoding='cp949')
changwon_gagu_jungbu = changwon_gagu_jungbu.rename(columns=changwon_gagu_jungbu.iloc[0])
changwon_gagu_jungbu = changwon_gagu_jungbu.drop(changwon_gagu_jungbu.index[0])
changwon_gagu_jungbu = changwon_gagu_jungbu.iloc[:,[2,4]].astype(int)
changwon_gagu_jungbu = solo_calc(changwon_gagu_jungbu)

changwon_gagu_seobu = pd.read_csv('../finalproject/KOSIS/changwon_gagu/seobu.csv', encoding='cp949')
changwon_gagu_seobu = changwon_gagu_seobu.rename(columns=changwon_gagu_seobu.iloc[0])
changwon_gagu_seobu = changwon_gagu_seobu.drop(changwon_gagu_seobu.index[0])
changwon_gagu_seobu = changwon_gagu_seobu.iloc[:,[2,4]].astype(int)
changwon_gagu_seobu = solo_calc(changwon_gagu_seobu)

## 진해
jinhae_gagu = solo[solo['sgg_nm'].str.contains('진해구', na=False)].loc[:,['date', 'single_person_hh']]

## 진주
jinju_gagu = solo[solo['sgg_nm'].str.contains('진주', na=False)].loc[:,['date', 'single_person_hh']]

In [62]:
jinhae_gagu

      date  single_person_hh
1680  2017             19022
3360  2018             19964
5040  2019             20962

In [63]:
changwon_gagu_seobu

2017    20665.0
2018    21387.0
2019    22109.0
2020    22831.0
dtype: float64

In [64]:
seoul_gagu_seodaemun

      date  single_person_hh
576   2017             43418
2256  2018             44795
3936  2019             46449

In [65]:
seoul_gagu_eunpyeong

2017    28408.0
2018    30414.0
2019    32420.0
2020    34425.0
dtype: float64